mixin question(data)
  .question&attributes(attributes)
    a.question__header(href="#")
      h6.text-primary.mb-0 Нормативные акты, регламентирующие порядок проведения Конкурса?
    .question__content
      p Прием заявок на грантовый конкурс будет проходить через АИС «Молодежь России». Для это необходимо создать проект в разделе «Мои проекты», далее прикрепить его к мероприятию. Обращаем внимание что после подачи заявки вносить изменения в проект будет НЕВОЗМОЖНО. Для того чтобы внести изменения необходимо отозвать заявку, внести правки и подать ее снова.
