.question {
  margin-bottom: 16px;
  background: #fff;
  border-radius: 20px;

  &__header {
    padding: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      padding: 15px;
    }

    &:after {
      margin-left: 20px;
      display: block;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      content: '';
      background: url(../img/question-plus.svg) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(sm) {
        width: 16px;
        height: 16px;
      }
    }
  }

  &__content {
    padding: 0 23px 23px;
    display: none;
    max-width: 80%;

    @include media-breakpoint-down(sm) {
      padding: 0 15px 15px;
      max-width: none;
    }
  }

  &--active {

    .question__header {

      &:after {
        background: url(../img/question-minus.svg) no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }
}
