mixin feedback(data)
  .feedback&attributes(attributes)
    .feedback__photo(style="background-image: url(./img/" + data.photo + ');')
    .feedback__content
      .feedback__text-wrapper
        .feedback__text
          p.mb-0= data.dscr
      .feedback__footer
        p.p--sm.mb-0 14.04.2020
        p.p--sm.mb-0.text-uppercase Калининский ВИКТОР
        
