.feedback {
  padding: 45px 40px 50px;
  display: flex !important;
  max-width: 754px;
  min-height: 276px;
  background: #fff;
  border-radius: 20px;

  @include media-breakpoint-down(xml) {
    padding: 25px;
    max-width: 600px;
    min-height: 0;
  }

  & + & {
    margin-left: 40px;
  }

  &__photo {
    margin-right: 38px;
    width: 137px;
    height: 137px;
    flex-shrink: 0;
    background-position: top center;
    background-size: cover;
    border-radius: 50%;

    @include media-breakpoint-down(lg) {
      margin-right: 20px;
      width: 80px;
      height: 80px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
