.quarter {
  margin-bottom: 50px;
  display: block;

  &:hover {
    .quarter__picture {
      opacity: 0.8;
    }
  }

  &__picture {
    padding-top: 83%;
    position: relative;
    border-radius: 18px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    @include transition;

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.28) 100%);
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__picture-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 25px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media-breakpoint-down(lg) {
      padding: 15px;
    }
  }

  &__picture-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__picture-top-left {
  }

  &__icon {
    margin-left: 20px;
  }

  &__icon-img {
  }

  &__content {
    margin-top: 18px;
  }
}
