mixin modal(data)
  .modal&attributes(attributes)
    
    if data && data.modifier == 'concept'
      .modal__wrapper
        .modal__slider
          +modal__slider-item({
            id: '1'
          })
          +modal__slider-item({
            id: '2'
          })
          +modal__slider-item({
            id: '3'
          })
          +modal__slider-item({
            id: '4'
          })
          +modal__slider-item({
            id: '5'
          })
          +modal__slider-item({
            id: '6'
          })
              
              
mixin modal__slider-item(data)
  .modal__slider-item&attributes(attributes)
    .modal__slider-picture
      img.modal__slider-img(src="./img/modal-1.jpg", alt)
    .modal__slider-content
      h4.modal__slider-header.mb-20.font-secondary МАСКИ #{data.id}
      p.font-secondary Арт-объект – часть входной группы территории Тавриды, который представляет собой арку с двумя масками. Вместе они являются символами изящества, культуры и таланта. С этой арки начинается вход на территорию творчества архитекторов, художников, сценаристов, актёров, дизайнеров и других представителей направлений творчества, которым посвящены смены форума «Таврида». Маски также – символ театра, и именно году театра приурочен данный арт-объект
