mixin modal(data)
  .modal&attributes(attributes)
    
    if data && data.modifier == 'concept'
      .modal__wrapper
        //a.modal__slider-arrow.modal__slider-arrow--prev(href="#")
        .modal__slider
          .modal__slider-item
            .modal__slider-picture
              img.modal__slider-img(src="./img/modal-1.jpg", alt)
            .modal__slider-content
              h4.modal__slider-header.mb-20.font-secondary МАСКИ
              p.font-secondary Арт-объект – часть входной группы территории Тавриды, который представляет собой арку с двумя масками. Вместе они являются символами изящества, культуры и таланта. С этой арки начинается вход на территорию творчества архитекторов, художников, сценаристов, актёров, дизайнеров и других представителей направлений творчества, которым посвящены смены форума «Таврида». Маски также – символ театра, и именно году театра приурочен данный арт-объект
          .modal__slider-item
            .modal__slider-picture
              img.modal__slider-img(src="./img/modal-1.jpg", alt)
            .modal__slider-content
              h4.modal__slider-header.mb-20.font-secondary МАСКИ
              p.font-secondary Арт-объект – часть входной группы территории Тавриды, который представляет собой арку с двумя масками. Вместе они являются символами изящества, культуры и таланта. С этой арки начинается вход на территорию творчества архитекторов, художников, сценаристов, актёров, дизайнеров и других представителей направлений творчества, которым посвящены смены форума «Таврида». Маски также – символ театра, и именно году театра приурочен данный арт-объект
          .modal__slider-item
            .modal__slider-picture
              img.modal__slider-img(src="./img/modal-1.jpg", alt)
            .modal__slider-content
              h4.modal__slider-header.mb-20.font-secondary МАСКИ
              p.font-secondary Арт-объект – часть входной группы территории Тавриды, который представляет собой арку с двумя масками. Вместе они являются символами изящества, культуры и таланта. С этой арки начинается вход на территорию творчества архитекторов, художников, сценаристов, актёров, дизайнеров и других представителей направлений творчества, которым посвящены смены форума «Таврида». Маски также – символ театра, и именно году театра приурочен данный арт-объект
