.steps-list {
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 1 calc(100% / 6);
    margin-bottom: 40px;

    @include media-breakpoint-down(xl) {
      flex: 0 1 calc(100% / 4);
    }

    @include media-breakpoint-down(lg) {
      flex: 0 1 calc(100% / 3);
    }

    @include media-breakpoint-down(sm) {
      flex: 0 1 calc(100% / 2);
    }

    &:last-child {
      .steps-list__item-number {
        &:after {
          display: none;
        }
      }
    }
  }

  &__item-content {
  }

  &__item-number {
    display: flex;

    &:after {
      content: '';
      display: block;
      width: 100%;
    }
  }

  &__item-number-content {
    font-size: 40px;
    font-weight: 900;
    //    font-family: $font-family-serif;
    font-family: $font-family-secondary;
    line-height: 1.2;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 3px solid #fff;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(lg) {
      width: 40px;
      height: 40px;
      font-size: 30px;
    }
  }

  &__item-title {
    margin-top: 33px;
    padding-right: 25px;

    p {
      @include media-breakpoint-down(lg) {
        font-size: 13px;
      }
    }

    span {
      font-size: 12px;
      display: block;
      line-height: 1.25;
      color: #333;
      margin-top: 23px;
      font-weight: 400;
    }
  }

  &--yellow {
    .steps-list__item-number {
      &:after {
        background: url(../img/steps-list-arrow--yellow.svg) no-repeat center right 10px;
      }
    }

    .steps-list__item-number-content {
      color: #efc825;
      border-color: #efc825;
    }

    .steps-list__item-title {
      p {
        color: #fff;
      }
    }
  }

  &--blue {
    .steps-list__item-number {
      &:after {
        background: url(../img/steps-list-arrow--blue.svg) no-repeat center right 10px;
      }
    }

    .steps-list__item-number-content {
      color: $primary;
      border-color: $primary;
    }
  }
}
