mixin steps-list(data)
  .steps-list&attributes(attributes)
  
    if data && data.modifier == 'selection'
      +steps-list__item({
        number: '1',
        title: 'Регистрация участников на официальном сайте арт-кластера'
      })
      +steps-list__item({
        number: '2',
        title: 'Подача заявки в арт-квартал'
      })
      +steps-list__item({
        number: '3',
        title: 'Прикрепление портфолио'
      })
      +steps-list__item({
        number: '4',
        title: 'Видео-визитка “Хочу на Тавриду: почему я?”'
      })
      +steps-list__item({
        number: '5',
        title: 'Оценка визиток/портфолио участников кураторами арт-кварталов'
      })
      +steps-list__item({
        number: '6',
        title: 'Отправка писем с подтверждением участников'
      })
      
    else if data && data.modifier == 'application'
      +steps-list__item({
        number: '1',
        title: 'Зарегистрироваться* на официальном сайте и подать заявку в профильный арт-квартал или сквозной трек <span>*подать заявку можно только в ОДИН арт-квартал</span>'
      })
      +steps-list__item({
        number: '2',
        title: 'Прикрепить ссылку на портфолио'
      })
      +steps-list__item({
        number: '3',
        title: 'Прикрепить ссылку на видеовизитку «Хочу на Тавриду: почему я?»'
      })
      +steps-list__item({
        number: '4',
        title: 'Дождаться оценки кураторов арт-кварталов, которая появится в личном кабинете'
      })
      +steps-list__item({
        number: '5',
        title: 'Дождаться результатов рассмотрения заявки (в личном кабинете изменится статус заявки)'
      })


mixin steps-list__item(data)
  .steps-list__item&attributes(attributes)
    .steps-list__item-content
      .steps-list__item-number
        .steps-list__item-number-content= data.number
      .steps-list__item-title
        p.mb-0.p--xs.font-secondary.font-weight-bold!= data.title
