mixin festival-doc(data)
  .festival-doc&attributes(attributes)
    .festival-doc__content
      p.p--xs.text-uppercase.font-secondary.text-white.mb-10= data.title
      p.p--xs.text-uppercase.font-secondary.font-weight-normal.text-white= data.info
    .festival-doc__icon
      img.festival-doc__img(src="./img/" + data.icon, alt)
