html {
}

body {
  -webkit-font-smoothing: antialiased;

  &.body--popup {
    overflow: hidden;

    @include media-breakpoint-down(sm) {
      position: fixed;
    }

    &:after {
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: rgba(#000, .7);

      @include media-breakpoint-down(lg) {
        z-index: 3;
      }
    }
  }
}
