h1,
.h1 {
  font-family: $font-family-serif;
  font-size: 104px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;

  @include media-breakpoint-down(xml) {
    font-size: 80px;
  }

  @include media-breakpoint-down(xl) {
    font-size: 70px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 60px;
  }

  @include media-breakpoint-down(md) {
    font-size: 40px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 25px;
  }
}

h2,
.h2 {
  font-family: $font-family-serif;
  font-size: 96px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;

  @include media-breakpoint-down(xml) {
    font-size: 60px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 40px;
  }

  @include media-breakpoint-down(md) {
    font-size: 30px;
  }

  &.h2--default {
    font-size: 50px;
    color: $primary;

    @include media-breakpoint-down(lg) {
      font-size: 40px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 30px;
    }
  }
}

h3,
.h3 {
  font-family: $font-family-serif;
  font-size: 39px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;

  @include media-breakpoint-down(lg) {
    font-size: 25px;
  }
}

h4,
.h4 {
  font-family: $font-family-serif;
  font-size: 30px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;

  @include media-breakpoint-down(lg) {
    font-size: 25px;
  }

  @include media-breakpoint-down(md) {
    font-size: 20px;
  }
}

h5,
.h5 {
  font-family: $font-family-serif;
  font-size: 25px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;

  @include media-breakpoint-down(xml) {
    font-size: 20px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 16px;
  }
}

h6,
.h6 {
  font-family: $font-family-sans-serif;
  font-size: 23px;
  line-height: 1.3;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;

  @include media-breakpoint-down(xml) {
    font-size: 20px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 15px;
  }
}

p,
.p {
  font-family: $font-family-sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  color: $black;

  @include media-breakpoint-down(xml) {
    font-size: 18px;
  }

  &.p--sm {
    font-size: 15px;
    line-height: 1.15;
    font-weight: 700;

    &.text-uppercase {

      @include media-breakpoint-down(xml) {
        font-size: 13px;
      }
    }
  }

  &.p--xs {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
  }
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semi {
  font-weight: 600;
}

.text-gray {
  color: #828282;
}

.text-grayish {
  color: rgba($black, .5);
}

ul {
  margin-bottom: 0;
  padding-left: 0;

  li {
    position: relative;
    margin-bottom: 24px;
    padding-left: 27px;
    list-style: none;
    font-size: 20px;
    line-height: 1.2;
    color: $black;

    &:before {
      position: absolute;
      top: 8px;
      left: 0;
      display: block;
      width: 11px;
      height: 11px;
      content: '';
      background: #ce3b65;
      border-radius: 50%;
    }
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
}
