.step {
  position: relative;
  margin-bottom: 40px;

  &__icon {
  }

  &__number {
    margin: 35px 0;
    display: flex;
    width: 62px;
    height: 62px;
    justify-content: center;
    align-items: center;
    font-family: $font-family-serif;
    font-size: 40px;
    font-weight: 900;
    color: $primary;
    border: 3px solid $primary;
    border-radius: 50%;

    &:after {
      position: absolute;
      left: 90px;
      width: calc(100% - 90px);
      height: 16px;
      content: '';
      background: url(../img/step-arrow.svg) no-repeat left center;
      background-size: contain;
    }
  }

  &__header {
    margin-bottom: 15px;
    min-height: 50px;
    font-family: $font-family-sans-serif;
    font-weight: 700;
    text-transform: none;
    color: $black;

    @include media-breakpoint-down(xml) {
      min-height: 40px;
    }

    @include media-breakpoint-down(sm) {
      min-height: 0;
    }
  }

  &--last {

    .step__number {

      &:after {
        display: none;
      }
    }
  }
}
