.banner {
  margin: 85px 0;
  padding: 54px 75px;

  @include media-breakpoint-down(xml) {
    padding: 40px;
  }

  @include media-breakpoint-down(lg) {
    padding: 20px;
    margin: 40px 0;
  }

  h2 {
    color: #fff;

    @include media-breakpoint-down(xl) {
      font-size: 40px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 30px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px !important;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &--red {
    background: #ce3b65 url(../img/banner-red.png) no-repeat center right 10%;
    background-size: auto 100%;

    @include media-breakpoint-down(sm) {
      background-position: left center;
    }
  }

  &--blue {
    background: #67bac3 url(../img/banner-blue.png) no-repeat center right 10%;
    background-size: auto 100%;

    @include media-breakpoint-down(sm) {
      background-position: left center;
    }
  }

  &--green {
    background: #c9df55 url(../img/banner-green.png) no-repeat center right 10%;
    background-size: auto 100%;

    @include media-breakpoint-down(sm) {
      background-position: left center;
    }

    h2 {
      color: $dark;
    }
  }
}
