mixin lk-event(data)
  .lk-event&attributes(attributes)
    .lk-event__picture(style="background-image: url(./img/" + data.picture + ");")
    .lk-event__content
      .lk-event__content-top
        h4.mb-5.text-dark.font-secondary= data.title
        p.p--sm.font-secondary.font-weight-normal.lk-event__date 10.07.2020 - 12.07.2020
        p.p--xs.font-secondary= data.dscr
      .lk-event__content-bottom
        a.btn.btn-green.font-secondary.text-uppercase(href="#") Подробнее
