.anti-big {
  position: relative;
  margin-bottom: 40px;
  padding: 37px;
  display: flex;
  overflow: hidden;
  border-radius: 30px;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, .86) 0%, rgba(0, 0, 0, .44) 100%);
  }

  &__wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header-left {
    display: flex;
    align-items: center;
  }

  &__dates-header {
    margin-bottom: 0;
    margin-left: 30px;
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
  }

  &__online {
    padding: 12px 14px;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.25;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background: rgba(183, 206, 79, .2);
    border: 1px solid #c9df55;
    border-radius: 250px;

    &:before {
      margin-right: 15px;
      display: block;
      width: 16px;
      height: 16px;
      content: '';
      background: #c9df55;
      border-radius: 50%;
    }
  }

  &__content {
  }

  &__top {
  }

  &__dscr {
    margin-bottom: 0;
    line-height: 1.56 !important;
  }

  &__bottom {
    margin-top: 23px;
  }

  &__bottom-tasks {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    padding: 17px 40px;
    min-width: 260px;
    font-size: 16px;
  }

  &__bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
