.about {
  padding: 50px 0;
  background: #efc825 url(../img/about-bg.svg) no-repeat center;
  background-size: cover;

  &__slider {

    .slick-list {
      overflow: visible;
    }

    .slick-track {
      display: flex;

      .slick-slide {
        height: auto;
      }
    }

    & + & {
      margin-top: 80px;

      @include media-breakpoint-down(sm) {
        margin-top: 40px;
      }
    }
  }
}
