.transfer {
  padding: 75px 0 110px;
  background: #efc825;

  @include media-breakpoint-down(lg) {
    padding: 40px 0;
  }

  &__bus {
    display: flex;
    align-items: flex-start;
    padding-right: 15%;

    @include media-breakpoint-down(xml) {
      padding-right: 0;
    }

    @include media-breakpoint-down(lg) {
      margin-top: 60px;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__bus-img {
    flex-shrink: 0;
    margin-right: 56px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
      margin-right: 0;
    }
  }

  &__bus-content {
  }

  &__bus-comment {
    font-size: 12px;
    font-weight: 500;
    margin-top: 27px;
    font-family: $font-family-secondary;
    line-height: 1.2;
    color: rgba(#333, 0.5);
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 37px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-number {
    flex-shrink: 0;
    font-weight: 900;
    font-family: $font-family-serif;
    line-height: 1.2;
    font-size: 40px;
    color: $primary;
    border-radius: 50%;
    border: 3px solid $primary;
    margin-right: 33px;
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(lg) {
      width: 40px;
      height: 40px;
      font-size: 30px;
      margin-right: 20px;
    }
  }
}
