mixin faq(data)
  .faq&attributes(attributes)
    .container
      h2.h2--default.font-secondary.text-dark.mb-20.mb-lg-70 Часто задаваемые вопросы
      .row
        .col-xl-10.offset-xl-1
          +question({
            header: 'Нормативные акты, регламентирующие порядок проведения Конкурса?'
          })
          +question({
            header: 'Кто может принять участие в конкурсе?'
          })
          +question({
            header: 'Как принять участие в конкурсе?'
          })
          +question({
            header: 'До какого момента необходимо подать заявку?'
          })
          +question({
            header: 'Почему не сохраняется проект?'
          })
          +question({
            header: 'Должен ли соответствовать проект тематике антишколы или арт-квартала?'
          })
          +question({
            header: 'Какой срок реализации проекта?'
          })
          +question({
            header: 'Как проходит защита проекта?'
          })
          +question({
            header: 'Каковы критерии оценки'
          })
          +question({
            header: 'Какие документы необходимо прикрепить при подаче заявки'
          })
          +question({
            header: 'Что взять с собой ?'
          })
          +question({
            header: 'Нужна ли презентация на защиту проекта?'
          })
          +question({
            header: 'Сколько проектов я могу подать на грантовый конкурс?'
          })
          +question({
            header: 'Могу ли я защитить проект вместо другого человека?'
          })
          +question({
            header: 'Что делать если АИС «Молодежь России» выдал ошибку?'
          })
