mixin faq(data)
  .faq&attributes(attributes)
    .container
      h2.h2--default.font-secondary.text-dark.mb-20.mb-lg-70 Часто задаваемые вопросы
      .row
        .col-xl-10.offset-xl-1
          if data && data.modifier == 'residence'
            +question({
              header: 'Когда образовательный центр на территории арт-резиденции заработает в круглогодичном режиме?'
            })
            +question({
              header: 'Можно ли проехать на территорию арт-резиденции на личном автомобиле?'
            })
            +question({
              header: 'Как регулируются взаимоотношения арт-кластера с Республикой Крым и городом Судаком?'
            })
            +question({
              header: 'Будет ли доступ к морю и пляжам в районе арт-резиденции открытым для местных жителей и туристов?'
            })
            +question({
              header: 'На какой территории будет располагаться арт-резиденция? Планируется ли застройка территории крымского памятника природы «Полуостров Меганом»?'
            })
            +question({
              header: 'Планируется ли на территории арт-резиденции коммерческая деятельность?'
            })
            +question({
              header: 'В связи с чем «Таврида» во время фестиваля перекрывает дорогу, ведущую из Судака и в Судак?'
            })
            +question({
              header: 'Предусмотрены ли для судакской молодежи льготные условия на участие в фестивале и форуме, а также в других проектах арт-кластера?'
            })
            +question({
              header: 'Планируются ли образовательные и досуговые программы для детей г. Судака на территории арт-резиденции?'
            })
            +question({
              header: 'Смогут ли местные жители трудоустроиться в арт-резиденции?'
            })
          else
            +question({
              header: 'Нормативные акты, регламентирующие порядок проведения Конкурса?'
            })
            +question({
              header: 'Кто может принять участие в конкурсе?'
            })
            +question({
              header: 'Как принять участие в конкурсе?'
            })
            +question({
              header: 'До какого момента необходимо подать заявку?'
            })
            +question({
              header: 'Почему не сохраняется проект?'
            })
            +question({
              header: 'Должен ли соответствовать проект тематике антишколы или арт-квартала?'
            })
            +question({
              header: 'Какой срок реализации проекта?'
            })
            +question({
              header: 'Как проходит защита проекта?'
            })
            +question({
              header: 'Каковы критерии оценки'
            })
            +question({
              header: 'Какие документы необходимо прикрепить при подаче заявки'
            })
            +question({
              header: 'Что взять с собой ?'
            })
            +question({
              header: 'Нужна ли презентация на защиту проекта?'
            })
            +question({
              header: 'Сколько проектов я могу подать на грантовый конкурс?'
            })
            +question({
              header: 'Могу ли я защитить проект вместо другого человека?'
            })
            +question({
              header: 'Что делать если АИС «Молодежь России» выдал ошибку?'
            })


mixin faq-a(data)
  .faq&attributes(attributes)
    .container
      h2.h2--default.font-secondary.text-dark.mb-20.mb-lg-70 Часто задаваемые вопросы
      .row
        .col-xl-12 
            +question({
              header: 'Когда образовательный центр на территории арт-резиденции заработает в круглогодичном режиме?'
            })
            +question({
              header: 'Можно ли проехать на территорию арт-резиденции на личном автомобиле?'
            })
            +question({
              header: 'Как регулируются взаимоотношения арт-кластера с Республикой Крым и городом Судаком?'
            })
            +question({
              header: 'Будет ли доступ к морю и пляжам в районе арт-резиденции открытым для местных жителей и туристов?'
            })
            a.btn.btn-green.btn-green--new.mt-30(href='#') Положение программы
