
include ../blocks/front/front.pug
include ../blocks/header/header.pug
include ../blocks/menu/menu.pug
include ../blocks/socials/socials.pug
include ../blocks/wrapper/wrapper.pug
include ../blocks/section/section.pug
include ../blocks/socials/socials.pug
include ../blocks/feature/feature.pug
include ../blocks/advantages/advantages.pug
include ../blocks/event/event.pug
include ../blocks/item/item.pug
include ../blocks/content/content.pug
include ../blocks/about/about.pug
include ../blocks/news/news.pug
include ../blocks/feedback/feedback.pug
include ../blocks/slider/slider.pug
include ../blocks/partners/partners.pug
include ../blocks/footer/footer.pug
include ../blocks/logo/logo.pug
include ../blocks/info/info.pug
include ../blocks/timeline/timeline.pug
include ../blocks/headliner/headliner.pug

include ../blocks/map/map.pug
include ../blocks/registration/registration.pug
include ../blocks/form/form.pug
include ../blocks/input/input.pug
include ../blocks/art/art.pug
include ../blocks/part/part.pug
include ../blocks/award/award.pug
include ../blocks/anti/anti.pug
include ../blocks/header-inner/header-inner.pug
include ../blocks/select/select.pug
include ../blocks/anti-list/anti-list.pug
include ../blocks/signup/signup.pug
include ../blocks/hero/hero.pug
include ../blocks/team/team.pug
include ../blocks/flow/flow.pug
include ../blocks/step/step.pug
include ../blocks/dates/dates.pug

include ../blocks/highlights/highlights.pug
include ../blocks/summary/summary.pug
include ../blocks/field/field.pug
include ../blocks/participation/participation.pug
include ../blocks/faq/faq.pug
include ../blocks/question/question.pug
include ../blocks/story/story.pug
include ../blocks/item-slider/item-slider.pug
include ../blocks/document/document.pug
include ../blocks/cabinet/cabinet.pug
include ../blocks/applications/applications.pug
include ../blocks/link-back/link-back.pug
include ../blocks/footer-short/footer-short.pug
include ../blocks/partnership/partnership.pug
include ../blocks/partner-section/partner-section.pug
include ../blocks/partners-list/partners-list.pug
include ../blocks/anti-feature/anti-feature.pug
include ../blocks/anti-big/anti-big.pug
include ../blocks/workshop/workshop.pug
include ../blocks/workshop-team/workshop-team.pug
include ../blocks/workshop-stage/workshop-stage.pug
include ../blocks/lk-event/lk-event.pug
include ../blocks/residence/residence.pug
include ../blocks/concept/concept.pug
include ../blocks/modal/modal.pug
include ../blocks/card/card.pug
include ../blocks/quarter/quarter.pug
include ../blocks/structure/structure.pug
include ../blocks/timeline/timeline.pug
include ../blocks/conditions/conditions.pug
include ../blocks/transfer/transfer.pug
include ../blocks/procession/procession.pug
include ../blocks/banner/banner.pug
include ../blocks/exhibition/exhibition.pug
include ../blocks/steps-list/steps-list.pug
include ../blocks/streams/streams.pug
include ../blocks/streams-feature/streams-feature.pug
include ../blocks/stream-current/stream-current.pug
include ../blocks/prize/prize.pug
include ../blocks/streams-format/streams-format.pug
include ../blocks/streams-prize/streams-prize.pug
include ../blocks/casting-type/casting-type.pug
include ../blocks/announcement/announcement.pug
include ../blocks/castings-slider/castings-slider.pug
include ../blocks/casting/casting.pug
include ../blocks/casting-stream/casting-stream.pug
include ../blocks/parade/parade.pug