include ../blocks/_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
doctype html
html(lang='ru')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    block content
    script(src="js/vendor.js")
    script(src="js/scripts.js")
