.applications {
  margin-top: 7px;

  @include media-breakpoint-down(sm) {
    margin-top: 20px;
  }

  &__row {
    position: relative;
    padding: 17px 0;
    display: flex;
    min-height: 72px;
    align-items: center;
    border-bottom: 1px solid rgba(#000, .2);

    &--header {
      padding-bottom: 12px;
      min-height: 0;
      align-items: flex-start;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    @include media-breakpoint-down(sm) {
      padding: 10px 0 0;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__column {
    padding-right: 10px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }

    &:before {

      @include media-breakpoint-down(sm) {
        margin-bottom: 5px;
        display: block;
        font-size: 16px;
        content: attr(data-header);
      }
    }

    &:nth-child(1) {
      flex-basis: 25%;
    }

    &:nth-child(2) {
      flex-basis: 24%;
    }

    &:nth-child(3) {
      flex-basis: 24%;
    }

    &:nth-child(4) {
      flex-basis: 24%;
    }

    &:nth-child(5) {
      flex-basis: 3%;

      @include media-breakpoint-down(sm) {
        margin-bottom: 0;
        height: auto;
      }
    }

    &--controls {
      display: flex;
    }
  }

  &__header-item {
    font-size: 16px;
    font-weight: 600;
    color: #333;
  }

  &__status {
    margin-bottom: 0;

    &--accepted {
      color: #c9df55;
    }

    &--consideration {
      color: #efc825;
    }

    &--rejected {
      color: #ce3b65;
    }
  }

  &__status-reason {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 600;
    color: rgba(#333, .5);
  }

  &__edit {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/edit.svg) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .75;
    }

    @include media-breakpoint-down(sm) {
      position: absolute;
      top: 10px;
      right: 0;
    }

    &--inactive {
      background: url(../img/edit--inactive.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__remove {
    margin-left: 14px;
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/lk-remove.svg) no-repeat;
    background-size: contain;

    @include transition;

    @include media-breakpoint-down(sm) {
      position: absolute;
      top: 10px;
      right: 40px;
    }

    &:hover {
      opacity: .75;
    }
  }

  &--new {
    font-family: $font-family-secondary;

    @include media-breakpoint-down(sm) {
      margin-top: 0;
    }

    .applications__row {

      @include media-breakpoint-down(sm) {
        padding: 10px 0;
      }

      p {

        @include media-breakpoint-down(lg) {
          font-size: 14px !important;
        }

        @include media-breakpoint-down(sm) {
          font-size: 16px !important;
          font-weight: 400 !important;
        }
      }

      &--header {
        align-items: flex-end;

        @include media-breakpoint-down(md) {
          text-align: center;
        }
      }
    }

    .applications__header-item {
      padding-bottom: 5px;
      font-family: $font-family-secondary;
      font-size: 12px;
      line-height: 1.5;
      font-weight: 600;
      color: rgba(#333, .5);

      @include media-breakpoint-down(lg) {
        font-size: 11px;
      }
    }

    .applications__column {
      flex-basis: 1 !important;

      &:before {

        @include media-breakpoint-down(sm) {
          font-size: 17px;
          font-weight: 700;
        }
      }

      &:nth-child(1) {
        flex-basis: 10%;

        @include media-breakpoint-down(lg) {
          flex-basis: 14%;
        }
      }

      &:nth-child(2) {
        flex-basis: 16.5%;
      }

      &:nth-child(3) {
        flex-basis: 8%;
      }

      &:nth-child(4) {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 20%;

        @include media-breakpoint-down(sm) {
          align-items: flex-start;
        }
      }

      &:nth-child(5) {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 8.5%;

        @include media-breakpoint-down(sm) {
          align-items: flex-start;
        }

        .applications__header-item {
          text-align: center;
        }
      }

      &:nth-child(6) {
        flex-basis: 20%;

        @include media-breakpoint-down(sm) {
          margin-top: 20px;
          margin-bottom: 0;
        }
      }

      &:nth-child(7) {
        display: flex;
        justify-content: center;
        flex-basis: 5%;

        @include media-breakpoint-down(sm) {
          margin-bottom: 0;
          align-items: flex-start;
        }
      }
    }

    .applications__status {
      padding: 5px 10px;
      display: inline-flex;
      font-size: 14px;
      font-weight: 700 !important;
      text-align: center;
      color: #fff;
      border-radius: 3px;

      &--accepted {
        background: #476fb2;
      }

      &--consideration {
        background: #efc825;
      }

      &--rejected {
        background: #ce3b65;
      }
    }

    .applications__edit {
      width: 24px;
      height: 24px;
      background-position: center;
      background-size: 20px;
    }
  }
}
