.castings-slider {
  margin-bottom: 65px;
  overflow: hidden;

  &__content {
  }

  &__item {
    padding: 0 23px;
    display: flex;
    height: auto;
  }

  .slick-list {
    overflow: visible;
  }

  .slick-track {
    display: flex !important;
  }

  .slick-arrow {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    width: 92px;
    height: 92px;
    background: url(../img/slick-arrow-white.svg) no-repeat center;
    background-size: contain;
    top: 75px;
    margin-top: 0;

    &.slick-disabled {
      display: block;
    }

    &.slick-prev {
    }

    &.slick-next {
    }
  }
}
