mixin castings-slider(data)
  .castings-slider&attributes(attributes)
    .container
      h5= data.header
    +casting({
      picture: 'casting-1.jpg',
      title: 'Кастинг на роль мамочек в пьесу Виктора Разумова'
    })
    +casting({
      picture: 'casting-2.jpg',
      title: 'Шоу Голос на ТНТ'
    })
    +casting({
      picture: 'casting-3.jpg',
      title: 'Шоу Звезды в телике поют'
    })
    +casting({
      picture: 'casting-4.jpg',
      title: 'А ну ка спой'
    })
    +casting({
      picture: 'casting-1.jpg',
      title: 'Кастинг на роль мамочек в пьесу Виктора Разумова'
    })
    +casting({
      picture: 'casting-2.jpg',
      title: 'Шоу Голос на ТНТ'
    })
    +casting({
      picture: 'casting-3.jpg',
      title: 'Шоу Звезды в телике поют'
    })
    +casting({
      picture: 'casting-4.jpg',
      title: 'А ну ка спой'
    })
