mixin procession(data)
  .procession&attributes(attributes)
    .container
      h2.h2--default.text-white.font-secondary.mb-40.mb-lg-70 КАРНАВАЛЬНОЕ АРТ-ШЕСТВИЕ
      .row
        .col-lg-5
          .procession__item
            .procession__item-number 1
            .p.font-secondary.text-white.mb-0.text-uppercase АРТ-ШЕСТВИЕ
          .procession__item
            .procession__item-number 2000
            .p.font-secondary.text-white.mb-0.text-uppercase человек
          .procession__item
            .procession__item-number 6
            .p.font-secondary.text-white.mb-0.text-uppercase уникальных форм самовыражения
        .col-lg-6.mt-40.mt-lg-0
          .p.font-secondary.text-white.mb-0.text-uppercase.mb-lg-40.mb-20 Красочная процессия пройдет по всей территории арт-кластера и финиширует на главной площади Фестиваля
          .p.font-secondary.text-white.mb-20.mb-lg-40 Особенности
          ul.procession__features
            li Участники самостоятельно готовят свои костюмы
            li Мастерская по изготовлению костюмов
            li Конкурс на 10 лучших индивидуальных костюмов
            li Конкурс на лучшие костюмы для группы
            li Камера хранения для костюмов

