mixin award(data)
  .award&attributes(attributes)
    h3.award__header Премия молодых деятелей современного искусства «Таврида - Арт»
    a.btn.btn-outline-secondary(href="#") Узнать больше


mixin award02(t,d,pl)
  .award02.award&attributes(attributes)
    .container.container--default
      .row.mt-40.mt-lg-65
        .col-lg-10
          if t
            h2= t
          else
            h2.h2--default.font-secondary.text-dark.mb-45 ПРЕМИЯ «ЛЕГЕНДЫ ТАВРИДЫ»
          .row
            .award02__col.col-auto.mr-60
              img(src="img/calendar.svg", alt="")
              strong.award02__date= d
            .award02__col.col
              img(src="img/location.svg", alt="")
              .award02__place!= pl 
      block
      //- if p
      //-   +performance()
      //- if btn
      //-   button.btn.btn-green.btn-award(type="submit") Номинанты
      //- else 
      //-   block
      //- .award02__item
      //-   .row
      //-     .col-lg-6
      //-       .award02__img-wrap
      //-         img(src="img/esenin.jpg", alt="")
      //-     .col-lg-6
      //-       p Признание и&nbsp;дань уважения ‒ два основных посыла, лежащие в&nbsp;основе новой премии &laquo;Легенды Тавриды&raquo;. Участники и&nbsp;резиденты арт-кластера выразят благодарность легендарным личностям в&nbsp;мире культуры и&nbsp;искусства, за&nbsp;вклад в&nbsp;их&nbsp;профессиональное становление за&nbsp;6&nbsp;лет проведения форума &laquo;Таврида&raquo;. Художественный руководитель церемонии вручения премии ‒ художественный руководитель Московского театра Олега Табакова, народный артист Российской Федерации Владимир Машков.

        

