mixin award(data)
  .award&attributes(attributes)
    h3.award__header Премия молодых деятелей современного искусства «Таврида - Арт»
    a.btn.btn-outline-secondary(href="#") Узнать больше


mixin award02(data)
  .award02.award&attributes(attributes)
    .container
      h3 Премия &laquo;Легенды Тавриды&raquo;
      .row
        .award02__col.col-lg-2
          img(src="img/calendar.svg", alt="")
          .award02__date #[strong 25 октября]
        .award02__col.col-auto
          img(src="img/location.svg", alt="")
          .award02__place Московский театр Олега Табакова
      .award02__item
        .row
          .col-lg-6
            .award02__img-wrap
              img(src="img/esenin.jpg", alt="")
          .col-lg-6
            p Признание и&nbsp;дань уважения ‒ два основных посыла, лежащие в&nbsp;основе новой премии &laquo;Легенды Тавриды&raquo;. Участники и&nbsp;резиденты арт-кластера выразят благодарность легендарным личностям в&nbsp;мире культуры и&nbsp;искусства, за&nbsp;вклад в&nbsp;их&nbsp;профессиональное становление за&nbsp;6&nbsp;лет проведения форума &laquo;Таврида&raquo;. Художественный руководитель церемонии вручения премии ‒ художественный руководитель Московского театра Олега Табакова, народный артист Российской Федерации Владимир Машков.
      button.btn.btn-green.btn-award(type="submit") Номинанты