.award {
  margin-bottom: 40px;
  padding: 95px 100px 95px 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(../img/award.jpg) no-repeat center;
  background-size: cover;
  border-radius: 10px;

  @include media-breakpoint-down(xl) {
    padding: 50px 30px;
  }

  @include media-breakpoint-down(lg) {
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  &__header {
    max-width: 800px;
    font-size: 40px;

    @include media-breakpoint-down(xl) {
      max-width: 70%;
      font-size: 35px;
    }

    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
      max-width: none;
      font-size: 30px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 25px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 20px;
    }
  }
}

.award02 {
  background-image: none;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  @media (min-width: 576px) {
    padding-bottom: 56px;
  }
  padding-bottom: 5px;

  h3 {
    font-size: 50px;
    color: #333;
    font-family: $font-family-secondary;
    line-height: (61 / 50);
    margin-bottom: 30px;
  }

  &__col {
    display: flex;
    align-items: center;
    color: #333;
    font-family: $font-family-secondary;
    line-height: (30 / 20);
    font-size: 20px;
    @media (min-width: 1200px) {
      margin-bottom: 54px;
    }
    margin-bottom: 20px;
    img {
      margin-right: 23px;
    }
  }
  &__item {
    display: flex;
    @media (min-width: 1200px) {
      margin-bottom: 72px;
    }
    margin-bottom: 30px;
    .row {
      align-items: center;
    }
  }
  &__img-wrap {
    // width: 664px;
    // max-width: 664px;
    height: 460px;
    // border-radius: 20px;
    // overflow: hidden;
    // @media (min-width: 1200px) {
    //   margin-right: 142px;
    //   margin-bottom: 0;
    // }
    // margin-bottom: 30px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  p {
    // width: 659px;
    font-size: 24px;
    line-height: (36 / 24);
    font-family: $font-family-secondary;
    font-weight: normal;
  }
  .btn-award {
    width: 248px;
    height: 48px;
    font-size: 20px;
  }

  &--pb {
    padding-bottom: 33px;
  }
}
