.highlights {
  position: relative;

  &__content {
    padding: 80px 0;
    height: 100vh;

    @include media-breakpoint-down(md) {
      height: auto;
    }
  }

  &__section {
    margin-bottom: 50px;
  }

  &__section-picture {
    max-width: 100%;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__section-content {
    position: relative;
    padding: 0 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-breakpoint-down(xl) {
      padding: 0 50px;
    }

    @include media-breakpoint-down(lg) {
      padding: 0;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }

    &--wave {

      &:before {
        position: absolute;
        bottom: 15px;
        left: -145px;
        display: block;
        width: 304px;
        height: 104px;
        content: '';
        background: url(../img/wave.svg) no-repeat center;
        background-size: contain;

        @include media-breakpoint-down(xml) {
          width: 200px;
          height: 80px;
        }

        @include media-breakpoint-down(lg) {
          display: none;
        }
      }
    }
  }

  &__article {
    margin-bottom: 20px;
    display: block;

    @include media-breakpoint-down(sm) {
      margin-bottom: 40px;
    }

    &--column {

      .highlights__article-picture {

        &:after {
          position: absolute;
          top: 65%;
          right: -15px;
          display: block;
          width: 31px;
          height: 180px;
          content: '';
          background: url(../img/column.svg) no-repeat;
          background-size: contain;

          @include media-breakpoint-down(md) {
            display: none;
          }
        }
      }
    }

    &--dot {

      .highlights__article-picture {

        &:after {
          position: absolute;
          top: -37px;
          right: -37px;
          display: block;
          width: 70px;
          height: 70px;
          content: '';
          background: url(../img/dot.svg) no-repeat;
          background-size: contain;

          @include media-breakpoint-down(md) {
            display: none;
          }
        }
      }
    }
  }

  &__article-header {
    margin-bottom: 33px;
    color: $black;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__article-picture {
    position: relative;
    padding-top: 69%;
    background-position: center;
    background-size: cover;
  }

  &__article-number {
    position: absolute;
    top: 15px;
    right: 30px;
    font-family: $font-family-serif;
    font-size: 62px;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    background-image: url(../img/flow-mask.svg);
    background-position: center center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include media-breakpoint-down(lg) {
      font-size: 40px;
    }
  }

  &__article-content {
    padding-top: 30px;
  }

  &__article-title {
    font-family: $font-family-serif;
    font-size: 20px;
    line-height: 1;
    color: $primary;

    @include media-breakpoint-down(lg) {
      font-size: 18px;
    }
  }

  &__article-dscr {

    @include media-breakpoint-down(lg) {
      font-size: 16px;
    }
  }

  .ps__rail-y {
    display: none;
  }
}
