mixin highlights(data)
  .highlights&attributes(attributes)
    .container
      .highlights__content
        .highlights__section
          .row
            .col-md-6
              img.highlights__section-picture(src="./img/highlights-1.jpg", alt)
            .col-md-6.d-flex
              .highlights__section-content.highlights__section-content--wave
                h4.text-dark.mb-25.font-weight-black.font-secondary АРТ-КЛАСТЕР
                h5.h5--default.mb-0.font-secondary Таврида — это платформа, объединяющая на одной территории форум молодых деятелей культуры и искусства, фестиваль творческих сообществ «Таврида – АРТ», арт-парк и образовательный центр «Арт-резиденция «Таврида».
        .row
          .col-sm-6.col-lg-3
            +highlights__article({
              header: 'ФОРУМ МОЛОДЫХ ДЕЯТЕЛЕЙ КУЛЬТУРЫ И ИСКУССТВ «ТАВРИДА»',
              img: 'h-article-4.jpg',
              title: 'ПРОВОДИТСЯ С 2015 ГОДА',
              dscr: 'Ежегодно самый творческий форум объединяет на одной площадке лидеров креативных индустрий со всей страны. Фрешмены «Тавриды» (от 18 до 35 лет) под руководством признанных экспертов арт-рынка создают проекты, совместные коллаборации и творческие продукты во всех направлениях культуры и искусства: от архитектуры до поэзии, от музыки до индустрии моды'
            }).highlights__article--column-yellow
          .col-sm-6.col-lg-3
            +highlights__article({
              header: 'ФЕСТИВАЛЬ ФЕСТИВАЛЕЙ «ТАВРИДА – АРТ»',
              img: 'h-article-1.jpg',
              title: 'МИР. ЛЮБОВЬ. ИСКУССТВО.',
              dscr: 'Кастинги от лидеров креативных индустрий, грантовый конкурс и другие возможности для творческой самореализации участников, кемпинги сообществ, а также три ярких тематических дня фестиваля для широкой аудитории зрителей'
            }).highlights__article--wave
          .col-sm-6.col-lg-3
            +highlights__article({
              header: 'УНИКАЛЬНЫЙ ЛАНДШАФТ ДЛЯ ВДОХНОВЕНИЯ',
              img: 'h-article-2.jpg',
              title: 'ВДОХНОВЛЯЮЩИЙ УНИКАЛЬНЫМ ЛАНДШАФТОМ',
              dscr: 'Территория, наполненная инсталляциями и арт-объектами, созданными молодыми архитекторами, независимыми художниками, студентами профильных вузов, скульпторами и креативными дизайнерами городской среды'
            }).highlights__article--dot
          .col-sm-6.col-lg-3
            +highlights__article({
              header: 'АРТ-РЕЗИДЕНЦИЯ «ТАВРИДА»',
              img: 'h-article-3.jpg',
              title: 'КРУГЛОГОДИЧНАЯ ОБРАЗОВАТЕЛЬНАЯ ПЛОЩАДКА',
              dscr: 'Открытие стационарного образовательного центра для молодых деятелей культуры и искусств «Арт-резиденция «Таврида» планируется в 2022 году и позволит проекту перейти на круглогодичный и комплексный формат работы'
            }).highlights__article--column-pink

mixin highlights__article(data)
  a.highlights__article(href="#")&attributes(attributes)
    .highlights__article-picture(style="background-image: url(./img/" + data.img + ');')
     .highlights__article-header= data.header
     .highlights__article-decoration
    .highlights__article-content
      .highlights__article-title= data.title
      p.highlights__article-dscr= data.dscr
