.highlights {
  position: relative;
  font-family: $font-family-secondary;

  &__content {
    padding: 20px 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;

    @include media-breakpoint-down(md) {
      height: auto;
    }
  }

  &__section {
    margin-bottom: 30px;

    @media screen and (max-height: 799px) {
      margin-bottom: 20px;
    }
  }

  &__section-picture {
    max-width: 100%;
    border-radius: 20px;

    @include media-breakpoint-down(xml) {
      border-radius: 10px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__section-content {
    position: relative;
    padding-right: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-breakpoint-down(xl) {
      padding-right: 50px;
    }

    @media screen and (max-height: 799px) {
      padding-right: 0;
    }

    @include media-breakpoint-down(lg) {
      padding: 0;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }

    h4 {

      @media screen and (max-height: 799px) {
        font-size: 20px;
      }
    }

    h5 {
      font-size: 20px;

      @media screen and (max-height: 799px) {
        font-size: 16px;
      }
    }

    &--wave {
      padding-left: 130px;

      @include media-breakpoint-down(xl) {
        padding-left: 50px;
      }

      @include media-breakpoint-down(lg) {
        padding: 0;
      }

      &:before {
        position: absolute;
        bottom: 85px;
        left: -200px;
        display: block;
        width: 304px;
        height: 99px;
        content: '';
        background: url(../img/wave.svg) no-repeat center;
        background-size: contain;

        @include media-breakpoint-down(xml) {
          width: 200px;
          height: 80px;
        }

        @include media-breakpoint-down(lg) {
          display: none;
        }
      }
    }
  }

  &__article {
    display: block;

    @include media-breakpoint-down(md) {
      margin-bottom: 40px;
    }

    &:hover {

      .highlights__article-picture {

        &:before {
          opacity: 1;
        }

        &:after {
          opacity: 0;
        }
      }

      .highlights__article-header {
        text-decoration: underline;
      }
    }

    &--column-yellow {

      .highlights__article-decoration {
        top: -22px;
        left: -16px;
        width: 31px;
        height: 180px;
        background: #fec500;

        @include media-breakpoint-down(xl) {
          left: -10px;
          width: 20px;
          height: 120px;
        }
      }
    }

    &--column-pink {

      .highlights__article-decoration {
        bottom: 19px;
        left: -8px;
        width: 16px;
        height: 92px;
        background: #e2127e;
      }
    }

    &--dot {

      .highlights__article-decoration {
        top: -30px;
        right: -26px;
        width: 78px;
        height: 78px;
        background: #e30020;
        border-radius: 50%;
      }
    }

    &--wave {

      .highlights__article-decoration {
        right: -11px;
        bottom: 66px;
        width: 144px;
        height: 47px;
        background: url(../img/h-wave.svg) no-repeat center;
        background-size: contain;

        @include media-breakpoint-down(xl) {
          right: -15px;
          width: 100px;
          height: 32px;
        }
      }
    }
  }

  &__article-picture {
    position: relative;
    //    padding-top: 88.53%;
    padding-top: 70%;
    background-position: center;
    background-size: cover;
    border-radius: 20px;

    @include media-breakpoint-down(xml) {
      border-radius: 10px;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
      content: '';
      background: linear-gradient(180deg, rgba(36, 116, 183, .85) 50%, #2474b7 100%);
      border-radius: 20px;

      @include transition;

      @include media-breakpoint-down(xml) {
        border-radius: 10px;
      }
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: linear-gradient(180deg, rgba(36, 116, 183, 0) 50%, #2474b7 100%);
      border-radius: 20px;

      @include transition;

      @include media-breakpoint-down(xml) {
        border-radius: 10px;
      }

      @include media-breakpoint-down(lg) {
        background: linear-gradient(180deg, rgba(36, 116, 183, .2) 0%, #2474b7 100%);
      }
    }
  }

  &__article-header {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    padding: 25px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 900;
    color: #fff;

    @include media-breakpoint-down(xml) {
      padding: 15px;
      font-size: 16px;
    }

    @media screen and (max-height: 799px) {
      font-size: 14px;
    }
  }

  &__article-decoration {
    position: absolute;
    z-index: 1;
  }

  &__article-content {
    padding-top: 15px;

    @include media-breakpoint-down(md) {
      padding-top: 20px;
    }
  }

  &__article-title {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 900;
    color: $black;

    @include media-breakpoint-down(xml) {
      margin-bottom: 5px;
      font-size: 16px;
    }

    @media screen and (max-height: 799px) {
      font-size: 14px;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
    }
  }

  &__article-dscr {
    font-size: 16px;
    line-height: 1.25;

    @include media-breakpoint-down(xl) {
      font-size: 14px;
    }

    @media screen and (max-height: 799px) {
      line-height: 1.1;
    }

    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  .ps__rail-y {
    display: none;
  }
}
