.input {
  padding: 0 20px;
  height: 48px;
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
  color: #333;
  border: 1px solid #bdbdbd;
  border-radius: 5px;

  &:focus {
    border-color: #bdbdbd;
    box-shadow: none;
  }

  @include placeholder {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: rgba(#333, .5);
  }

  & + & {
    margin-top: 5px;
  }

  &--fb {
    padding-left: 40px;
    background: url(../img/form-fb.svg) no-repeat left 16px center;
  }

  &--vk {
    padding-left: 40px;
    background: url(../img/form-vk.svg) no-repeat left 16px center;
  }

  &--ig {
    padding-left: 40px;
    background: url(../img/form-ig.svg) no-repeat left 16px center;
  }

  &--textarea {
    padding-top: 15px;
    height: 153px !important;
    resize: none;
  }

  &--textarea-wide {
    height: 87px !important;
  }
}
