mixin concept(data)
  a.concept(href="#")&attributes(attributes)
    .concept__picture
      img.concept__picture-img(src="./img/" + data.picture, alt)
    .concept__wrapper
      .concept__comment * эскиз проекта
      .concept__content
        h4.mb-10.font-secondary.concept__title Место встречи творческих людей 
          span.text-yellow ...
        p.p--xs.font-secondary.concept__link(href="#") Подробнее
