.festival-grant {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 135px 0;

  @include media-breakpoint-down(lg) {
    padding: 40px 0;
  }

  &__wrapper {
    overflow: hidden;
  }

  &__picture {
    position: relative;
  }

  &__img {
    //    max-width: 1027px;
    //    position: absolute;
    //    bottom: -136px;
    //    left: 0;

    //    @include media-breakpoint-down(lg) {
    //      display: none;
    //    }
  }
}
