mixin festival-grant(data)
  .festival-grant&attributes(attributes)
    .container.container--default
      .row
        .col-xl-5.d-flex.align-items-center
          .festival-grant__content
            h2.h2--default.text-dark.font-secondary.mb-25 ГРАНТОВЫЙ КОНКУРС
            p.font-weight-semi.font-secondary.mb-35 На фестивале фестивалей «Таврида ‒ АРТ» прошел грантовый конкурс молодежных инициатив. Средства на реализацию проектов разделили между собой 30 участников из 19 регионов России.
        .col-xl-6.offset-xl-1.d-flex
          .festival-grant__picture
            img.festival-grant__img(src="./img/festival-grant-1.jpg", alt)
