mixin sFrom(data)
  .sFrom&attributes(attributes)
    .row
      .col-lg-4.col-xl-5
        p Каждый день, на протяжении всего фестиваля, мы будем #[strong транслировать самые яркие события.] Чтобы точно не пропустить наши трансляции, подпишись на уведомления.
      .col-lg-4.col-xl-3.align-self-end
        .sFrom__imgWrap
          img(src="img/paper-plane.svg", alt="")
      .col-lg-4
        .form-wrap
          .form-wrap__inputWrap
            input.input.form-control(type="email", placeholder="Ваш e-mail")
            button.form-wrap__btn(type="submit") Отправить
          .form-wrap__polite.text-center Нажимая кнопку, я соглашаюсь с #[a(href='#') правилами пользования сайтом Арт-кластера «Таврида»] и с #[a(href='#') политикой обработки и защиты персональных данных]
