mixin directions(data)
  .directions&attributes(attributes)
    .container.container--default
      h4.h4--default.font-weight-bold.font-secondary.text-dark.mb-81 Шоу резидентов арт-кластера «Таврида» ‒ это:
      .row
        .directions__col.col-xl-3
          .directions__item-wrap
            img(src="img/icon-1.svg", alt="")
            .directions__text коллаборация молодых исполнителей арт-кластера и известных артистов
        .directions__col.col-xl-3
          .directions__item-wrap
            img(src="img/icon-2.svg", alt="")
            .directions__text инструментальные и световые <br> перформансы,
        .directions__col.col-xl-3
          .directions__item-wrap
            img(src="img/icon-3.svg", alt="")
            .directions__text шоу-номера <br> резидентов
        .directions__col.col-xl-3
          .directions__item-wrap
            img(src="img/icon-4.svg", alt="")
            .directions__text симфонический оркестр, фольклорные ансамбли <br> и танцевальные <br> коллективы.