.stream-current {
  display: flex;
  align-items: flex-end;
  position: relative;
  min-height: 358px;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 40px;
  background-size: cover;
  background-position: top center;
  @include transition;

  @include media-breakpoint-down(xl) {
    min-height: 250px;
    padding: 20px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 70.83%, rgba(0, 0, 0, 0.61) 100%);
    left: 0;
    top: 0;
    position: absolute;
    border-radius: 20px;
  }

  &__title {
    font-family: $font-family-secondary;
    font-size: 23px;
    line-height: 28px;
    color: #fff;
    font-weight: 900;
    position: relative;
    z-index: 2;
    text-transform: uppercase;

    @include media-breakpoint-down(xl) {
      font-size: 17px;
    }
  }
}
