mixin festival-item(data)
  a.festival-item(href="#")&attributes(attributes)
    .festival-item__logo
      img.img-fluid(src="./img/" + data.logo, alt)
    .p.p--xs.font-weight-normal.font-secondary.text-dark.mb-0 Описание к логотипу для наглядности отображения
