.festival-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
  @include transition;

  &:hover {
    opacity: 0.8;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 42px;

    img {
      max-width: 282px;
      width: 100%;
    }
  }
}
