mixin performance(data)
  .performance&attributes(attributes)
  
    if data && data.modifier == 'ltr'
      .row
        .col-lg-5
          img.performance__picture(src="./img/" + data.picture, alt)
        .col-lg-5.offset-lg-1
          h4.text-dark.font-secondary.mb-25= data.title
          p.font-weight-normal.text-dark.font-secondary.mb-0= data.dscr
          
    if data && data.modifier == 'rtl'
      .row
        .col-lg-5.offset-lg-1
          h4.text-dark.font-secondary.mb-25= data.title
          p.font-weight-normal.text-dark.font-secondary.mb-0= data.dscr
        .col-lg-5.offset-lg-1
          img.performance__picture(src="./img/" + data.picture, alt)
