.socials {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-breakpoint-down(md) {
    flex-direction: row;
  }

  &__item {
    width: 24px;
    height: 24px;

    @include transition;

    @include media-breakpoint-down(md) {
      width: 20px;
      height: 20px;
    }

    &:hover {
      opacity: .8;
    }

    & + & {
      margin-top: 33px;

      @include media-breakpoint-down(md) {
        margin-top: 0;
        margin-left: 15px;
      }
    }

    &--vk {
      background: url(../img/vk.svg) no-repeat center;
      background-size: contain;
    }

    &--fb {
      background: url(../img/fb.svg) no-repeat center;
      background-size: contain;
    }

    &--tw {
      background: url(../img/tw.svg) no-repeat center;
      background-size: contain;
    }

    &--ig {
      background: url(../img/ig.svg) no-repeat center;
      background-size: contain;
    }
  }

  &--horisontal {
    flex-direction: row;

    .socials__item {
      width: 36px;
      height: 36px;

      & + .socials__item {
        margin-top: 0;
        margin-left: 53px;
      }
    }
  }
}
