.custom-scroll {
  --bs-primary: #CE3B65;
	scrollbar-color: var(--bs-primary)  #8a8a8a;

	scrollbar-width: thin;
	scrollbar-color: var(--bs-primary) #8a8a8a;
	&::-webkit-scrollbar-thumb {
		opacity: 1;
		display: block
	}

	&::-webkit-scrollbar-track {
		border: none;
		background-color:#8a8a8a;		border-color:#8a8a8a;		-webkit-box-shadow: none;
	}

	&::-webkit-scrollbar {
		width: 5px;
		height: 5px;
		background-color:#8a8a8a;		// border-right: 2px;
		/* or add it to the track */
		border-color:#8a8a8a;		opacity: 0;
		-webkit-box-shadow: none;

	}

	/* Add a thumb */
	&::-webkit-scrollbar-thumb {
		background: var(--bs-primary) ;
		border-radius: 2.5px;
	}

	&::-webkit-scrollbar-button {
		display: none
	}
}


.sAmbassadors {
  position: relative;
  overflow: hidden;
  .sPart__sub-title {
    margin-bottom: rem(35);
  }
  .drag{
    position: static;
  }
  .row {
    height: (524px + 114px);
    @include roww(0);
    // flex-wrap: wrap;
    align-items: center;
    overflow: visible !important;
  }
  &__img-wrap {
    background: #c4c4c4;
    border-radius: 40px;
    @include a-cent;
    width: var(--iw, 143.64px);
    height: var(--iw, 143.64px);
    // margin:  0 ;

    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__item {
    position: relative;
    flex: 0 0 auto;
    width: var(--iw, 143.64px);
    height: var(--iw, 143.64px);
    margin-right: var(--r, 20px);
    margin-left: var(--l, 0);
    margin-bottom: var(--b, 56px);
    cursor: pointer;
    display: block;
  }
  &__col:nth-child(8n + 1) &__item:nth-child(1) {
    --iw: #{rem(115)};
  }
  &__col:nth-child(8n + 1) &__item:nth-child(2) {
    --l: #{rem(10)};
    --r: #{rem(10)};
    --b: #{rem(56.86)};
  }
  &__col:nth-child(8n + 1) &__item:nth-child(3) {
    --l: #{rem(20)};
    --r: #{rem(54)};
    --b: #{rem(56.86)};
  }
  &__col:nth-child(8n + 2) &__item:nth-child(1) {
    --iw: #{rem(144)};
    --r: #{rem(62)};
    --b: #{rem(47)};
  }

  &__col:nth-child(8n + 2) &__item:nth-child(2) {
    --iw: #{rem(172)};
    --r: #{rem(0)};
    --l: #{rem(10)};
    // --b:#{rem(47)};
  }
  &__col:nth-child(8n + 3) &__item:nth-child(1) {
    --iw: #{rem(170)};
    --r: #{rem(62)};
    --l: #{rem(-10)};
    margin-top: rem(-60);
    // --b:#{rem(47)};
  }
  &__col:nth-child(8n + 3) &__item:nth-child(2) {
    --iw: #{rem(144)};
    --r: #{rem(47)};
    --l: #{rem(27)};
    // --b:#{rem(47)};
  }

  &__col:nth-child(8n + 4) &__item:nth-child(1) {
    --iw: #{rem(144)};
    --r: #{rem(62)};
    --b: #{rem(57)};
  }

  &__col:nth-child(8n + 4) &__item:nth-child(2) {
    --iw: #{rem(170)};
    --r: #{rem(0)};
    --l: #{rem(10)};
    // --b:#{rem(47)};
  }
  &__col:nth-child(8n + 5) &__item:nth-child(1) {
    // --iw: #{rem(144)} ;
    margin-top: rem(-20);
    --l: #{rem(-10)};
    --r: #{rem(84)};
    --b: #{rem(44)};
  }

  &__col:nth-child(8n + 5) &__item:nth-child(2) {
    --iw: #{rem(170)};
    --r: #{rem(0)};
    --l: #{rem(10)};
    --b: #{rem(54)};
  }
  &__col:nth-child(8n + 5) &__item:nth-child(3) {
    // --iw: #{rem(170)};
    --r: #{rem(54)};
    --l: #{rem(10)};
    // --b:#{rem(47)};
  }
  &__col:nth-child(8n + 6) &__item:nth-child(1) {
    // --iw: #{rem(144)} ;
    // margin-top: rem(-20);
    --l: #{rem(0)};
    --r: #{rem(54)};
    --b: #{rem(44)};
  }

  &__col:nth-child(8n + 6) &__item:nth-child(2) {
    // --iw: #{rem(170)};
    --r: #{rem(50)};
    --l: #{rem(10)};
    --b: #{rem(54)};
  }
  // &__col:nth-child(8n + 6) &__item:nth-child(3) {
  //   // --iw: #{rem(170)};
  //   --r:#{rem(54)};
  //   --l:#{rem(10)};
  //   // --b:#{rem(47)};
  // }
  &__col:nth-child(8n + 7) &__item:nth-child(1) {
    --iw: #{rem(115)};
    // margin-top: rem(-20);
    --l: #{rem(0)};
    --r: #{rem(54)};
    --b: #{rem(59)};
  }

  &__col:nth-child(8n + 7) &__item:nth-child(2) {
    // --iw: #{rem(170)};
    --r: #{rem(50)};
    --l: #{rem(0)};
    --b: #{rem(44)};
  }
  &__col:nth-child(8n + 7) &__item:nth-child(3) {
    --iw: #{rem(170)};
    --r: #{rem(54)};
    --l: #{rem(10)};
    // --b:#{rem(47)};
  }
  // }
  &__col:nth-child(8n + 8) &__item:nth-child(1) {
    --iw: #{rem(115)};
    // margin-top: rem(-20);
    --l: #{rem(-40)};
    --r: #{rem(54)};
    --b: #{rem(59)};
  }

  &__col:nth-child(8n + 8) &__item:nth-child(2) {
    // --iw: #{rem(170)};
    --r: #{rem(50)};
    --l: #{rem(0)};
    --b: #{rem(44)};
  }
&__item{
  position: relative;
  display: block;
  outline: none !important;
}
  &__item:hover{
    z-index: 10;
  }
  &__item:hover &__card{
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }
  &__item:last-child  &__card{
    top: auto;
    margin-top: 0;
    bottom: -50px;
  }
}
.amb-read-more{
  color: #476FB2;
}
.sAmbassadors__card{
  font-weight: bold;
  // @include a-cent();
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: rem(-250 / 2);
  margin-top: rem(-(288 + 82) / 2);
  width: rem(250);
  background-color: #ffffff;
  height: auto;
  min-height: rem(288 + 82);
  box-shadow: 0px 3.65438px 50px rgba(0, 0, 0, 0.35);
  border-radius: 40px;
  text-align: center;
  text-align: center;
  @extend .font-secondary;
  @include mt(.1s);
  transform-origin: center center;
  opacity: 0;
  transform: scale(1);
  visibility: hidden;
  .amb-name{
    color: #000000;
  }
  .sAmbassadors__img-wrap{
      position: relative;
      border: 6px solid #FFFFFF;
      box-sizing: border-box;
      /* 2 */
      box-shadow:  0px 3.65438px 50px rgba(0, 0, 0, 0.35);
      border-radius: 40px;
      margin-bottom: 1rem;
      --iw: #{rem(250)};
  }
}

.modal--amb{
  padding: rem(26) rem(40);
  padding-right: 10px; 
  @include media-breakpoint-up(md){
    border-radius: 20px;
  }

  .sAmbassadors__img-wrap{
    @include media-breakpoint-up(md){

      --iw: #{rem(250)};
    }
    --iw: #{rem(100)};
    // --iw: #{rem(250)};
    
  }
  h6{
    color: #476FB2;
    font-weight: 900;
    font-size: rem(20);
    margin-bottom: rem(20);
  }
  *{
    @extend .font-secondary;
    
  }
  p{
    font-weight: normal;
    @include media-breakpoint-up(md){
      font-size: 20px;
    }
    font-size: 16px;
  }
  .row{
    .sAmbassadors__img-wrap{
      position: relative;
      border: 6px solid #FFFFFF;
      box-sizing: border-box;
      /* 2 */
      box-shadow:  0px 3.65438px 50px rgba(0, 0, 0, 0.35);
      border-radius: 40px;
      margin-bottom: 1rem;
    }

  }
}
.modal-title{
  font-weight: 900;
  @include media-breakpoint-up(md){
    font-size: rem(50);
  }
  font-size: rem(30);
  margin-bottom: rem(30);
}
.amb-name{
  font-weight: bold;
  @include media-breakpoint-up(md){
    font-size: 20px;
  }
  font-size: 16px;
}
.amb-addr{
  @include media-breakpoint-up(md){
    font-size: 20px;
  }
  font-size: 16px;

}

.amb-text{
  overflow-y: auto;
  position: relative;
  max-height: rem(530);
  @extend .custom-scroll;
}

