mixin sAmbassadors(data)
  +b.sAmbassadors&attributes(attributes)
    .container
      h2.h2--default.font-secondary.text-dark.mb-30 Амбассадоры — 2020
      .sPart__sub-title Программа кадрового резерва &laquo;Тавриды&raquo; реализуется с&nbsp;2019&nbsp;года. В&nbsp;2020 году 83&nbsp;резидента прошли конкурсный отбор и&nbsp;стали официальными представителями арт-кластера &laquo;Таврида&raquo; в&nbsp;своем регионе.
      .drag.mb-20.js-drag-amb
        .row.drag__content.js-drag-amb-content
          mixin item()
            a.sAmbassadors__item(href="#ambModal", data-fancybox)
            
              .sAmbassadors__img-wrap
                img(src="img/avatar.png" loading="lazy", alt="")
              .sAmbassadors__card
                .sAmbassadors__img-wrap
                  img(src="img/avatar.png" loading="lazy", alt="")
                .sAmbassadors__caption
                  .amb-name Игорь  Максагановский
                  .amb-read-more читать интервью
          - for (var x = 0; x < 3; x++)
            +e.col.col-auto
              +item()
              +item()
              +item()
            +e.col.col-auto
              +item()
              +item()
            +e.col.col-auto
              +item()
              +item()
            +e.col.col-auto
              +item()
              +item()
            +e.col.col-auto
              +item()
              +item()
              +item()
            +e.col.col-auto
              +item()
              +item()
            +e.col.col-auto
              +item()
              +item()
              +item()
            +e.col.col-auto
              +item()
              +item()
            // line
          .modal.modal--amb#ambModal
            .modal-title Интервью
            .row
              .col-auto
                .sAmbassadors__img-wrap
                  img(src="img/avatar.png" loading="lazy", alt="")
                .amb-name Игорь  Максагановский
                .amb-addr г. Москва
              .col

                .amb-text
                  - for (var x = 0; x < 6; x++)
                    h6 Оплачивается ли работа амбассадора?
                    p Нет, работа амбассадора не оплачивается. За свою активность амбассадоры получают возможность напрямую работать с оргкомитетом, проходить образовательные курсы от партнеров арт-кластера, прокачивать soft skills, посещать форум и фестиваль в качестве организатора, иметь крутую джинсовку и другой мерч от «Тавриды» и много чего еще.


