@import 'bootstrap';

@import 'mixins';

/* Plugins */
@import 'plugins/fullpage.min';

@import 'plugins/slick';

@import 'plugins/perfect-scrollbar';

@import 'plugins/select2.min';

@import 'plugins/jquery.mCustomScrollbar.min';

@import 'plugins/plugins-rewrite';

/* Global styles */
@import 'global/global-fonts';

@import 'global/global-typo';

@import 'global/global-scaffolding';

/* Blocks */

@import './src/blocks/front/front';

@import './src/blocks/logo/logo';

@import './src/blocks/header/header';

@import './src/blocks/menu/menu';

@import './src/blocks/socials/socials';

@import './src/blocks/wrapper/wrapper';

@import './src/blocks/section/section';

@import './src/blocks/feature/feature';

@import './src/blocks/advantages/advantages';

@import './src/blocks/event/event';

@import './src/blocks/item/item';

@import './src/blocks/content/content';

@import './src/blocks/about/about';

@import './src/blocks/news/news';

@import './src/blocks/feedback/feedback';

@import './src/blocks/slider/slider';

@import './src/blocks/partners/partners';

@import './src/blocks/footer/footer';

@import './src/blocks/info/info';

@import './src/blocks/timeline/timeline';

@import './src/blocks/headliner/headliner';

@import './src/blocks/map/map';

@import './src/blocks/registration/registration';

@import './src/blocks/form/form';

@import './src/blocks/input/input';

@import './src/blocks/art/art';

@import './src/blocks/part/part';

@import './src/blocks/award/award';

@import './src/blocks/anti/anti';

@import './src/blocks/header-inner/header-inner';

@import './src/blocks/select/select';

@import './src/blocks/anti-list/anti-list';

@import './src/blocks/signup/signup';

@import './src/blocks/hero/hero';

@import './src/blocks/team/team';

@import './src/blocks/flow/flow';

@import './src/blocks/group/group';

@import './src/blocks/step/step';
