@import 'bootstrap';

@import 'mixins';

/* Plugins */
@import 'plugins/fullpage.min';

@import 'plugins/plugins-rewrite';

/* Global styles */
@import 'global/global-fonts';

@import 'global/global-typo';

@import 'global/global-scaffolding';

/* Blocks */

@import './src/blocks/front/front';

@import './src/blocks/header/header';

@import './src/blocks/menu/menu';

@import './src/blocks/socials/socials';

@import './src/blocks/wrapper/wrapper';

@import './src/blocks/section/section';

@import './src/blocks/feature/feature';

@import './src/blocks/advantages/advantages';

@import './src/blocks/event/event';

@import './src/blocks/item/item';

@import './src/blocks/content/content';

@import './src/blocks/about/about';

@import './src/blocks/news/news';

@import './src/blocks/feedback/feedback';

@import './src/blocks/slider/slider';

@import './src/blocks/partners/partners';

@import './src/blocks/footer/footer';

@import './src/blocks/logo/logo';
