.team {

  &__front {
    position: relative;
    padding: 200px 0 160px;
    min-height: 670px;
    background-position: top center;
    background-size: cover;

    @include media-breakpoint-down(md) {
      padding: 150px 0 100px;
      min-height: 400px;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    }
  }

  &__front-wrapper {
    position: relative;
    z-index: 1;
  }

  &__front-back {
    margin-bottom: 65px;
    display: block;
    width: 36px;
    height: 30px;
    background: url(../img/team-back.png) no-repeat;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .75;
    }
  }

  &__front-content {
    padding-left: 125px;
    display: flex;

    @include media-breakpoint-down(xl) {
      padding-left: 0;
    }

    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }
  }

  &__front-title {
  }

  &__front-info {
    margin-left: 100px;
    padding-top: 12px;

    @include media-breakpoint-down(xl) {
      padding-top: 0;
    }

    @include media-breakpoint-down(lg) {
      margin-left: 0;
    }
  }

  &__front-info-dscr {
    max-width: 360px;

    @include media-breakpoint-down(lg) {
      max-width: none;
    }
  }

  &__front-age {
    font-family: $font-family-serif;
    font-size: 52px;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    background-image: url(../img/team-front-mask.svg);
    background-position: center -10px center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__front-type {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #fff;
  }

  &__info {
    margin: 90px 0;

    ul {
      margin-bottom: 0;
      padding-left: 0;

      li {
        position: relative;
        margin-bottom: 24px;
        padding-left: 27px;
        list-style: none;
        font-size: 20px;
        line-height: 1.2;
        color: $black;

        &:before {
          position: absolute;
          top: 8px;
          left: 0;
          display: block;
          width: 11px;
          height: 11px;
          content: '';
          background: #ce3b65;
          border-radius: 50%;
        }
      }
    }
  }

  &__info-dscr {
    margin-bottom: 0;
    font-family: $font-family-sans-serif;
    line-height: 1.2;
    font-weight: 600;
    text-transform: none;
    color: $black;
  }

  &__info-reasons {

    @include media-breakpoint-down(md) {
      margin-top: 40px;
    }
  }

  &__info-reasons-header {
    margin-bottom: 40px;
    font-family: $font-family-sans-serif;
    font-weight: 700;
    text-transform: none;
    color: $black;

    @include media-breakpoint-down(xl) {
      margin-bottom: 20px;
    }
  }

  &__info-field {
    margin-top: 40px;
    margin-bottom: 0;
    font-family: $font-family-sans-serif;
    font-weight: 400;
    text-transform: none;
    color: $black;
  }
}
