.hero {
  position: relative;
  padding: 150px 0 50px;
  display: flex;
  min-height: 100vh;
  align-items: center;
  background-position: top center;
  background-size: cover;

  @include media-breakpoint-down(md) {
    min-height: 500px;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  }

  &__content {
    position: relative;
    z-index: 1;
    padding-left: 125px;

    @include media-breakpoint-down(lg) {
      padding-left: 0;
    }
  }

  &__link-back {
    position: relative;
    z-index: 1;
    margin-top: 60px;
    margin-bottom: 100px;
    background: url(../img/link-back--white.png) no-repeat !important;
    background-size: contain !important;

    @include media-breakpoint-down(xl) {
      margin-top: 0;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 40px !important;
    }
  }
}
