mixin hero(data)
  .hero(style="background-image: url(./img/" + data.bg + ');')&attributes(attributes)
    +header-inner({
      modifier: 'new'
    }).header-inner--alone
    .container
      if data && data.modifier == 'linkBack'
        a.link-back.hero__link-back(href="#")
      .hero__content
        h1.mb-0!= data.title
