mixin story(data)
  .story&attributes(attributes)
    a.story__media(href="#", style="background-image: url(./img/" + data.img + ");")
    .story__content
      .story__header
        p.p--xs.text-uppercase= data.name
        .story__place= data.place
      p.mb-0= data.project
