.fun {
  margin-bottom: 90px;
  @include transition;
  display: block;

  @include media-breakpoint-down(sm) {
    margin-bottom: 40px;
  }

  &:hover {
    opacity: 0.8;
  }

  &__photo {
    padding-top: 83%;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    margin-bottom: 35px;
    border-radius: 20px;
  }

  &__name {
    margin-bottom: 17px;
    font-size: 25px;
    line-height: 150%;
  }

  &__descr {
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
  }

  &--participants {
    padding-bottom: 30px;
    max-width: 474px;
    margin: 0 auto;

    .fun__photo {
      max-width: 383px;
      margin: 0 auto 33px;
    }
  }
}
