mixin anti(data)
  .anti(style="background-image: url(./img/" + data.picture + ");")&attributes(attributes)
    .anti__content
      .anti__header
        .anti__type ТВОРЧЕСКАЯ АНТИШКОЛА 
        img.anti__number(src="./img/" + data.number + '.svg', alt)
      .anti__footer
        h6.anti__title= data.title
        .anti__date 13 - 16 МАЯ

