.anti {
  position: relative;
  margin-bottom: 40px;
  //  padding: 40px 20px 40px 40px;
  padding: 67px 45px 60px 67px;
  display: flex;
  width: 100%;
  min-height: 330px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;

  @include transition;

  @include media-breakpoint-down(xl) {
    padding: 20px;
    min-height: 0;
  }

  &:hover {
    transform: scale(1.05);
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, .28) 100%);
    border-radius: 20px;
  }

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(xl) {
      margin-bottom: 50px;
    }
  }

  &__type {
    font-family: $font-family-serif;
    font-size: 20px;
    line-height: 1;
    font-weight: 900;
    word-spacing: 100vw;
    text-transform: uppercase;
    color: #fff;
  }

  &__number {
    opacity: .7;
    font-family: $font-family-serif;
    font-size: 227px;
    line-height: .7;
    font-weight: 900;
    color: #fff;
    background-image: url(../img/mask.svg);
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include media-breakpoint-down(xl) {
      font-size: 100px;
    }

    @include media-breakpoint-down(md) {
      font-size: 80px;
    }
  }

  &__footer {
  }

  &__date {
    margin-bottom: 15px;
    font-size: 23px;
    font-weight: 900;
    color: #fff;
  }

  &__title {
    margin-bottom: 20px;
    font-family: $font-family-serif;
    font-size: 25px;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;

    @include media-breakpoint-down(xl) {
      font-size: 18px;
    }
  }

  &__dscr {
    padding-right: 40px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    color: #fff;

    @include media-breakpoint-down(xl) {
      font-size: 15px;
    }

    @include media-breakpoint-down(md) {
      padding-right: 0;
    }
  }
}
