.streams {
  &__front {
    background-size: cover;
    background-position: top center;
    position: relative;
    padding: 200px 0 160px;
    min-height: 670px;
    margin-bottom: 88px;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    }
  }

  &__front-content {
    position: relative;
    z-index: 1;
  }

  &__front-header {
    font-size: 90px;
    line-height: 1.1;
    font-family: $font-family-secondary;
    margin-bottom: 45px;
  }

  &__front-subheader {
    font-size: 52px;
    line-height: 1.15;
    text-transform: uppercase;
    color: #fff;
    font-family: $font-family-secondary;
    margin-bottom: 35px;
  }

  &__front-comment {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    color: #fff;
    font-family: $font-family-secondary;

    a {
      color: #f29400;
      font-size: 20px;
    }
  }

  &__features {
    margin-bottom: 115px;
  }

  &__features-btn {
    margin-top: 105px;
  }

  &__formats {
  }

  &__formats-column {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__formats-item {
    &--red {
      border-color: #ce3b65 !important;
    }
  }

  &__formats-comment {
    font-size: 16px;
    line-height: 1.5;
    color: rgba(#333, 0.5);
    font-weight: 700;
    font-family: $font-family-secondary;
    margin-top: 45px;
    margin-bottom: 60px;
  }

  &__document {
    width: 100%;
    display: block;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $primary;
    font-size: 20px;
    font-weight: 600;
    font-family: $font-family-secondary;
    line-height: 1.2;
    color: $primary;
    flex-shrink: 0;
    padding: 45px 70px;

    &:before {
      content: '';
      display: block;
      width: 62px;
      height: 62px;
      margin-right: 24px;
      background: url(../img/document-icon.svg) no-repeat center;
      background-size: contain;
      flex-shrink: 0;
    }
  }

  &__participation {
    background: #715f7a;
    padding: 55px 0 90px;
  }

  &__participation-item {
    display: flex;
    align-items: center;

    &--left {
    }

    &--right {
      padding-left: 40px;

      &:before {
        content: '';
        display: block;
        width: 389px;
        height: 173.5px;
        display: block;
        background: url(../img/stream-timeline-arrows.svg) no-repeat center;
        margin-right: -15px;
        flex-shrink: 0;
      }
    }

    &--sm {
      .streams__participation-item-content {
        font-size: 16px;
      }
    }

    &:last-child {
      &:before {
        background: url(../img/streams-timeline-arrow--last.svg) no-repeat top center;
        background-size: contain;
      }
    }
  }

  &__participation-item-number {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 500;
    font-family: $font-family-secondary;
    color: #fff;
    border: 3px solid #efc825;
    margin-right: 25px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #715f7a;
    flex-shrink: 0;
  }

  &__participation-item-content {
    font-size: 20px;
    line-height: 1.2;
    color: #fff;
    font-weight: 600;
    font-family: $font-family-secondary;

    a {
      color: #efc825;
    }
  }
}
