mixin fashion(data)
  .fashion&attributes(attributes)
    .container.container--default
      .fashion__wrapper
        img.fashion__picture(src="./img/fashion.png", alt)
        h2.fashion__header.font-secondary.text-dark.h2--default.mb-0 Модный показ от молодых российских дизайнеров
        p.font-secondary Более 20 выпускников арт-кластера представили работы на модном показе от молодых российских дизайнеров.
        p.font-secondary Свои коллекции продемонстрировали участники антишколы «Индустрия моды» форума «Таврида» 2020 года, выпускники арт-кластера 2019 года, а также участники проекта Industry. Design. Innovation
