.fashion {
  padding-top: 100px;

  @include media-breakpoint-down(xl) {
    padding-top: 50px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down(xl) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  &__picture {
    margin-right: 144px;
    margin-top: -20px;
    margin-bottom: -60px;
    flex-shrink: 0;
    max-width: 100%;

    @include media-breakpoint-down(xl) {
      margin-bottom: 40px;
      margin-top: 40px;
    }
  }

  &__content {
    max-width: 500px;

    @include media-breakpoint-down(xl) {
      max-width: 80%;
    }
  }

  &__header {
    margin-bottom: 65px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 35px;
    }
  }
}
