mixin fashion(data)
  .fashion&attributes(attributes)
    .container.container--default
      .fashion__wrapper
        img.fashion__picture(src="./img/fashion.jpg", alt)
        h2.fashion__header.font-secondary.text-dark.h2--default.mb-0 МОДНЫЙ ПОКАЗ МОЛОДЫХ РОССИЙСКИХ ДИЗАЙНЕРОВ
