mixin info(data)
  .info&attributes(attributes)
    +header-inner
    .info__top
      .info__top-left
        h1 Фестиваль
        .info__restriction
          .info__restriction-age 16+
          .info__restriction-dscr для зрителей
        h4 10-12 июля
      a.info__past(href="#") Как это было в прошлом году
    +timeline
    h2.h2--default.mb-20.mb-xl-35 Главное событие тавриды
    p.text-white Смолин считает, что после принятия этого закона, когда люди раньше начнут выходить на пенсию, возникнет более 1,5 млн. безработных. Их не удастся быстро трудоустроить. Так быстро новые трудовые места не появятсяСмолин считает, что после принятия этого закона, когда люди раньше начнут выходить на пенсию, возникнет более 1,5 млн. безработных. Их не удастся быстро трудоустроить. Так быстро новые трудовые места не появятсяСмолин считает, что после принятия этого закона, когда люди раньше начнут выходить на пенсию, возникнет более 1,5 млн. безработных. Их не удастся быстро трудоустроить. Так быстро новые трудовые места не появятся
    h4.mb-20.mb-xl-60.mt-30.mt-xl-80 Главное событие тавриды
    .info__headliners
      +headliner({
        picture: 'headliner-1.jpg',
        title: 'Asking alexandria'
      })
      +headliner({
        picture: 'headliner-2.jpg',
        title: 'Nickelback'
      })
      +headliner({
        picture: 'headliner-3.jpg',
        title: 'ЕГОР КРИД'
      })
      +headliner({
        picture: 'headliner-1.jpg',
        title: 'Asking alexandria'
      })
      +headliner({
        picture: 'headliner-2.jpg',
        title: 'Nickelback'
      })
      +headliner({
        picture: 'headliner-3.jpg',
        title: 'ЕГОР КРИД'
      })
