.contemporary {
  background: #715f7a;
  padding: 65px 0 80px;

  &__picture {
    border-radius: 20px;
    overflow: hidden;

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }
  }

  &__img {
    max-width: 100%;
  }
}
