.contemporary {
  background: #715f7a;
  padding: 65px 0 80px;

  &__picture {
    margin-bottom: -250px;

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }
  }

  &__img {
    max-width: 100%;
  }
}
