mixin contemporary(data)
  .contemporary&attributes(attributes)
    .container.container--default
      .row
        .col-lg-7
          h2.h2--default.font-secondary.text-white.mb-45 Выставка <br>современного искусства Tavrida Constance
          .row
            .col-lg-10
              p.font-weight-normal.font-secondary.text-white На крымской земле сконцентрирована творческая энергия не одного поколения деятелей искусства, которых вдохновляли земля, горы и море Тавриды.
              p.font-weight-normal.font-secondary.text-white Особая атмосфера крымских резиденций и дач соединяет художников, поэтов, литераторов, философов и кинематографистов, наделяя их творчество духом свободы. Этой богатой истории художественного наследия Крыма и посвящен выставочный проект Tavrida Constance, который охватывает сотни лет творчества в этом месте силы от Максимилиана Волошина до выпускников форума «Таврида»
        .col-lg-5
          .contemporary__picture
            img.contemporary__img(src="./img/contemporary.png", alt)
