mixin contemporary(data)
  .contemporary&attributes(attributes)
    .container.container--default
      .row
        .col-lg-7
          h2.h2--default.font-secondary.text-white.mb-45 Выставка <br>современного искусства Tavrida Constance
          .row
            .col-lg-10
              p.font-weight-normal.font-secondary.text-white.mb-25 На выставке современного искусства Tavrida Constans было представлено свыше 50 произведений живописи, графики, скульптуры и дизайна, охвативших временной промежуток с 1900 по 2020 годы. Все экспонаты были созданы в Крыму, и посетители имели возможность оценить эволюцию художественного взгляда творцов на полуостров за это время.
              p.font-weight-normal.font-secondary.text-white Экспозиция объединила классиков российской живописи и современных художников, в том числе участников форума «Таврида» 2019 ‒ 2020 годов. Посетители увидели работы Ивана Айвазовского, Максимилиана Волошина, творческих династий Арендт и Бруни, Ольги Эйгес, Елены Нагаевской, Андрея Филиппова, Павла Пепперштейна, а также Елизаветы Зайцевой, Екатерины Фокиной, Павла Токарева, Анастасии Глуховой и др.
        .col-lg-5
          .contemporary__picture
            img.contemporary__img(src="./img/contemporary-1.jpg", alt)
