mixin festival-application(data)
  .festival-application&attributes(attributes)
    a.festival-application__photo(href="#", style="background-image: url(./img/" + data.picture + ');')
      h4.text-white.font-secondary.mb-0= data.title
    p.font-weight-medium.text-dark.font-secondary.mb-20.mb-lg-45= data.dscr
    a.btn.btn-green.btn-green--new.btn-md(href="#") Подать заявку
