.festival-application {
  @include media-breakpoint-down(md) {
    margin-bottom: 40px;
  }

  &__photo {
    margin-bottom: 35px;
    height: 296px;
    display: flex;
    align-items: flex-end;
    position: relative;
    padding: 17px 32px;
    border-radius: 20px;
    overflow: hidden;
    background-size: cover;
    background-position: top center;
    @include transition;

    &:hover {
      opacity: 0.8;
    }

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 70.83%, rgba(0, 0, 0, 0.61) 100%);
    }

    h4 {
      position: relative;
      z-index: 1;
    }
  }
}
