mixin structure(data)
  .structure&attributes(attributes)
    .container
      h2.h2--default.text-white.font-secondary Модель программы и структура дней проведения фестиваля в арт-кварталах:
      .structure__content
        .row
          .col-lg-4
            +structure__item({
              number: '1',
              title: 'неформальное общение между участниками и экспертами',
              dscr: 'отсутствие традиционных ролей «учитель-слушатель», творческие встречи, сессии вопросов и ответов, кейс-стади с топ-профессионалами, истории успехов и провалов и т.п.'
            })
          .col-lg-4
            +structure__item({
              number: '2',
              title: 'возможность заявить о себе',
              dscr: 'участие в кастингах, питчинги проектов, возможность выступлений, показов собственных проектов участников'
            })
          .col-lg-4
            +structure__item({
              number: '3',
              title: 'свободный обмен опытом в среде единомышленников',
              dscr: 'networking, создание коллабораций, новых творческих объединений'
            })
      h5.text-white.font-secondary.text-transform-none.font-weight-bold.mb-35 Механика отбора участников:
      +steps-list({
        modifier: 'selection'
      }).steps-list--yellow





mixin structure__item(data)
  .structure__item&attributes(attributes)
    .structure__item-top
      .structure__item-number= data.number
      p.font-weight-black.font-secondary.text-white.mb-0.text-uppercase.structure__item-title= data.title
    p.p--xs.mb-0.text-white.font-secondary= data.dscr
