mixin sContent(data)
  // start sContent
  .sContent.section&attributes(attributes)
    .container
      .section-title
        h2 ПРЕМИЯ &laquo;ЛЕГЕНДЫ ТАВРИДЫ&raquo; ‒ ПРЕМИЯ-ПРИЗНАНИЕ, УЧРЕЖДЕННАЯ МОЛОДЫМИ ДЕЯТЕЛЯМИ КУЛЬТУРЫ И&nbsp;ИСКУССТВ ДЛЯ СВОИХ МЭТРОВ, НАСТАВНИКОВ, УЧИТЕЛЕЙ
      p В&nbsp;октябре 2020 года состоится Церемония вручения первой премии &laquo;Легенды Тавриды&raquo;, участники и&nbsp;резиденты арт-кластера выразят благодарность своим наставникам за&nbsp;вклад в&nbsp;их&nbsp;профессиональное становление в&nbsp;течение 6&nbsp;лет проведения форума &laquo;Таврида&raquo;.
      .sContent__border
        p Голосование за&nbsp;номинантов премии проводится в&nbsp;3&nbsp;этапа. В&nbsp;голосовании уже приняли участие: мастера, академики, резиденты, участники, стажеры и&nbsp;волонтеры арт-кластера &laquo;Таврида&raquo;. Сейчас, на&nbsp;финальном этапе голосования, свой голос за&nbsp;номинанта могут отдать участники форума и&nbsp;фестиваля 2020&nbsp;года. Сделай свой выбор!
  // end sContent
