.item {
  position: relative;
  margin-bottom: 47px;
  padding-top: 54.82%;
  width: 100%;
  max-width: 45.5%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 4px 40px rgba(34, 70, 129, .74);

  @include transition;

  @include media-breakpoint-down(lg) {
    margin-bottom: 20px;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 40px;
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: 20px;
    max-width: none;
  }

  &:hover {
    opacity: .8;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 36px 27px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    @include media-breakpoint-down(lg) {
      padding: 20px;
    }
  }

  &__dates {
    font-family: $font-family-sans-serif;
    font-size: 15px;
    line-height: 1.18;
    font-weight: 900;
    color: #fff;
  }
}
