mixin footer(data)
  .footer&attributes(attributes)
    .container
      .footer__wrapper
        .footer__left
          .footer__left-top
            h4 Контакты
            .footer__contacts
              .footer__contacts-item
                p.p--sm.text-uppercase.text-white.mb-15 Телефон:
                h5.mb-0 8 (800) 302-27-04 
              .footer__contacts-item
                p.p--sm.text-uppercase.text-white.mb-15 Сотрудничество:
                h5 info@crki.art
              .footer__contacts-item
                p.p--sm.text-uppercase.text-white.mb-15 Пресса:
                h5.mb-0 press@crki.art
          p.p--sm.text-uppercase.text-white.mb-0 © Официальный сайт форума «Таврида»
        img.footer__map(src="./img/crimea.svg", alt="Crimea")
