.footer {
  padding: 60px 0 65px;
  background: $tertiary;

  @include media-breakpoint-down(xml) {
    padding: 40px 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__left-top {
  }

  &__contacts {
    margin-top: 35px;

    @include media-breakpoint-down(xml) {
      margin-top: 20px;
    }
  }

  &__contacts-item {
    margin-bottom: 25px;

    a {
      color: #fff;

      @include transition;

      &:hover {
        opacity: .8;
      }
    }
  }

  &__map {
    margin-right: 80px;

    @include media-breakpoint-down(xml) {
      max-height: 300px;
    }
  }
}
