mixin anti-list(data)
  .anti-list&attributes(attributes)
    .container
      h2.h2--default.mb-30.mb-lg-70 Творческие антишколы 2020
      .row
        .col-lg-4
          +anti({
            number: '1',
            picture: 'anti-1.jpg',
            title: 'Организаторы'
          })
        .col-lg-4
          +anti({
            number: '2',
            picture: 'anti-2.jpg',
            title: 'Организаторы'
          })
        .col-lg-4
          +anti({
            number: '3',
            picture: 'anti-3.jpg',
            title: 'Организаторы'
          })
        .col-lg-4
          +anti({
            number: '4',
            picture: 'anti-4.jpg',
            title: 'Организаторы'
          })
        .col-lg-4
          +anti({
            number: '5',
            picture: 'anti-5.jpg',
            title: 'Организаторы'
          })
        .col-lg-4
          +anti({
            number: '6',
            picture: 'anti-6.jpg',
            title: 'Организаторы'
          })
        .col-lg-4
          +anti({
            number: '7',
            picture: 'anti-7.jpg',
            title: 'Организаторы'
          })
        .col-lg-4
          +anti({
            number: '8',
            picture: 'anti-8.jpg',
            title: 'Организаторы'
          })
        .col-lg-4
          +anti({
            number: '9',
            picture: 'anti-9.jpg',
            title: 'Организаторы'
          })
        .col-lg-4
          +anti({
            number: '10',
            picture: 'anti-10.jpg',
            title: 'Организаторы'
          })
        .col-lg-4
          +anti({
            number: '11',
            picture: 'anti-11.jpg',
            title: 'Организаторы'
          })
        .col-lg-4
          +anti({
            number: '12',
            picture: 'anti-12.jpg',
            title: 'Организаторы'
          })
        .col-lg-4
          +anti({
            number: '13',
            picture: 'anti-13.jpg',
            title: 'Организаторы'
          })
        .col-lg-4
          +anti({
            number: '14',
            picture: 'anti-14.jpg',
            title: 'Организаторы'
          })
        .col-lg-4
          +anti({
            number: '15',
            picture: 'anti-15.jpg',
            title: 'Организаторы'
          })

