mixin anti-list(data)
  .anti-list&attributes(attributes)
    .container
      h2.h2--default.mb-30.mb-lg-70 Творческие антишколы 2020
      .row.justify-content-center
        .col-md-6.d-flex
          +anti({
            number: '1',
            picture: 'anti-1.jpg',
            title: 'Организаторы'
          })
        .col-md-6.d-flex
          +anti({
            number: '2',
            picture: 'anti-2.jpg',
            title: 'Волонтеры фестиваля'
          })
        .col-md-6.d-flex
          +anti({
            number: '3',
            picture: 'anti-3.jpg',
            title: 'Современные музыкальные направления'
          })
        .col-md-6.d-flex
          +anti({
            number: '4',
            picture: 'anti-4.jpg',
            title: 'Индустрия моды'
          })
        .col-md-6.d-flex
          +anti({
            number: '5',
            picture: 'anti-5.jpg',
            title: 'Визуальная культура'
          })
        .col-md-6.d-flex
          +anti({
            number: '6',
            picture: 'anti-6.jpg',
            title: 'Дизайн архитектуры'
          })
        .col-md-6.d-flex
          +anti({
            number: '7',
            picture: 'anti-7.jpg',
            title: 'Театр '
          })
        .col-md-6.d-flex
          +anti({
            number: '8',
            picture: 'anti-8.jpg',
            title: 'Классическая музыка'
          })
        .col-md-6.d-flex
          +anti({
            number: '9',
            picture: 'anti-9.jpg',
            title: 'КИНО'
          })
        .col-md-6.d-flex
          +anti({
            number: '10',
            picture: 'anti-10.jpg',
            title: 'Культурный юмор'
          })
        .col-md-6.d-flex
          +anti({
            number: '11',
            picture: 'anti-11.jpg',
            title: 'Хореографическое искусство'
          })
        .col-md-6.d-flex
          +anti({
            number: '12',
            picture: 'anti-12.jpg',
            title: 'Народное искусство'
          })
        .col-md-6.d-flex
          +anti({
            number: '13',
            picture: 'anti-13.jpg',
            title: 'Литература и медиа'
          })
        .col-md-6.d-flex
          +anti({
            number: '14',
            picture: 'anti-14.jpg',
            title: 'Арт-академия'
          })
        .col-md-6.d-flex
          +anti({
            number: '15',
            picture: 'anti-15.jpg',
            title: 'Повышение региональной привлекательности'
          })

