.document {
  display: flex;

  @include media-breakpoint-down(lg) {
    margin-bottom: 40px;
  }

  &__icon {
    margin-right: 24px;
    width: 62px;
    height: 62px;
    flex-shrink: 0;
    background: url(../img/document-icon.svg) no-repeat center;
    background-size: contain;

    @include media-breakpoint-down(lg) {
      margin-right: 15px;
      width: 40px;
      height: 40px;
    }
  }

  &__content {
  }

  &__link {
    margin-bottom: 0;
    word-break: break-all;
    color: $primary;
  }

  &__size {
    font-weight: 400 !important;
  }

  &--new {
    margin-bottom: 35px;

    @include transition;

    &:hover {
      opacity: .75;
    }

    .document__icon {
      margin-right: 18px;
      width: 28px;
      height: 38px;
      flex-shrink: 0;
      background: url(../img/document-new.svg) no-repeat center;
      background-size: contain;
    }

    .document__link {
      margin-bottom: 15px;
      font-size: 16px;
      font-weight: 500;
      color: #333;
    }

    .document__info {
      margin-top: 10px;
      display: flex;
      align-items: baseline;
    }
  }
}
