.document {
  display: flex;

  @include media-breakpoint-down(lg) {
    margin-bottom: 40px;
  }

  &__icon {
    margin-right: 24px;
    width: 62px;
    height: 62px;
    flex-shrink: 0;
    background: url(../img/document-icon.svg) no-repeat center;
    background-size: contain;

    @include media-breakpoint-down(lg) {
      margin-right: 15px;
      width: 40px;
      height: 40px;
    }
  }

  &__content {
  }

  &__link {
    margin-bottom: 0;
    font-family: $font-family-secondary;
    font-size: 20px;
    font-weight: 600 !important;
    word-break: break-all;
    color: $primary;
  }
}
