mixin partners(data)
  .partners&attributes(attributes)
    .container
      h4.text-dark.mb-20.mb-xml-45 Партнеры
    .partners__row.partners__row--light
      .container
        .partners__row-wrapper
          h6.partners__header 
            span информационные
          .partners__row-content
            img.partners__logo(src="./img/partner-1.png", alt="Logo")
            img.partners__logo(src="./img/partner-2.png", alt="Logo")
            img.partners__logo(src="./img/partner-3.png", alt="Logo")
            img.partners__logo(src="./img/partner-4.png", alt="Logo")
            img.partners__logo(src="./img/partner-3.png", alt="Logo")
    .partners__row.partners__row--dark
      .container
        .partners__row-wrapper
          h6.partners__header 
            span тематические
          .partners__row-content
            img.partners__logo(src="./img/partner-5.png", alt="Logo")
            img.partners__logo(src="./img/partner-6.png", alt="Logo")
            img.partners__logo(src="./img/partner-7.png", alt="Logo")
            img.partners__logo(src="./img/partner-8.png", alt="Logo")
