.partners {
  padding-top: 40px;

  &__row {
    margin-bottom: 18px;
    padding: 10px 0;

    @include media-breakpoint-down(xml) {
      margin-bottom: 0;
    }

    &--light {
      background: rgba(#efc825, .2);
    }

    &--dark {
      background: rgba($primary, .2);
    }
  }

  &__row-wrapper {
    position: relative;
    padding-left: 110px;

    @include media-breakpoint-down(sm) {
      padding-left: 0;
    }
  }

  &__header {
    position: absolute;
    top: 50%;
    left: 2px;
    display: inline-flex;
    width: 1px;
    height: 1px;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    color: $dark;
    transform: rotate(-90deg);

    @include media-breakpoint-down(xml) {
      font-size: 10px;
    }

    @include media-breakpoint-down(sm) {
      position: static;
      width: auto;
      height: auto;
      transform: none;
    }

    @include media-breakpoint-down(sm) {
      font-size: 16px;
      text-transform: capitalize;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(-50%, -50%);

      @include media-breakpoint-down(sm) {
        position: static;
        transform: none;
      }
    }
  }

  &__row-content {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    //    margin: 0 -20px;
    //    width: calc(100% + 40px)

    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;
    width: 100%;
    max-width: 16.66%;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(lg) {
      max-width: 20%;
    }

    @include media-breakpoint-down(sm) {
      max-width: 50%;
    }
  }

  &__logo {
    margin-right: 96px;
    margin-bottom: 20px;
    max-width: 130px;
    max-height: 130px;

    @include media-breakpoint-down(xml) {
      margin-right: 30px;
      max-width: 100px;
      max-height: 100px;
    }

    @include media-breakpoint-down(xl) {
      max-width: 80px;
      max-height: 80px;
    }
  }
}
