extends ../templates/template.pug
block content
  +header
  .wrapper
    +summary({
      modifier: 'short'
    }).summary--short
    .container
      h2.h2--default.text-dark.mb-35.font-secondary КАК ЭТО БУДЕТ В 2020 ГОДУ
      .row.mb-40.mb-lg-60
        .col-lg-5
          p.text-uppercase.font-secondary.font-weight-normal ВСЕ МЕРОПРИЯТИЯ ФЕСТИВАЛЯ БУДУТ ПРОХОДИТЬ В ОНЛАЙН- И ОФЛАЙН-ФОРМАТАХ
          
      .row.mb-40.mb-lg-100
        .col-xl-4.col-sm-6
          +card({
            picture: 'card-1.jpg',
            title: 'ОТКРЫТИЕ ФЕСТИВАЛЯ «ТАВРИДА ‒ АРТ». <br><br>ТЕЛЕВИЗИОННЫЙ ШОУ-КОНЦЕРТ «ТАВРИДА ВДОХНОВЛЯЕТ»',
            dscr: 'Открытие Фестиваля фестивалей «Таврида ‒ АРТ» состоится в начале сентября в формате телевизионного шоу-концерта, который будет транслироваться на ведущих федеральных каналах страны, интернет-платформах и в онлайн-кинотеатрах. В программе будут представлены выступления ‒ коллаборации популярных российских артистов и фрешменов арт-кластера «Таврида». Зрители смогут увидеть представления стендап-комиков, рэперов, команд КВН, танцевальных коллективов, театральные перформансы, а также модный показ российских молодых дизайнеров на площадках арт-кластера «Таврида» в Крыму.'
          }).card--column-yellow
        .col-xl-4.col-sm-6
          +card({
            picture: 'card-2.jpg',
            date: '2 сентября ‒ 12 октября 2020 года',
            title: 'КАСТИНГ-ПЛАТФОРМА «ТАВРИДА ‒ АРТ»',
            dscr: 'Арт-кластер «Таврида» в рамках фестиваля фестивалей «Таврида ‒ АРТ» запускает масштабную кастинг- платформу по разным творческим направлениям, где будут проходить онлайн-отборы от ведущих игроков арт-индустрии и медиакомпаний. В кастингах смогут принять участие молодые деятели культуры и искусств в возрасте от 18 до 35 лет.',
            modifier: 'open'
          }).card--wave
        .col-xl-4.col-sm-6
          +card({
            picture: 'card-3.jpg',
            date: '2 сентября ‒ 12 октября 2020 года',
            title: 'ФЕСТИВАЛЬ СТРИМОВ И ДОБРОСОСЕДСКИХ КОНЦЕРТОВ «ТАВРИДА РЯДОМ»',
            dscr: 'На протяжении 3 дней в рамках фестиваля стримов и дворовых концертов «Таврида ‒ АРТ» пройдет более 3 000 стримов от творческой молодежи, резидентов, участников и экспертов арт-кластера «Таврида» по различным направлениям культуры и искусства (музыке, изобразительному искусству, театру и кино, хореографии, литературе, юмору). За лучшие проекты и мероприятия участники смогут получить финансовую поддержку в размере от 5 000 до 10 000 рублей',
            modifier: 'open'
          }).card--dot
    +partners({
      modifier: 'new'
    }).partners--new
    +footer
