extends ../templates/template.pug
block content
  +header
  .wrapper
    +summary({
      modifier: 'new'
    }).summary--new
    .container
      .row.mb-40.mb-lg-65
        .col-lg-10
          h2.h2--default.text-dark.mb-35.font-secondary арт-кварталы
          p.font-secondary.font-weight-normal Арт-кварталы – это тематические креативные пространства под открытым небом с собственной инфраструктурой, жители которых общаются, участвуют в мероприятиях и работают над арт-манифестом. Каждая локация предназначена для проживания 500 человек.
          p.font-secondary.font-weight-normal Жители арт-кварталов – это молодые деятели культуры и искусства, прошедшие конкурсный отбор на участие в фестивале в возрасте от 18 до 35 лет.
      .row
        .col-lg-4.col-sm-6
          +quarter({
            picture: 'quarter-1.png',
            icon: 'quarter-icon-1.svg',
            type: 'АРТ-КВАРТАЛ',
            title: 'Таврида Музыка',
            dscr: 'площадка для исполнителей всех музыкальных направлений и стилей без ограничений',
            residents: 'музыканты, вокалисты, sound-продюсеры, поэты, хореографы, авторы и исполнители вне жанрового материала'
          })
        .col-lg-4.col-sm-6
          +quarter({
            picture: 'quarter-2.png',
            icon: 'quarter-icon-2.svg',
            type: 'АРТ-КВАРТАЛ',
            title: 'Таврида Танцы',
            dscr: 'пространство для самовыражения в любых танцевальных стилях',
            residents: 'танцоры и хореографы (классика, современный танец, контемп, модерн, джазфанк, дэнсхолл)'
          })
        .col-lg-4.col-sm-6
          +quarter({
            picture: 'quarter-3.png',
            icon: 'quarter-icon-3.svg',
            type: 'АРТ-КВАРТАЛ',
            title: 'Таврида Арт',
            dscr: 'место для тех, кто развивает свой потенциал в художественном искусстве, стрит-арте, дизайне, скульптуре, архитектуре',
            residents: 'архитекторы, урбанисты, дизайнеры окружающей среды, промышленные дизайнеры, художники арт-объектов, скульпторы, искусствоведы'
          })
        .col-lg-4.col-sm-6
          +quarter({
            picture: 'quarter-4.png',
            icon: 'quarter-icon-4.svg',
            type: 'АРТ-КВАРТАЛ',
            title: 'Таврида КВН',
            dscr: 'пространство для реализации открытых креативных задач: личных (блог, влог, социальные сети) или командных (команда КВН, лига КВН)',
            residents: 'продюсеры, авторы, режиссеры, актеры, работающие в юмористических жанрах, команды КВН'
          })
        .col-lg-4.col-sm-6
          +quarter({
            picture: 'quarter-5.png',
            icon: 'quarter-icon-5.svg',
            type: 'АРТ-КВАРТАЛ',
            title: 'Таврида Кино',
            dscr: 'пространство для выражения молодых актеров, режиссеров, продюсеров театральных проектов, драматургов, поэтов, прозаиков',
            residents: 'продюсеры, режиссеры, актеры кино, сценаристы, клипмейкеры, аниматоры, создатели сетевого видеоконтента'
          })
        .col-lg-4.col-sm-6
          +quarter({
            picture: 'quarter-6.png',
            icon: 'quarter-icon-6.svg',
            type: 'АРТ-КВАРТАЛ',
            title: 'Таврида Лит&Театр',
            dscr: 'пространство для выражения молодых актеров, режиссеров игрового и документального кино, продюсеров, операторов',
            residents: 'драматурги, режиссеры, актеры театра, сценаристы, прозаики, поэты, критики'
          })
        .col-lg-4.col-sm-6
          +quarter({
            picture: 'quarter-7.png',
            icon: 'quarter-icon-7.svg',
            type: 'трек',
            title: 'Таврида Лайф',
            dscr: 'пространства на всей территории фестиваля для продвижения физической культуры, кросс-фита, медитации, йоги, бега и основ здорового образа жизни',
            residents: 'спортсмены, блогеры, путешественники, специалисты по кроссфиту, медитации, йоге'
          })
        .col-lg-4.col-sm-6
          +quarter({
            picture: 'quarter-8.png',
            icon: 'quarter-icon-8.svg',
            type: 'трек',
            title: 'Таврида Добро',
            dscr: 'пространство для сообщества неравнодушных и талантливых людей, которые объединились для реализации социально-культурных инициатив на территории фестиваля и близлежащий территориях',
            residents: 'волонтеры Фестиваля, волонтеры социальных акций'
          })
        .col-lg-4.col-sm-6
          +quarter({
            picture: 'quarter-9.png',
            icon: 'quarter-icon-9.svg',
            type: 'трек',
            title: 'Таврида Фото',
            dscr: 'организованные фото мероприятия для всех участников арт-кварталов, мастер-классы по мобильной съемке, репортажи ключевых мероприятий фестиваля, создание итогового фотоотчета фестиваля',
            residents: 'фотографы, видеографы, преподаватели фотошкол'
          })
    +structure
    +conditions
    +transfer
    .container
      .h2.h2--default.font-secondary.my-60.text-dark Описание дневных активностей
      .h2.h2--default.font-secondary.my-60.text-dark Инфраструктура
      .h2.h2--default.font-secondary.my-60.text-dark Информация для зрителей
      +banner({
        title: 'КЕМПИНГИ СООБЩЕСТВ',
        picture: 'banner-1.jpg'
      }).banner--red
    +procession
    .container
      +banner({
        title: 'Грантовый конкурс',
        picture: 'banner-2.jpg'
      }).banner--blue
    +exhibition
    .container
      +banner({
        title: 'Кастинги',
        picture: 'banner-3.jpg'
      }).banner--green
    +map
    +registration({
      modifier: 'festival'
    }).registration--blue
    +partners({
      modifier: 'new'
    }).partners--new
    +footer
