extends ../templates/template.pug
block content
  +header
  .wrapper
    .team
      .team__front(style="background-image: url(./img/team-front-1.jpg);")
        +header-inner({
          modifier: 'new'
        }).header-inner--alone
        .container.team__front-wrapper
          a.team__front-back(href="#")
          .team__front-content
            h1.team__front-title Координатор <br>форума
            .team__front-info
              .team__front-age 20-30 лет
              .team__front-type гражданин РФ
      .team__info
        .container
          .team__info
            .row
              .col-lg-6
                h4.team__info-dscr С 2020 года проект запускает новый формат Волонтерского корпуса - Центр практики Арт-кластера «Таврида». Принять участие в организации и проведении форума теперь можно в качестве координатора. Новый формат также позволяет пройти практику на форуме, а по итогам получить документы о прохождении практики по профильным направлениям.
              .col-lg-4.offset-lg-1
                .team__info-reasons
                  h5.team__info-reasons-header Это будет интересно, если вы – 
                  ul
                    li.text-gray Студент или выпускник вуза по направлениям: «Сервис и туризм», «Социально-культурная деятельность», «Педагогика», «Психология», «Организация работы с молодежью» и т.д.
                    li.text-gray Начинающий специалист и хотите развиваться в event-индустрии.
            .row
              .col-lg-9
                h5.team__info-field
                  span.font-weight-bold Направления работы на форуме 
                  | координаторы выбирают сами, основываясь на своих компетенциях и интересах: работа с участниками, образовательная программа, протокол, штаб, ивент, грантовый конкурс, специальные проекты, служба заботы об участниках.
    .bg-primary.py-30.pt-lg-50.pb-lg-30
      .container
        h2.h2--default.text-white.mb-30.mb-lg-50 Потоки практики
        .row
          .col-lg-4.d-flex
            +flow({
              color: '#EFC825',
              number: '1',
              date: '11-30 мая',
              content: ['ТА организаторов', 'ТА волонтеров фестиваля', 'ТА индустрии моды'],
            })
          .col-lg-4.d-flex
            +flow({
              color: '#E77596',
              number: '2',
              date: '29 мая-24 июня',
              content: ['ТА современных музыкальных направлений', 'ТА новой визуальной культуры', 'ТА дизайна и архитектуры'],
            })
          .col-lg-4.d-flex
            +flow({
              color: '#67BAC3',
              number: '3',
              date: '21 июля- 17 августа',
              content: ['ТА театральная', 'ТА классической музыки', 'ТА кино'],
            })
          .col-lg-4.d-flex
            +flow({
              color: '#C9DF55',
              number: '4',
              date: '17 августа – 10 сентября',
              content: ['ТА хореографического искусства', 'ТА культурного юмора', 'ТА народная'],
            })
          .col-lg-4.d-flex
            +flow({
              color: '#81A9EB',
              number: '5',
              date: '10 сентября – 3 октября',
              content: ['ТА литературы и медиа', 'ТА повышения региональной привлекательности', 'Арт-академия'],
            })
    .container
      h3.mb-40.mb-lg-100 Чтобы стать координатором Форума, необходимо пройти 5 этапов отбора:
      .team__steps
        .row
          .col
            +step({
              icon: 'step-1.svg',
              number: '1',
              title: 'Регистрация',
              dscr: 'подача заявки на этом сайте, подробное и качественное заполнение анкеты'
            })
          .col
            +step({
              icon: 'step-2.svg',
              number: '2',
              title: 'Экспертная оценка анкеты ',
              dscr: 'эксперты проверяют все анкеты на корректность, насколько подробно, логично и грамотно сформированы ответы'
            })
          .col
            +step({
              icon: 'step-3.svg',
              number: '3',
              title: 'Онлайн-собеседование ',
              dscr: 'опытные наставники проводят собеседования с кандидатами на предмет мотивации участия в проекте и понимания его целей'
            })
          .col
            +step({
              icon: 'step-4.svg',
              number: '4',
              title: 'Тестирование профессиональных способностей ',
              dscr: 'HR-специалисты проводят тестирование, которое позволяет сформировать облако профессиональных компетенций и навыков кандидатов'
            })
          .col
            +step({
              icon: 'step-5.svg',
              number: '5',
              title: 'Обучение в онлайн-университете ',
              dscr: 'в рамках обучения волонтеры получают информацию о форуме, базовые знания о работе в команде и тайм-менеджменте'
            })
    +registration({
      modifier: 'team'
    }).registration--blue
    +partners
    +footer
