extends ../templates/template.pug
block content
  +header
  .wrapper.wrapper--no-overflow
    .festival-new
      .streams
        .streams__front.streams__front--festival.streams__front--festival-new(style="background-image: url(./img/festival-long-front.jpg);")
          +header-inner({
            modifier: 'newest'
          }).header-inner--alone
          .container.container--default
            .streams__front-wrapper
              .row
                .col-lg-5.offset-lg-1
                  .streams__front-content
                    h1.streams__front-header Фестиваль на площадке арт-кластера «Таврида»
                    h4.font-secondary.text-white 2 ‒ 6 сентября 2020
      .container.container--default
        h2.h2--default.font-secondary.text-dark.mb-25 ФЕСТИВАЛЬ ЭТО
        .row
          .col-lg-3.col-sm-6.d-flex
            .festival-new__part.festival-new__part--yellow фестиваль на площадке арт-кластера «Таврида»
          .col-lg-3.col-sm-6.d-flex
            .festival-new__part.festival-new__part--red фестиваль стримов и концертов во дворах «Таврида рядом»
          .col-lg-3.col-sm-6.d-flex
            .festival-new__part.festival-new__part--violet кастинг-платформа
          .col-lg-3.col-sm-6.d-flex
            .festival-new__part.festival-new__part--blue стрит-арт-фестиваль
        p.font-secondary.font-weight-normal На территории арт-кластера «Таврида» состоялись съемки шоу-концерта «Таврида вдохновляет», где молодые артисты выступили на одной сцене с популярными российскими исполнителями и приняли участие в масштабных арт-перформансах, среди которых было и световое арт-шествие «Мы вместе». 
        p.font-secondary.font-weight-normal Ключевыми событиями фестиваля также стали Всероссийский фестиваль стримов и концертов во дворах «Таврида рядом», выставка современного искусства Tavrida Constans, шоу от Национального чемпионата в сфере творческих компетенций ArtMasters и парад маломерных судов. В рамках «Тавриды ‒ АРТ» стартовал стрит-арт-фестиваль на трассе «Таврида»: на опорах путепроводов и подпорных стенах появились граффити от современных художников. 
        p.font-secondary.font-weight-normal На площадке фестиваля (и параллельно в режиме онлайн) начала работу самая большая в России кастинг-платформа, которая позволит молодым творцам принять участие в прослушиваниях, отборах и собеседованиях для прохождения стажировок от ведущих игроков арт-индустрии и медиакомпаний.
        h2.h2--default.font-secondary.text-dark.mt-lg-80.mt-40.mb-25 Фестиваль на площадке арт-кластера
        p.font-weight-semi.font-secondary.mb-30.mb-lg-45 Фестиваль фестивалей «Таврида ‒ АРТ» состоялся с 2 по 6 сентября 2020 года в бухте Капсель в Крыму. Он объединил все направления искусства и прошел в онлайн- и офлайн-форматах. Участниками события стали 2 000 молодых деятелей культуры ‒ резиденты арт-кластера «Таврида» и представители креативных сообществ со всей страны, а зрителями ‒ 3 000 молодых ребят из Республики Крым и Севастополя.
        .row
          .col-lg-7.mx-auto
            .streams
              .streams__front-video-wrapper
                a.streams__front-video(href="#")
                  .streams__front-video-content
                    .p.mb-0.text-white.font-weight-semi.font-secondary.text-center Онлайн трансляция <br>фестиваля
                a.streams__front-video-vk(href="#")
        h2.h2--default.font-secondary.text-dark.mt-40.mt-xl-100.mb-25 Таврида Live
        p.font-weight-semi.font-secondary.pr-xml-80.mb-30.mb-xl-45 Таврида Live ‒ онлайн-фестиваль, который был проведен в формате ток-шоу в студии на площадке арт-кластера. Его ключевыми событиями стали интервью со звездами и фрешменами, трансляции концертов, перформансов, кастингов.
        .drag.mb-40.mb-xl-100
          .row.drag__content
            .col-lg-4
              a.festival-new__video(href="#", style="background-image: url(./img/festival-front-video.jpg);")
            .col-lg-4
              a.festival-new__video(href="#", style="background-image: url(./img/festival-front-video.jpg);")
            .col-lg-4
              a.festival-new__video(href="#", style="background-image: url(./img/festival-front-video.jpg);")
            .col-lg-4
              a.festival-new__video(href="#", style="background-image: url(./img/festival-front-video.jpg);")
            .col-lg-4
              a.festival-new__video(href="#", style="background-image: url(./img/festival-front-video.jpg);")
            .col-lg-4
              a.festival-new__video(href="#", style="background-image: url(./img/festival-front-video.jpg);")
        h4.text-dark.font-secondary.mb-30 Артисты
        .drag.mb-20
          .row.drag__content
            .col-sm-6.col-lg-3
              +artist({
                photo: 'artist-1.jpg',
                name: 'Юлианна Караулова'
              })
            .col-sm-6.col-lg-3
              +artist({
                photo: 'artist-2.jpg',
                name: 'ST'
              })
            .col-sm-6.col-lg-3
              +artist({
                photo: 'artist-3.jpg',
                name: 'Серьга'
              })
            .col-sm-6.col-lg-3
              +artist({
                photo: 'artist-1.jpg',
                name: 'Юлианна Караулова'
              })
            .col-sm-6.col-lg-3
              +artist({
                photo: 'artist-2.jpg',
                name: 'ST'
              })
            .col-sm-6.col-lg-3
              +artist({
                photo: 'artist-3.jpg',
                name: 'Серьга'
              })
        .drag.mb-20
          .row.drag__content
            .col-sm-6.col-lg-3
              +artist({
                photo: 'artist-1.jpg',
                name: 'Юлианна Караулова'
              })
            .col-sm-6.col-lg-3
              +artist({
                photo: 'artist-2.jpg',
                name: 'ST'
              })
            .col-sm-6.col-lg-3
              +artist({
                photo: 'artist-3.jpg',
                name: 'Серьга'
              })
            .col-sm-6.col-lg-3
              +artist({
                photo: 'artist-1.jpg',
                name: 'Юлианна Караулова'
              })
            .col-sm-6.col-lg-3
              +artist({
                photo: 'artist-2.jpg',
                name: 'ST'
              })
            .col-sm-6.col-lg-3
              +artist({
                photo: 'artist-3.jpg',
                name: 'Серьга'
              })
        h4.text-dark.font-secondary.mt-30.mt-xl-50.mb-30 Фестивали
        .row
          .col-sm-6.col-lg-3.d-flex
            +festival-item({
              logo: 'festival-item-1.png'
            })
          .col-sm-6.col-lg-3.d-flex
            +festival-item({
              logo: 'festival-item-2.png'
            })
          .col-sm-6.col-lg-3.d-flex
            +festival-item({
              logo: 'festival-item-3.png'
            })
          .col-sm-6.col-lg-3.d-flex
            +festival-item({
              logo: 'festival-item-4.png'
            })
        .row.mt-40.mt-lg-65
          .col-lg-10
            h2.h2--default.font-secondary.text-dark.mb-25 Перформансы
            p.font-weight-semi.font-secondary.mb-40.mb-lg-95 Частью программы фестиваля фестивалей на площадке арт-кластера «Таврида» в 2020 году стали масштабные театрализованные перформансы: арт-шествие «Мы вместе», «Живые краски триколора», «Танцующие холмы», «Феникс», «Морские пейзажи» и другие события, в которых приняли участие молодые деятели культуры и искусств, представители креативных индустрий в возрасте от 18 до 35 лет.
        +performance({
          modifier: 'ltr',
          picture: 'performance-1.jpg',
          title: 'ЖИВЫЕ КРАСКИ ТРИКОЛОРА',
          dscr: 'Творческий номер был посвящен 75-летию Победы в Великой Отечественной войне. Молодые деятели культуры выстроились в ряды, символизирующие полотнище флага, рядом с надписью «Мир. Любовь. Искусство». На вершине холма ветеран Великой Отечественной войны Николай Радега поднял флаг вместе с юным армейцем. Актер Владислав Маленко исполнил свою поэму «Ржев» под музыку композитора Эдуарда Артемьева. Торжественное мероприятие завершилось гимном Российской Федерации в исполнении резидентов арт-кластера «Таврида».'
        }).performance--ltr
        +performance({
          modifier: 'rtl',
          picture: 'performance-2.jpg',
          title: 'СВЕТОВОЙ ПЕРФОРМАНС «МЫ ВМЕСТЕ»',
          dscr: 'Ценность слов определяется по тем смыслам, которые они несут. В процессе театрализованной постановки участники перформанса зажгли сотни фонариков, чтобы продемонстрировать как никогда важные в 2020 году слова: «Мы вместе».'
        }).performance--rtl
        +performance({
          modifier: 'ltr',
          picture: 'performance-3.jpg',
          title: 'ТАНЦУЮЩИЕ ХОЛМЫ',
          dscr: 'Атмосферу единения творцов передал масштабный перформанс «Танцующие холмы», который прошел на площадке фестиваля вблизи арт-объекта «Дерево». Он стал частью выступления Юлианны Карауловой и Александра Кудинова. В перформансе приняли участие сотни деятелей культуры и искусств и гости фестиваля. Они выстроились на холмах и заполнили все пространство светом своих браслетов.'
        }).performance--ltr
        +performance({
          modifier: 'rtl',
          picture: 'performance-4.jpg',
          title: 'ФЕНИКС',
          dscr: 'ажигательный перформанс стал частью музыкального номера Гарика Сукачева и Любови Павлушиной. Этническая процессия, олицетворяющая водную стихию, фольклорные мотивы, возрождение феникса и несколько сотен участников, отбивающих ритм на бубнах и барабанах в завораживающем танце.'
        }).performance--rtl
        +performance({
          modifier: 'ltr',
          picture: 'performance-5.jpg',
          title: 'Арт-шествие',
          dscr: 'Театрализованное перформанс-шествие творческого комьюнити «Тавриды». Участники были одеты в невероятные, авангардные, футуристические костюмы. Процессия творцов прошла через всю территорию арт-кластера «Таврида» к главной сцене, на которой начался концерт рэп-исполнителя ST, ставший одним из событий, ознаменовавших окончание фестиваля фестивалей.'
        }).performance--ltr
        +festival-parade
        +contemporary
        +fashion
        +festival-grant
        .container
          .row
            .col-lg-8.mt-40.mt-lg-80.mb-30.mb-lg-70
              h2.h2--default.font-secondary.text-dark.mb-25 Развлекательная программа
              p.font-weight-semi.font-secondary Ежедневно на фестивале фестивалей «Таврида ‒ АРТ» проходила развлекательная программа, включающая в себя различные форматы и тематики:
          .row
            .col-sm-6.col-lg-4
              +fun({
                photo: 'fun-1.jpg',
                title: 'Ежедневные шоу-концерты с участием молодых артистов арт-кластера «Таврида»'
              })
            .col-sm-6.col-lg-4
              +fun({
                photo: 'fun-2.jpg',
                title: 'Танцевальные мастер-классы'
              })
            .col-sm-6.col-lg-4
              +fun({
                photo: 'fun-3.jpg',
                title: 'Многопрофильные тренировки и практики от спортивной студии «Лайф»'
              })
            .col-sm-6.col-lg-4
              +fun({
                photo: 'fun-4.jpg',
                title: 'Лекционные тренинги о творческом мышлении'
              })
            .col-sm-6.col-lg-4
              +fun({
                photo: 'fun-5.jpg',
                title: 'Мастер-классы по изобразительному искусству и кастомизации одежды'
              })
        .bg-gray.festival-new__yards
          .container
            .row
              .col-lg-6
                h2.h2--default.font-secondary.text-dark.mb-25 ФЕСТИВАЛЬ СТРИМОВ И КОНЦЕРТОВ ВО ДВОРАХ «ТАВРИДА РЯДОМ»
                p.font-weight-semi.font-secondary Молодые деятели культуры и искусств поддержали фестиваль фестивалей «Таврида ‒ АРТ» творческими выступлениями и концертами в 73 регионах России. С 4 по 6 сентября на улицах российских городов состоялось свыше 2 000 мероприятий, фестиваль стримов и концертов во дворах «Таврида рядом» прошел в онлайн- и офлайн-форматах. Лекции, воркшопы, мастер-классы, встречи с лидерами арт-индустрии, концерты, стендапы транслировались в прямом эфире в аккаунтах творцов во всех социальных сетях.
                h5.font-weight-semi.font-secondary 2014 мероприятий в 73 регионах России <br>
                  a(href="#") Список участников на получение финансовой поддержки 
              .col-lg-6
                .festival-new__yards-picture
                  img(src="./img/festival-yard.png", alt)
            .row
              .col-lg-4
                p.font-secondary За проведенные офлайн-мероприятия участники получили финансовую поддержку в размере
                h4.text-dark.font-secondary 10 000 рублей
              .col-lg-4
                p.font-secondary Офлайн-проекты, реализованные коллективами (2 участника и более), получили финансовую поддержку в размере
                h4.text-dark.font-secondary 30 000 рублей
              .col-lg-4
                p.font-secondary За проведенные онлайн-мероприятия участники получили финансовую поддержку в размере
                h4.text-dark.font-secondary 5 000 рублей
        .festival-new__castings
          .container
            .row
              .col-lg-5
                h2.h2--default.font-secondary.text-white.mb-25 Кастинг-платформа
                p.font-weight-semi.font-secondary.text-white Единственная в России кастинг-платформа, объединяющая прослушивания, отборы и собеседования для прохождения стажировок от ведущих игроков арт-индустрии и медиакомпаний. Более 100 кастингов ждут твоего участия.
                a.btn.btn-green(href="#") Принять участие
              .col-lg-5.offset-lg-2
                img(src="./img/fest-new-cast.jpg", alt)
        .festival-new__street
          .container
            .row
              .col-lg-5
                a.festival-new__video.festival-new__video--big(href="#", style="background-image: url(./img/festival-new-video.jpg);")
              .col-lg-5.offset-lg-1
                h2.h2--default.font-secondary.text-white.mb-25 Стрит-арт-фестиваль
                p.font-weight-semi.font-secondary.text-white На трассе «Таврида» проходит масштабный стрит-арт-проект «Таврида – АРТ»: резиденты арт-кластера, молодые художники, которые уже успели громко заявить о себе и доказали свой профессионализм, оформят в арт-объекты 40 пар опор путепроводов и 14 подпорных стен на протяжении всей трассы.
                p.font-weight-semi.font-secondary.text-white Художники Александр Милицин, Андрей Кожуро, Вадим Живов, Анатолий Кутырёв и Иван Разумовский уже воплотили свои идеи и готовы к новым: стрит-арт-фестиваль будет идти несколько сезонов.
    +footer
