extends ../templates/template.pug
block content
  +header
  .wrapper
    +info
    .container
      h2.h2--default.text-dark Карта фестиваля
    +map
    +registration({
      modifier: 'festival'
    }).registration--blue
    +partners
    +footer
