extends ../templates/template.pug
block content
  +header
  .wrapper.wrapper--no-overflow
    .festival-new
      .streams
        .streams__front.streams__front--festival.streams__front--festival-new(style="background-image: url(./img/festival-long-front.jpg);")
          +header-inner({
            modifier: 'newest'
          }).header-inner--alone
          .container.container--default
            .streams__front-wrapper
              .row
                .col-lg-12.offset-lg-1
                  .streams__front-content
                    h1.streams__front-header ФЕСТИВАЛЬ<br> «ТАВРИДА АРТ MOSCOW»
                    h4.font-secondary.text-white 21 ‒ 26 октября 2020
      .container.container--default
        h2.h2--default.font-secondary.text-indigo.mb-45 ВПЕРВЫЕ ЗА ГОДЫ ПРОВЕДЕНИЯ ГЛАВНОГО ТВОРЧЕСКОГО СОБЫТИЯ СТРАНЫ, ОБЪЕДИНЯЮЩЕГО ДЕСЯТКИ ТЫСЯЧ МОЛОДЫХ ТВОРЦОВ, «ТАВРИДА» ОТКРОЕТ СВОИ ДВЕРИ В СТОЛИЦЕ
        h2.h2--default.font-secondary.text-dark.mb-55 Прямые трансляции с фестиваля
        .streams
          .streams__wrap
            .streams__videoWrap
              <iframe src="//vk.com/video_ext.php?oid=-89840945&id=456240361&hash=0d59aa60fabc5584&hd=3" frameborder="0" allowfullscreen></iframe>
              //- script(src='https://broadcast.comdi.com/player/js/embed.min.js', data-comdi-event='r5ftb9xd', data-login='anonymous', data-registration='{"email":"anonymous@startupvillage.ru"}', lang='ru', async='')
            .streams__timetable
              .streams__title Расписание трансляций
              .streams__item
                .streams__itemTitle 21.10 19:00
                .streams__itemDescr Гала-концерт Национального чемпионата творческих компетенций ArtMasters
              .streams__item
                .streams__itemTitle 21.10 19:00
                .streams__itemDescr Кейс-стади «ТАВРИДА АРТ MOSCOW»
              .streams__item
                .streams__itemTitle 21.10 19:00
                .streams__itemDescr Концерт, посвященный 180-летию со дня рождения П.И. Чайковского
              .streams__item
                .streams__itemTitle 21.10 19:00
                .streams__itemDescr Шоу участников и победителей кастинг- платформы «Таврида – АРТ»
              .streams__item
                .streams__itemTitle 21.10 19:00
                .streams__itemDescr Кейс-стади «ТАВРИДА АРТ MOSCOW»
              .streams__item
                .streams__itemTitle 21.10 19:00
                .streams__itemDescr Шоу участников и победителей кастинг- платформы «Таврида – АРТ»
        +sFrom()
        h2.h2--default.font-secondary.text-dark.mt-40.mt-xl-100.mb-45 Календарь событий
        +sCalendar()
        h2.h2--default.font-secondary.text-dark.mt-40.mt-xl-100.mb-45 Принять участие в фестивале
        +sParticipation()
        .row.mt-40.mt-lg-65
          .col-lg-10
            h2.h2--default.font-secondary.text-dark.mb-25 ГАЛА-КОНЦЕРТ НАЦИОНАЛЬНОГО ЧЕМПИОНАТА ТВОРЧЕСКИХ КОМПЕТЕНЦИЙ ARTMASTERS
            .row
              .award02__col.col-lg-3.col-xxl-2
                img(src="img/calendar.svg", alt="")
                .award02__date #[strong 21 октября]
              .award02__col.col
                img(src="img/location.svg", alt="")
                .award02__place Государственный академический Большой театр России
        +performance({
          modifier: 'ltr',
          picture: '75b7f3fa7ac27a4440109b5b586d2f9f.jpg',
          dscr: `Участники компетенций ARTMASTERS объединятся с актерами, музыкантами, хореографами, операторами и режиссерами арт-кластера «Таврида», чтобы создать новые творческие союзы.<br><br> На гала-концерте будут представлены лучшие творческие работы финалистов чемпионата: музыкальные клипы, театральные эскизы, подготовленные в коллаборации с молодыми режиссерами арт-кластера «Таврида», шоу – видеомэппинг.`
        }).performance--ltr
        .row.mt-40.mt-lg-65
          .col-lg-10
            h2.h2--default.font-secondary.text-dark.mb-25 КЕЙС-СТАДИ «ТАВРИДА АРТ MOSCOW»
            .row
              .award02__col.col-lg-3.col-xxl-auto.pr-0
                img(src="img/calendar.svg", alt="")
                .award02__date #[strong 22 ‒ 23 октября]
              .award02__col.col
                img(src="img/location.svg", alt="")
                .award02__place Офисы корпораций и государственных учреждений
        +performance({
          modifier: 'ltr',
          picture: '75b7f3fa7ac27a4440109b5b586d2f9f.jpg',
          dscr: `Кейс-стади ‒ серия мероприятий, объединяющая молодых деятелей культуры и искусства, представителей компаний в сфере креативных индустрий, сотрудников крупных корпораций и государственных организаций для совместного осмысления и поиска путей решения кейсов по интеграции креативных практик в корпоративное и государственное управление.`
        }).performance--ltr
      // slider
      .partners__row.partners__row--other
        .container
          .partners__row-wrapper
            .partners__row-content
              .partners__item
                img.partners__logo(src="./img/sliderImg-1.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-2.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-3.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-4.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-5.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-6.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-1.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-2.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-3.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-4.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-5.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-6.png", alt="Logo")
      +award02(`МУЗЫКАЛЬНЫЙ ВЕЧЕР «ВРЕМЯ ЕСЕНИНА»`,`23 октября`,`Фудмолл «Депо. Москва»`)
        +performance({
          modifier: 'ltr',
          picture: 'esenin.jpg',
          dscr: `В рамках музыкального вечера «Время Есенина» резиденты арт-кластера исполнят песни на стихи поэта. Мероприятие приурочено к 125-летию со дня рождения одного из самых любимых русских поэтов.`
        }).performance--ltr
      .partners__row.partners__row--other
        .container
          .partners__row-wrapper
            .partners__row-content
              .partners__item
                img.partners__logo(src="./img/sliderImg-1.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-2.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-3.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-4.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-5.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-6.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-1.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-2.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-3.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-4.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-5.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-6.png", alt="Logo")
      +award02(`МУЗЫКАЛЬНЫЙ ВЕЧЕР «ВРЕМЯ ЕСЕНИНА»`,`23 октября`,`Фудмолл «Депо. Москва»`)
        +performance({
          modifier: 'ltr',
          picture: 'esenin.jpg',
          dscr: `В рамках музыкального вечера «Время Есенина» резиденты арт-кластера исполнят песни на стихи поэта. Мероприятие приурочено к 125-летию со дня рождения одного из самых любимых русских поэтов..`
        }).performance--ltr
      +sConference()
      +castings-slider-2()
        h4.text-dark.font-secondary.font-weight-bold.mt-30.mt-lg-65.mb-30.mb-lg-50 Кураторы
        .castings-slider__content
          +casting-other({
            picture: 'curator-1.jpg',
            name: 'Чайковский Александр ',
            descr: 'Советский и российский композитор, пианист, педагог, профессор Московской консерватории, Народный артист Российской Федерации, Лауреат Премии Правительства Российской Федерации'
          }).castings-slider__item

          +casting-other({
            picture: 'curator-2.jpg',
            name: 'Чайковский Александр ',
            descr: 'Советский и российский композитор, пианист, педагог, профессор Московской консерватории, Народный '
          }).castings-slider__item
          +casting-other({
            picture: 'curator-3.jpg',
            name: 'Чайковский Александр ',
            descr: 'Советский и российский композитор, пианист, педагог, профессор Московской консерватории, '
          }).castings-slider__item
          +casting-other({
            picture: 'curator-4.jpg',
            name: 'Чайковский Александр ',
            descr: 'Советский и российский композитор, пианист, педагог, профессор Московской консерватории, Народный артист Российской Федерации, '
          }).castings-slider__item
          +casting-other({
            picture: 'curator-1.jpg',
            name: 'Чайковский Александр ',
            descr: 'Советский и российский композитор, пианист, педагог, профессор Московской консерватории, Народный артист Российской Федерации, '
          }).castings-slider__item
          +casting-other({
            picture: 'curator-1.jpg',
            name: 'Чайковский Александр ',
            descr: 'Советский и российский композитор, пианист, педагог, профессор Московской консерватории, Народный артист Российской Федерации, Лауреат Премии Правительства Российской Федерации'
          }).castings-slider__item
      +castings-slider-2()
        h4.text-dark.font-secondary.font-weight-bold.mt-30.mt-lg-65.mb-30.mb-lg-50 Спикеры
        .castings-slider__content
          +casting-other({
            picture: 'curator-1_1.jpg',
            name: 'Чайковский Александр ',
            descr: 'Советский и российский композитор, пианист, педагог, профессор Московской консерватории, Народный артист Российской Федерации, Лауреат Премии Правительства Российской Федерации'
          }).castings-slider__item

          +casting-other({
            picture: 'curator-1_2.jpg',
            name: 'Чайковский Александр ',
            descr: 'Советский и российский композитор, пианист, педагог, профессор Московской консерватории, Народный '
          }).castings-slider__item
          +casting-other({
            picture: 'curator-1_3.jpg',
            name: 'Чайковский Александр ',
            descr: 'Советский и российский композитор, пианист, педагог, профессор Московской консерватории, '
          }).castings-slider__item
          +casting-other({
            picture: 'curator-1_4.jpg',
            name: 'Чайковский Александр ',
            descr: 'Советский и российский композитор, пианист, педагог, профессор Московской консерватории, Народный артист Российской Федерации, '
          }).castings-slider__item
          +casting-other({
            picture: 'curator-1_1.jpg',
            name: 'Чайковский Александр ',
            descr: 'Советский и российский композитор, пианист, педагог, профессор Московской консерватории, Народный артист Российской Федерации, '
          }).castings-slider__item
          +casting-other({
            picture: 'curator-1_1.jpg',
            name: 'Чайковский Александр ',
            descr: 'Советский и российский композитор, пианист, педагог, профессор Московской консерватории, Народный артист Российской Федерации, Лауреат Премии Правительства Российской Федерации'
          }).castings-slider__item
      .partners__row.partners__row--other
        .container
          .partners__row-wrapper
            .partners__row-content
              .partners__item
                img.partners__logo(src="./img/sliderImg-1.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-2.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-3.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-4.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-5.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-6.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-1.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-2.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-3.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-4.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-5.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-6.png", alt="Logo")
      +award02(`ПРЕЗЕНТАЦИЯ АРТ-РЕЗИДЕНЦИЙ`,`24 ‒ 25 ОКТЯБРЯ`,`Цифровое деловое пространство`)
        +performance({
          modifier: 'ltr',
          picture: 'esenin.jpg',
          dscr: `Арт-резиденция – точка зарождения локальных проектов, способных изменить культурную жизнь людей. Это место для сотрудничества и творческих коллабораций представителей разных креативных индустрий с участием ведущих экспертов. Презентация будет включать в себя питчинги и старт партнерской программы с участием крупных компаний и амбассадоров арт-резиденций.`
        }).performance--ltr
      +castings-slider-2()
        h4.text-dark.font-secondary.font-weight-bold.mt-30.mt-lg-65.mb-30.mb-lg-50 Амбасадоры
        .castings-slider__content
          +casting-other({
            picture: 'curator-3_1.jpg',
            name: 'Чайковский Александр ',
            descr: 'Советский и российский композитор, пианист, педагог, профессор Московской консерватории, Народный артист Российской Федерации, Лауреат Премии Правительства Российской Федерации'
          }).castings-slider__item

          +casting-other({
            picture: 'curator-3_2.jpg',
            name: 'Чайковский Александр ',
            descr: 'Советский и российский композитор, пианист, педагог, профессор Московской консерватории, Народный '
          }).castings-slider__item
          +casting-other({
            picture: 'curator-1_4.jpg',
            name: 'Чайковский Александр ',
            descr: 'Советский и российский композитор, пианист, педагог, профессор Московской консерватории, '
          }).castings-slider__item
          +casting-other({
            picture: 'curator-2.jpg',
            name: 'Чайковский Александр ',
            descr: 'Советский и российский композитор, пианист, педагог, профессор Московской консерватории, Народный артист Российской Федерации, '
          }).castings-slider__item
          +casting-other({
            picture: 'curator-3_1.jpg',
            name: 'Чайковский Александр ',
            descr: 'Советский и российский композитор, пианист, педагог, профессор Московской консерватории, Народный артист Российской Федерации, '
          }).castings-slider__item

      .partners__row.partners__row--other
        .container
          .partners__row-wrapper
            .partners__row-content
              .partners__item
                img.partners__logo(src="./img/sliderImg-1.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-2.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-3.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-4.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-5.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-6.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-1.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-2.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-3.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-4.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-5.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-6.png", alt="Logo")
      +award02(`Шоу участников и победителей кастинг-платформы «Таврида – АРТ»`,`24 ‒ 25 ОКТЯБРЯ`,`Цифровое деловое пространство`)
        +performance({
          modifier: 'ltr',
          picture: 'esenin.jpg',
          dscr: `Кастинг-платформа «Таврида – АРТ» предоставляет большие возможности для молодых деятелей культуры и искусств по направлениям: музыка, литература, хореография, театр и кино, арт, юмор, медиа и ивент. Пройти отбор, собеседование или прослушивание могут пользователи в возрасте от 18 до 35 лет со всей России. На шоу в Москве выступят участники и финалисты кастингов, а эксперты-партнеры подведут итоги первого этапа работы платформы.`
        }).performance--ltr
      .partners__row.partners__row--other
        .container
          .partners__row-wrapper
            .partners__row-content
              .partners__item
                img.partners__logo(src="./img/sliderImg-1.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-2.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-3.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-4.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-5.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-6.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-1.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-2.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-3.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-4.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-5.png", alt="Logo")
              .partners__item
                img.partners__logo(src="./img/sliderImg-6.png", alt="Logo")
      +award02(`ВЫСТАВКА МОЛОДЫХ ХУДОЖНИКОВ`,`24 ‒ 25 ОКТЯБРЯ`,`Цифровое деловое пространство`)
        +performance({
          modifier: 'ltr',
          picture: 'esenin.jpg',
          dscr: `Выставка молодых художников – это размышления о локальной идентичности городов России, исследование стереотипов, новых образов, синтеза классических и инновационных городских решений, а также влияния инновационных продуктов на восприятие окружающей реальности. В рамках выставки пройдет благотворительный аукцион. Вырученные средства будут направлены на поддержку проекта «Мечтай со мной».`
        }).performance--ltr
      +sConference-sm
      +castings-slider-2()
        h4.text-dark.font-secondary.font-weight-bold.mt-30.mt-lg-65.mb-30.mb-lg-50 Кураторы
        .castings-slider__content
          +casting-other({
            picture: 'curator-3_1.jpg',
            name: 'Чайковский Александр ',
            descr: 'Советский и российский композитор, пианист, педагог, профессор Московской консерватории, Народный артист Российской Федерации, Лауреат Премии Правительства Российской Федерации'
          }).castings-slider__item

          +casting-other({
            picture: 'curator-3_2.jpg',
            name: 'Чайковский Александр ',
            descr: 'Советский и российский композитор, пианист, педагог, профессор Московской консерватории, Народный '
          }).castings-slider__item
          +casting-other({
            picture: 'curator-1_4.jpg',
            name: 'Чайковский Александр ',
            descr: 'Советский и российский композитор, пианист, педагог, профессор Московской консерватории, '
          }).castings-slider__item
          +casting-other({
            picture: 'curator-2.jpg',
            name: 'Чайковский Александр ',
            descr: 'Советский и российский композитор, пианист, педагог, профессор Московской консерватории, Народный артист Российской Федерации, '
          }).castings-slider__item
          +casting-other({
            picture: 'curator-3_1.jpg',
            name: 'Чайковский Александр ',
            descr: 'Советский и российский композитор, пианист, педагог, профессор Московской консерватории, Народный артист Российской Федерации, '
          }).castings-slider__item

      +award02(`Концерт, посвященный 180-летию со дня рождения П.И. Чайковского при участии резидентов «Тавриды» и приглашенных звезд`,`24 октября`,`Рахманиновский зал Московской государственной консерватории имени П.И. Чайковского`)
        +performance({
          modifier: 'ltr',
          picture: 'esenin.jpg',
          dscr: `В концерте примут участие камерный оркестр Московской консерватории под руководством народного артиста Российской Федерации Феликса Коробова, резиденты арт-кластера «Таврида», студенты и выпускники МГК им. П.И.Чайковского`
        }).performance--ltr
      .container.container--default
        h4.text-dark.font-secondary.font-weight-bold.mt-30.mt-lg-65.mb-30.mb-lg-50 В концерте примут участие:
        .row.text-center
          .col-sm-6.col-lg-4
            +fun-lg({
              photo: 'frame-1.jpg',
              title: `АННА<br>АГЛАТОВА`,
              descr: 'Российская оперная певица, сопрано, в 2014 году была удостоена Премии Президента Российской Федерации для молодых деятелей культуры и номинирована на премию «Золотая маска»'
            }).fun--participants
          .col-sm-6.col-lg-4
            +fun-lg({
              photo: 'frame-2.jpg',
              title: `АЛЕКСЕЙ<br>ТАТАРИНЦЕВ`,
              descr: 'Российский оперный певец, тенор, заслуженный артист Республики Северная Осетия-Алания, лауреат Национальной оперной премии «Онегин» в номинации «Мастер сцены»'
            }).fun--participants
          .col-sm-6.col-lg-4
            +fun-lg({
              photo: 'frame-3.jpg',
              title: 'КАМЕРНЫЙ ОРКЕСТР МОСКОВСКОЙ КОНСЕРВАТОРИИ',
              descr: 'Художественный руководитель и главный дирижер ‒ народный артист Российской Федерации ФЕЛИКС КОРОБОВ'
            }).fun--participants


      +award02(`ШОУ РЕЗИДЕНТОВ АРТ-КЛАСТЕРА «ТАВРИДА»`,`25 октября`,`Цифровое деловое пространство`)(class="award02--pb")
        +performance({
          modifier: 'ltr',
          picture: 'esenin.jpg',
          dscr: `Участниками шоу станут резиденты арт-кластеры «Таврида» ‒ молодые актеры, музыканты, художники, дизайнеры, танцоры, представители различных креативных индустрий, а также шоу-балет из 100 лучших танцоров – выпускников «Тавриды». Основа сюжета – история сотворения современного искусства.`
        }).performance--ltr
      +directions()

      +award02(``,`25 октября`,`Московский театр Олега Табакова`)
        +performance({
          modifier: 'ltr',
          picture: 'esenin.jpg',
          dscr: `Признание и дань уважения ‒ два основных посыла, лежащие в основе новой премии «Легенды Тавриды». Участники и резиденты арт-кластера выразят благодарность легендарным личностям в мире культуры и искусства, за вклад в их профессиональное становление за 6 лет проведения форума «Таврида». Художественный руководитель церемонии вручения премии ‒ художественный руководитель Московского театра Олега Табакова, народный артист Российской Федерации Владимир Машков.`
        }).performance--ltr
        button.btn.btn-green.btn-award(type="submit") Номинанты
        
      +registration-02(class="bg-gray")
  +signup#registration
    //- +footer
