extends ../templates/template.pug
block content
  +header
  .wrapper
    +art
    .container
      .row
        .col-lg-9
          h2.h2--default.my-30.my-xl-60 Форум молодых деятелей культуры и искусства «Таврида – 2020»
      .row
        .col-sm-6.col-lg-4.d-flex
          +part({
            color: '#EFC825',
            title: 'Участники форума',
            dscr: 'Молодые деятели культуры и искусства в возрасте от 18 до 35 лет из всех регионов страны '
          })
        .col-sm-6.col-lg-4.d-flex
          +part({
            color: '#C9DF55',
            title: 'Образовательная программа ',
            dscr: 'Описание блока в одну или несколько строк для наглядности отображения контента...'
          })
        .col-sm-6.col-lg-4.d-flex
          +part({
            color: '#67BAC3',
            title: 'Карьерный лифт',
            dscr: 'Описание блока в одну или несколько строк для наглядности отображения контента'
          })
        .col-sm-6.col-lg-4.d-flex
          +part({
            color: '#BDBDBD',
            title: 'Кросс-студии',
            dscr: 'Молодые деятели культуры и искусства в возрасте от 18 до 35 лет из всех регионов страны '
          })
        .col-sm-6.col-lg-4.d-flex
          +part({
            color: '#CE3B65',
            title: 'Грантовый конкурс',
            dscr: 'Описание блока в одну или несколько строк для наглядности отображения контента'
          })
        .col-sm-6.col-lg-4.d-flex
          +part({
            color: '#476FB2',
            title: 'Программа лояльности для участников форума',
            dscr: 'Описание блока в одну или несколько строк для наглядности отображения контента'
          })
      +award
    +anti-list
    .container
      h2.h2--default.text-dark.mb-30.mb-lg-50 Карта фестиваля
    +map
    +registration({
      modifier: 'forum'
    }).registration--blue
    +partners
    +footer
