extends ../templates/template.pug
block content
  +header
    .wrapper
      +art
      .container
        h2.h2--default.mb-30.mb-xl-60 Форум молодых деятелей культуры и искусства «Таврида – 2020»
        .row
          .col-lg-4
            +part({
              color: '#EFC825',
              title: 'Участники форума',
              dscr: 'Молодые деятели культуры и искусства в возрасте от 18 до 35 лет из всех регионов страны '
            })
          .col-lg-4
            +part({
              color: '#C9DF55',
              title: 'Образовательная программа ',
              dscr: 'Описание блока в одну или несколько строк для наглядности отображения контента...'
            })
          .col-lg-4
            +part({
              color: '#67BAC3',
              title: 'Карьерный лифт',
              dscr: 'Описание блока в одну или несколько строк для наглядности отображения контента'
            })
          .col-lg-4
            +part({
              color: '#BDBDBD',
              title: 'Кросс-студии',
              dscr: 'Молодые деятели культуры и искусства в возрасте от 18 до 35 лет из всех регионов страны '
            })
          .col-lg-4
            +part({
              color: '#CE3B65',
              title: 'Грантовый конкурс',
              dscr: 'Описание блока в одну или несколько строк для наглядности отображения контента'
            })
          .col-lg-4
            +part({
              color: '#476FB2',
              title: 'Программа лояльности для участников форума',
              dscr: 'Описание блока в одну или несколько строк для наглядности отображения контента'
            })
        +award
      +anti-list
      +map
      +registration({
        modifier: 'forum'
      }).registration--blue
      +partners
      +footer
