extends ../templates/template.pug
block content
  +header
  .wrapper
    .team
      .team__front.team__front--new(style="background-image: url(./img/team-front-3.jpg);")
        +header-inner({
          modifier: 'new'
        }).header-inner--alone
        .container.team__front-wrapper
          a.team__front-back(href="#")
          .team__front-content
            h1.team__front-title Грантовый <br>конкурс
            .team__front-subheader
              .team__front-user
                .team__front-age 18 — 30 лет
                .team__front-type гражданин РФ
              p.team__front-contacts По всем вопросам: 
                a(href="#") grant@crki.art
            .team__front-info
              img.team__front-logo(src="./img/grant-logo-1.svg", alt="Logo")
              img.team__front-logo(src="./img/grant-logo-2.svg", alt="Logo")
    .container
      .row
        .col-lg-10.offset-lg-1
          h5.font-weight-semi С 2015 на площадке «Тавриды» проводится конкурс грантовой поддержки молодежных инициатив. За это время его победителями стали 833 человека, на реализацию проектов которых выделено более 246 миллионов рублей. Оператором грантового конкурса молодежных инициатив является Федеральное агентства по делам молодёжи. Конкурс входит в платформу «Россия страна возможностей». 
          a.btn.btn-green(href="#") подать заявку на грант
    .container.mt-30.mb-10.mt-lg-100.mb-lg-45
      h3.text-dark.mb-20 Номинации конкурса
      p.mb-30.mb-lg-70 Грантовый конкурс – это возможность получить поддержку на реализацию проекта
      .row
        .col-sm-6.col-lg-4
          +field({
            icon: 'field-1.svg',
            dscr: 'Добровольчество'
          })
        .col-sm-6.col-lg-4
          +field({
            icon: 'field-2.svg',
            dscr: 'Инициативы творческой молодежи'
          })
        .col-sm-6.col-lg-4
          +field({
            icon: 'field-3.svg',
            dscr: 'Молодежные медиа'
          })
        .col-sm-6.col-lg-4
          +field({
            icon: 'field-4.svg',
            dscr: 'Патриотическое воспитание'
          })
        .col-sm-6.col-lg-4
          +field({
            icon: 'field-5.svg',
            dscr: 'Профилактика негативных проявлений в молодежной среде и межнациональное взаимодействие'
          })
        .col-sm-6.col-lg-4
          +field({
            icon: 'field-6.svg',
            dscr: 'Развитие социальных лифтов'
          })
        .col-sm-6.col-lg-4
          +field({
            icon: 'field-7.svg',
            dscr: 'Спорт, ЗОЖ, Туризм'
          })
        .col-sm-6.col-lg-4
          +field({
            icon: 'field-8.svg',
            dscr: 'Студенческие инициативы'
          })
        .col-sm-6.col-lg-4
          +field({
            icon: 'field-9.svg',
            dscr: 'Укрепление семейных ценностей'
          })
    +participation
    .item-slider__wrapper
      .container.py-30.py-lg-90
        h3.text-dark.mb-30.mb-lg-50 История успеха
        .item-slider
          .item-slider__card
            +story({
              name: 'Евгений Жуков',
              place: 'Тамбовская область',
              project: 'Кинопроект «CAST»'
            })
            +story({
              name: 'Евгений Демьянов',
              place: 'Хабаровский край',
              project: 'Дальневосточный фестиваль современного танца «Амурский Стиль»'
            })
          .item-slider__card
            +story({
              name: 'Мария Конотоп',
              place: 'Воронежская область',
              project: 'Спектакль #НайденаЖива'
            })
            +story({
              name: 'Алина Галиаскарова',
              place: 'г. Санкт-Петербург',
              project: 'Короткометражный фильм «Выстрел»'
            })
          .item-slider__card
            +story({
              name: 'Ирина Кошевая',
              place: 'Рязанская область',
              project: 'Книга «Про театр детям»'
            })
            +story({
              name: 'Денис Козловский',
              place: 'Тамбовская область',
              project: 'Межрегиональный молодежный пленэр «Места силы»'
            })
          .item-slider__card
            +story({
              name: 'Евгений Жуков',
              place: 'Тамбовская область',
              project: 'Кинопроект «CAST»'
            })
            +story({
              name: 'Мария Конотоп',
              place: 'Воронежская область',
              project: 'Спектакль #НайденаЖива'
            })
    +faq
    .container.mb-30.mb-lg-75
      h3.mt-15.text-dark.mb-30.mb-lg-65 Полезные материалы
      .row
        .col-sm-6.col-xl-4
          +document({
            link: 'Методические рекомендации Всероссийского конкурса молодежных проектов среди физических лиц 2020',
          })
        .col-sm-6.col-xl-4
          +document({
            link: 'Критерии оценки и порядок определения победителей',
          })
        .col-sm-6.col-xl-4
          +document({
            link: 'Постановление Правительства Российской Федерации от 13 августа 2016 г. № 795 «О Всероссийском конкурсе молодежных проектов»',
          })
    +partners
    +footer
    +signup#registration
    +signup({
      modifier: 'login'
    })#login
