extends ../templates/template.pug
block content
  +header
  .wrapper
    .team.team--legends
      .team__front(style="background-image: url(./img/legends-head-bg.jpg);")
        +header-inner({
          modifier: 'legends'
        }).header-inner--alone
        .container.container--default
          //- a.team__front-back(href="#")
          .streams__front-content.d-flex.flex-column
            h1.team__front-title.w-100 Премия <br> «Легенды Тавриды»
            h2.streams__front-subheader.mt-auto 2 ‒ 6 сентября 2020
      .color-line
    +sContent
    +AwardNominees
    +footer
    +signup#registration
    +signup({
      modifier: 'login'
    })#login
