extends ../templates/template.pug
block content
  +header
  .wrapper
    .section
      +front
    .section
      +advantages
    .section
      +content
    .section
      +about
    .section
      +partners
      +footer
