extends ../templates/template.pug
block content
  +header
  .wrapper#fullpage
    +front.section
    +highlights.section
    +advantages.section
    +about.section
    .section.section--footer
      +partners
      +footer
