extends ../templates/template.pug
block content
  +header
  .wrapper#fullpage
    +front.section
    +advantages.section
    +content.section
    +about.section
    .section
      +partners
      +footer
