extends ../templates/template.pug
block content
  +header
  .wrapper
    +hero({
      bg: 'partners-front.jpg',
      title: 'Стань <br>партнером <br>арт-кластера <br>«Таврида»',
      modifier: 'linkBack'
    }).align-items-start
    .partnership
      .container.container--narrow
        .partnership__dscr
          .row
            .col-xl-7
              .row
                .col-xl-10
                  h5.h5--new.font-weight-semi.text-dark.text-transform-none.mb-35 Партнерство — это сила, поэтому мы рассмотрим ваши заявки и предложения о сотрудничестве в различных форматах. Свяжитесь с нами, если вы собираетесь:
              ul.ul--gray
                li стать спонсором или партнером Форума и Фестиваля «Таврида — АРТ»;
                li поучаствовать в маркете;
                li предложить ваш товар или услугу для фуд-корта;
                li поддержать политику гостеприимства в качестве партнера по размещению гостей;
                li сделать ко-брендинг или коллаборацию с арт-кластером «Таврида».
            .col-xl-5.col-xml-4.offset-xml-1.d-flex
              .partnership__info
                p.mb-0.font-secondary Сотрудничество с «Тавридой» — это максимально удобно и эффективно, потому что мы придерживаемся принципов открытости и прозрачности при отборе наших партнеров.
        h2.h2--default.text-dark.font-secondary.mb-lg-50 СТАТЬ ПАРТНЕРОМ
        .row
          .col-md-6.col-xml-3.d-flex
            +partner-section({
              title: 'Стать Спонсором/ партнером ',
              bg: '#fff',
              img: 'partner-section-1.svg',
              modal: '#partner-general'
            }).partner-section--white.js-partner-general
          .col-md-6.col-xml-3.d-flex
            +partner-section({
              title: 'Стать Участником маркета',
              bg: '#CE3B65',
              img: 'partner-section-2.svg',
              modal: '#partner-market'
            }).js-partner-market
          .col-md-6.col-xml-3.d-flex
            +partner-section({
              title: 'Стать Участником <nobr>фуд-корта</nobr>',
              bg: '#715F7A',
              img: 'partner-section-3.svg',
              modal: '#partner-food'
            }).js-partner-food
          .col-md-6.col-xml-3.d-flex
            +partner-section({
              title: 'Стать Партнером по размещению гостей',
              bg: '#476FB2',
              img: 'partner-section-4.svg',
              modal: '#partner-rooms'
            }).js-partner-rooms
        +partners-list
    +footer
    +signup#registration
    +signup({
      modifier: 'login'
    })#login
    +signup({
      modifier: 'partner-general'
    })#partner-general
    +signup({
      modifier: 'partner-market'
    })#partner-market
    +signup({
      modifier: 'partner-food'
    })#partner-food
    +signup({
      modifier: 'partner-rooms'
    })#partner-rooms
