extends ../templates/template.pug
block content
  +header
  .wrapper
    +hero({
      bg: 'hero-1.jpg',
      title: 'Я хочу <br>присоединиться <br>к команде'
    })
    +signup#registration
    +signup({
      modifier: 'login'
    })#login
        .row
          .col-lg-4.d-flex
            +part({
              modifier: 'team',
              color: '#EFC825',
              title: 'координаторы Форума',
              dscr: 'Новый формат волонтерского корпуса – Центр практики арт-кластера «Таврида». Прокачай свои скиллы на самом творческом форуме страны'
            }).part--new
          .col-lg-4.d-flex
            +part({
              modifier: 'team',
              color: '#CE3B65',
              title: 'Волонтеры Фестиваля',
              dscr: 'Открыт набор в команду Фестиваля фестивалей «ТАВРИДА-АРТ». Неделя очень интенсивной работы – мир, любовь, искусство, 600 волонтеров и тим-лидеров'
            }).part--new
          .col-lg-4.d-flex
            +part({
              modifier: 'team',
              color: '#67BAC3',
              title: 'РЕЗИДЕНТЫ ТАВРИДЫ',
              dscr: 'Программа кадрового резерва «Резиденты Тавриды» реализуется с 2019 года'
            }).part--new
    +partners
    +footer
    +signup#registration
    +signup({
      modifier: 'login'
    })#login
