extends ../templates/template.pug
block content
  +header
  .wrapper
    .team
      .team__front(style="background-image: url(./img/team-front-1.jpg);")
        +header-inner({
          modifier: 'new'
        }).header-inner--alone
        .container.team__front-wrapper
          a.team__front-back(href="#")
          .team__front-content
            h1.team__front-title РЕГИСТРАЦИЯ <br>НА ВОРКШОП <br>АРТ-ПАРКА
            .team__front-info
              h5.text-white.mb-35 Для кого
              p.p--xs.text-white.team__front-info-dscr архитекторы, перформеры, дизайнеры городской среды, промышленные дизайнеры, авторы инсталляций, художники, скульпторы, представители сайнс-арт, строители
    .workshop
      .container
        h2.h2--default О воркшопе:
        .row
          .col-lg-6
            .workshop__about-item
              .workshop__about-item-icon
                img.img-fluid(src="./img/workshop-about-1.svg", alt="Icon")
                p Воркшопы арт-парка – одна из программ арт-кластера «Таврида», направленная на разработку концепций новых арт-объектов, которые станут частью экспозиции арт-парка
          .col-lg-6
            .workshop__about-item
              .workshop__about-item-icon
                img.img-fluid(src="./img/workshop-about-2.svg", alt="Icon")
                p В результате воркшопов участники совместно с экспертами возведут скульптуры, спроектированные на онлайн-воркшопе, которые станут выставочными экспонатами арт-парка на территории арт-кластера «Таврида»
        h5.text-dark Программа воркшопа включает в себя три этапа:
        .workshop__program
          .workshop__program-item
            p.p--xs Воркшоп - теоретическое и практическое обучающее мероприятие, на котором участники получают знания самостоятельно и/или совместно с экспертами
            +workshop-stage({
              number: '1',
              date: 'с 25 мая по 8 июня',
              dscr: 'Выбор команды, выполнение творческого задания, подача заявки, отбор участников и формирование команд'
            }).workshop-stage--red
          .workshop__program-item
            +workshop-stage({
              number: '2',
              date: 'с 15 июня по 30 июня',
              dscr: 'Онлайн-воркшоп, в рамках которого участники совместно с экспертом будут пошагово работать над созданием концепции скульптуры, проектировать, подбирать материалы и наиболее оптимальную технологию производства <br><br>А также участников ждут онлайн-сессии с известными спикерами на тему: «Паблик-арт и ленд-арт: лучшие мировые практики и особенности рынка современного искусства»'
            }).workshop-stage--yellow
          .workshop__program-item
            +workshop-stage({
              number: '3',
              date: 'с 11 июля по 5 августа',
              dscr: 'Полноценная физическая работа участников и экспертов на территории арт-парка «Таврида», подразумевающая реализацию и строительство разработанной скульптуры'
            }).workshop-stage--yellow
            p.p--xs Дедлайн подачи заявок: 
              span.font-weight-bold 8 июня
            p.p--xs Результаты отбора:
              span.font-weight-bold 11 июня 
        h2.h2--default Команды
        +workshop-team({
          number: '1',
          photo: 'workshop-1.jpg',
          dates: 'с 20 июля по 5 августа',
          name: 'Weld Queen',
          dscr: '<span class="font-weight-bold">Современный художник</span>, работающий на стыке интерактивного искусства, паблик арта и перформанса. Через металл, сварку и художественную мифологию Weld Queen создает «собственную вселенную», в которой разбирает фундаментальные вопросы человеческой природы, труда, самопознания, соотношения «социального» и «духовного» мировосприятий.',
          dscr: {
            text: '<span class="font-weight-bold">Современный художник</span>, работающий на стыке интерактивного искусства, паблик арта и перформанса. Через металл, сварку и художественную мифологию Weld Queen создает «собственную вселенную», в которой разбирает фундаментальные вопросы человеческой природы, труда, самопознания, соотношения «социального» и «духовного» мировосприятий.',
            instagram: 'weldqueen.com'
          },
        })
          h5.mb-30 Творческое задание от Weld Queen
          ol
            li
              span Составьте CV, сфера деятельности сейчас и цели в жизни
              p.p--xxs Условия выполнения задания: файл в формате word.doc, не более 1 000 знаков
            li
              span Опишите ваш опыт и видение на все нижеперечисленных пункты*:
              ul
                li Лепка, 3d моделирование, конструирование, создание визуализаций, академический рисунок. Опыт создания скульптур из любых материалов
                li Работа с металлом. Сварка (ручная дуговая, полуавтоматическая), сборка металлоконструкций. Работа с электроинструментом, болгарка (УШМ), дрель, шуроповерт и т.д. Монтажные работы
                li Электрика и освещение, от дизайна до физической коммутации
                li Сфера коммуникации. СММ, составление презентаций, создание фото/видео контента, монтаж видео, тексты к работам
              p.p--xxs Условия выполнения задания: файл в формате word.doc до 3 000 знаков
              p.p--xxs *Совсем не обязательно обладать всеми из них, самое важное продемонстрировать готовность к их освоению. Уделите внимание пункту «работа с металлом», деятельность предстоит физически непростая, но очень увлекательная!
        +workshop-team({
          number: '2',
          photo: ['workshop-2.jpg', 'workshop-3.jpg'],
          dates: 'с 11 июля по 20 июля',
          name: 'Роман Ермаков и Чеслав Швайков',
          dscr: {
            text: ['<span class="font-weight-bold">Роман Ермаков</span>, художник. Работает в жанре перфоманса, паблик-арта, создает яркие футуристически скульптуры и инсталляции. Ведет мастер-классы по созданию архитектурного костюма и разработке арт-объектов.', '<span class="font-weight-bold">Чеслав Швайков</span>, мастер столяр с 25-летним стажем, дизайнер, художник, преподаватель. Чеслав основатель мастерской Механические Деревянные Шестерёнки и основоположник Движение Общественных Мастерских.'],
            instagram: ['romanermakov.com', 'woodgears.ru']
          },
        })
          h5.mb-30 Творческое задание от Романа и Чеслава
          ol
            li
              span Создайте свой футуристический объект <br>Создайте/нарисуйте композицию из геометрических объемов (шар, цилиндр, конус, параллелепипед, куб и т.д.) и предложите её цветовую раскраску
              p.p--xxs Условия выполнения задания: PDF-файл (презентация) с четкой визуализацией объекта и описанием. Сам объект может быть нарисован от руки или любым другим способом
            li
              span Какой опыт работы с материалами и инструментами у вас есть? Какие знания вы желаете приобрести и какое направление деятельности развивать дальше? <br><br>Примеры: дизайн, образование, художественные направления, живопись, скульптура
              p.p--xxs Условия выполнения задания: файл в формате word.doc, не более 10 предложений
            li
              span Составьте CV, расскажите нам о себе и о своем последнем путешествии
              p.p--xxs Условия выполнения задания: файл в формате word.doc, не больше 50 предложений
        +workshop-team({
          number: '3',
          photo: ['workshop-2.jpg', 'workshop-3.jpg'],
          dates: 'с 20 июля по 5 августа',
          name: 'Артель Свободных Художников',
          dscr: {
            text: ['<span class="font-weight-bold">Александра Чурилова</span> и <span class="font-weight-bold">Мария Ершова</span> – художницы и основательницы проекта «Артель свободных художников». Цель проекта – объединение и раскрытие творческого потенциала современных творцов, которые обладают совершенно разными умениями и навыками. <br><br>Деятельность Александры и Марии направлена на популяризацию нового для России направления в искусстве - Science Art (научное искусство), а также на помощь и содействие в продвижении художников через кураторскую и галерейную деятельность.'],
            instagram: 'icon',
            facebook: 'icon'
          },
        })
          h5.mb-30 Творческое задание от Артели свободных художников
          ol
            li
              span Создайте свой объект «Место силы». Учитывая климатические условия бухты Капсель (песчаные бури, солнце, морской ветер), придумай интерактивный арт-объект или малую архитектурную форму из материалов: доски, металл, бетон, фанера, гофрированная труба, рабица, камень. Арт-объект должен органично вписываться в холмистый ландшафт арт-парка
              p.p--xxs Условия выполнения задания: PDF-файл с четкой визуализацией объекта и описанием его концепции. Объект может быть нарисован от руки или смоделирован в 3D (предпочтительно)
            li
              span Составьте CV, расскажите нам о себе, своей творческой деятельности, реализованных проектах и реальных умениях и навыках, которыми ты обладаешь
              p.p--xxs Условия выполнения задания: файл в формате word.doc, не более 10 предложений.
            li
              span Расскажи про твоё место силы
              p.p--xxs Условия выполнения задания: файл в формате word.doc, не больше 50 предложений
    +partners({
      modifier: 'new'
    }).partners--new
    +footer
