.event {
  position: relative;
  padding-top: 48.48%;
  display: block;
  background-position: center;
  background-size: cover;

  @include transition;

  &:hover {
    opacity: .8;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 42px 70px 63px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @include media-breakpoint-down(lg) {
      padding: 20px;
    }
  }

  &__type {
    padding-bottom: 9px;
    display: inline-flex;
    font-family: $font-family-sans-serif;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 1px solid #fff;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__title {
    max-width: 270px;

    @include media-breakpoint-down(sm) {
      margin-right: 20px;
    }
  }

  &__date {

    @include media-breakpoint-down(sm) {
      white-space: nowrap;
    }
  }
}
