mixin event(data)
  a.event(href="#", style="background-image: url(./img/" + data.picture + ");")&attributes(attributes)
    .event__content
      .event__type программа развлекательных мероприятий
      .event__footer
        h5.event__title.mb-0 Выступления известных артистов
        h5.event__date.mb-0 25 июля
