mixin participation(data)
  .participation&attributes(attributes)
    .container
      h3 Как принять участие в конкурсе?
      .participation__content
        .participation__item
          .participation__item-icon-wrapper
            .participation__item-icon-content
              img.participation__item-icon(src="./img/participation-1.svg", alt)
          p.participation__dscr
            span 1. 
            | Зарегистрироваться на Форум или Фестиваль
        .participation__item
          .participation__item-icon-wrapper
            .participation__item-icon-content
              img.participation__item-icon(src="./img/participation-2.svg", alt)
          p.participation__dscr
            span 2. 
            | Подать заявку на грантовый конкурс 
          p.text-white.mb-0.participation__item-comment Старт будет объявлен совсем скоро
        .participation__item
          .participation__item-icon-wrapper
            .participation__item-icon-content
              img.participation__item-icon(src="./img/participation-3.svg", alt)
          p.participation__dscr
            span 3. 
            | Приехать на Форум или Фестиваль и получить консультацию от профессиональных экспертов
        .participation__item
          .participation__item-icon-wrapper
            .participation__item-icon-content
              img.participation__item-icon(src="./img/participation-4.svg", alt)
          p.participation__dscr
            span 4. 
            | Защитить проект за 3 минуты
        .participation__item
          .participation__item-icon-wrapper
            .participation__item-icon-content
              img.participation__item-icon(src="./img/participation-5.svg", alt)
          p.participation__dscr
            span 5. 
            | Получить грант на реализацию проекта
