mixin participation(data)
  .participation&attributes(attributes)
    .container
      h3 Как принять участие в конкурсе?
      .participation__content
        .participation__item
          .participation__item-icon(style="background-image: url(./img/participation-1.svg)")
          p.mb-0.text-white.text-center Зарегистрироваться на Форум или Фестиваль
        .participation__item
          .participation__item-icon(style="background-image: url(./img/participation-2.svg)")
          p.mb-0.text-white.text-center Подать заявку на грантовый конкурс 
          p.text-white.mb-0.participation__item-comment Старт будет объявлен совсем скоро
        .participation__item
          .participation__item-icon(style="background-image: url(./img/participation-3.svg)")
          p.mb-0.text-white.text-center Приехать на Форум или Фестиваль и получить консультацию от профессиональных экспертов
        .participation__item
          .participation__item-icon(style="background-image: url(./img/participation-4.svg)")
          p.mb-0.text-white.text-center Защитить проект за 3 минуты
        .participation__item
          .participation__item-icon(style="background-image: url(./img/participation-5.svg)")
          p.mb-0.text-white.text-center Получить грант на реализацию проекта
