.participation {
  padding: 55px 0 80px;
  background: #715f7a;

  @include media-breakpoint-down(lg) {
    padding-bottom: 15px;
  }

  &__content {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(lg) {
      flex-flow: row wrap;
      justify-content: space-around;
    }
  }

  &__item {
    position: relative;
    display: flex;
    max-width: 200px;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-down(lg) {
      margin-bottom: 40px;
      padding: 0 20px;
      width: 33.33%;
      max-width: none;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    &:nth-child(2n + 2) {
      margin-top: 373px;

      @include media-breakpoint-down(lg) {
        margin-top: 0;
      }

      .participation__item-icon-wrapper {

        &:before {
          position: absolute;
          z-index: 0;
          top: auto;
          right: 100%;
          bottom: calc(100% - 55px);
          left: auto;
          display: block;
          width: 177px;
          height: 389px;
          content: '';
          background: url(../img/participation-arrow--left.svg) no-repeat;
          background-size: contain;

          @media screen and (max-width: 1699px) {
            right: 90%;
          }

          @media screen and (max-width: 1499px) {
            right: 70%;
          }

          @media screen and (max-width: 1399px) {
            right: 50%;
          }

          @include media-breakpoint-down(lg) {
            display: none;
          }
        }

        &:after {
          position: absolute;
          z-index: 0;
          top: auto;
          right: auto;
          bottom: calc(100% - 55px);
          left: 100%;
          display: block;
          width: 177px;
          height: 389px;
          content: '';
          background: url(../img/participation-arrow--right.svg) no-repeat;
          background-size: contain;

          @media screen and (max-width: 1699px) {
            left: 90%;
          }

          @media screen and (max-width: 1499px) {
            left: 70%;
          }

          @media screen and (max-width: 1399px) {
            left: 50%;
          }

          @include media-breakpoint-down(lg) {
            display: none;
          }
        }
      }

      .participation__item-icon {
        margin-left: 30px;
      }
    }
  }

  &__item-icon-content {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    &:before {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: #715f7a;
    }
  }

  &__item-icon-wrapper {
    position: relative;
    display: flex;
    width: 140px;
    max-width: 100%;
    height: 112px;
    justify-content: center;
    align-items: center;
    background-color: #715f7a;
  }

  &__item-icon {
    position: relative;
    z-index: 1;
    margin: 0 auto 5px;
    max-width: 100%;
  }

  &__dscr {
    margin-bottom: 0;
    font-family: $font-family-secondary;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #fff;

    span {
      display: none;

      @include media-breakpoint-down(lg) {
        display: inline;
      }
    }
  }

  &__item-comment {
    font-size: 16px;
    text-align: center;

    @include media-breakpoint-down(lg) {
      font-size: 14px;
    }
  }
}
