mixin exhibition(data)
  .exhibition&attributes(attributes)
    .container
      h2.h2--default.font-secondary.text-dark.mb-40.mb-lg-60 Выставка регионов и корпораций
      .row
        .col-lg-4
          .exhibition__left
            p.mb-0.font-weight-bold.font-secondary Выставка регионов и корпораций – это Россия в миниатюре. Здесь регионы России рассказывают в интересных и интерактивных формах об особенностях культуры, уникальности и красоте своего края, делятся с участниками и гостями бесценным опытом поколений, представляют видение будущего в сферах, связанных с историей, искусством и творчеством молодежи. Именно на выставочных стендах можно узнать, чем живет молодежь разных регионов нашей страны, что она творит и вытворяет.
        .col-lg-6.offset-lg-1
          .exhibition__right
            p.font-secondary.font-weight-normal.mb-40 У посетителей выставки будет возможность принять участие в различных мастер-классах, посмотреть концерты, продегустировать региональные продукты и напитки, поучаствовать во встречах с известными людьми – артистами, политиками, шоу-менами. Именно здесь можно сделать классные фото в необычных фото-зонах и сразу разместить их в соцсетях.
            p.font-secondary.font-weight-normal Выставка разделена на 2 зоны, в каждой из которых гостей ждут яркие эмоции и незабываемые события.
