mixin exhibition(data)
  .exhibition&attributes(attributes)
    .container
      h2.h2--default.font-secondary Выставка регионов и корпораций
      .row
        .col-lg-5
          .exhibition__left
            p.mb-0.font-weight-bold.font-secondary Выставка регионов и корпораций – это Россия в миниатюре. Здесь регионы России рассказывают в интересных и интерактивных формах об особенностях культуры, уникальности и красоте своего края, делятся с участниками и гостями бесценным опытом поколений, представляют видение будущего в сферах, связанных с историей, искусством и творчеством молодежи. Именно на выставочных стендах можно узнать, чем живет молодежь разных регионов нашей страны, что она творит и вытворяет.
        .col-lg-7
