.logo {
  display: block;

  &__img {
    width: 100%;
  }

  &--mirroring {
    position: relative;
    margin: 0 auto;
    max-width: 540px;

    &:before {
      position: absolute;
      top: -70px;
      left: 0;
      padding-top: 28.89%;
      display: block;
      width: 100%;
      content: '';
      background: url(../img/logo--stroke.svg) no-repeat;
      background-size: contain;
    }

    &:after {
      position: absolute;
      bottom: -78px;
      left: 0;
      padding-top: 28.89%;
      display: block;
      width: 100%;
      content: '';
      background: url(../img/logo--stroke.svg) no-repeat;
      background-size: contain;
    }
  }
}
