.front {
  position: relative;

  @include media-breakpoint-down(md) {
    padding: 100px 0 50px;
  }

  &:before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(#000, .3);
  }

  &__wrapper {
    padding: 58px 0 106px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media-breakpoint-down(xml) {
      padding: 40px 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 20px 0;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__content-right {
  }

  &__contours {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
  }

  &__subheader {
    margin-top: 50px;
    font-family: $font-family-sans-serif;
    font-weight: 600;
    text-align: right;

    @include media-breakpoint-down(lg) {
      margin-top: 20px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 0;
      text-align: left;
    }
  }

  &__signup {
    position: fixed !important;
    z-index: 1;
  }

  &__container {
    position: relative;
    z-index: 1;
  }

  &__logo {
    margin-bottom: 147px;
    max-width: 100%;

    @include media-breakpoint-down(md) {
      max-width: 50%;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header-inner {
    z-index: 2;
  }
}
