.front {
  background: url(../img/front.jpg) no-repeat top center;
  background-size: cover;

  &__wrapper {
    padding: 58px 0 106px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media-breakpoint-down(xml) {
      padding: 40px 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 20px 0;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include media-breakpoint-down(sm) {
      //      flex-direction: column;
    }
  }

  &__content-right {
  }

  &__contours {
    color: transparent;
    -webkit-text-stroke: 1px black;
  }

  &__subheader {
    margin-top: 50px;
    font-family: $font-family-sans-serif;
    font-weight: 600;
    text-align: right;

    @include media-breakpoint-down(lg) {
      margin-top: 20px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 0;
      text-align: left;
    }
  }

  &__signup {
    position: relative;
    z-index: 1;
    max-height: calc(100vh - 72px);

    @include media-breakpoint-down(xl) {
      max-width: calc(100% - 140px) !important;
    }

    @include media-breakpoint-down(lg) {
      max-width: calc(100% - 70px) !important;
    }

    @include media-breakpoint-down(md) {
      top: 86px !important;
      max-height: none;
    }

    @include media-breakpoint-down(sm) {
      top: 0 !important;
      left: 0 !important;
      max-width: none !important;
    }

    .ps__rail-y {
      right: 10px !important;
    }

    .ps__thumb-y {
      background: $gray-500 !important;
    }
  }
}
