.front {
  background: url(../img/front.jpg) no-repeat top center;
  background-size: cover;

  &__wrapper {
    padding: 58px 0 106px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__content-right {
  }

  &__contours {
    color: transparent;
    -webkit-text-stroke: 1px black;
  }

  &__subheader {
    margin-top: 50px;
    font-family: $font-family-sans-serif;
    font-weight: 600;
    text-align: right;
  }
}
