mixin front(data)
  .front&attributes(attributes)
    .container
      .section__content.front__wrapper
        .front__header
          +logo({
            img: 'logo.svg'
          })
          a.btn.btn-outline-secondary.js-registration(href="#") Регистрация
          +signup
        .front__content
          h1.front__contours #МИР <br>#ЛЮБОВЬ <br>#ИСКУСТВО
          .front__content-right
            h1 ТЫ <br>УНИКАЛЕН? <br>ДОКАЖИ!
            h4.front__subheader На фестивале
