.workshop {
  padding-top: 45px;
  font-family: $font-family-secondary;

  &__about-item {
    margin-bottom: 50px;
    padding-right: 130px;
    display: flex;
  }

  &__about-item-icon {
    width: 235px;
    flex-shrink: 0;
  }

  &__program {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
  }

  &__program-text {
    color: rgba(#333, .7);
  }

  &__program-item {
    max-width: 480px;
  }
}
