.feature {
  position: relative;

  @include media-breakpoint-down(xml) {
    max-width: 30%;
  }

  &__bg {

    @include media-breakpoint-down(xml) {
      width: 100%;
    }
  }

  &__content {
    position: absolute;
    text-align: center;
  }

  &__number {

    span {
      font-size: 40px;

      @include media-breakpoint-down(xml) {
        font-size: 20px;
      }
    }
  }

  &__title {
    font-family: $font-family-sans-serif;
    font-size: 28px;
    line-height: 1.18;
    font-weight: 600;

    @include media-breakpoint-down(xml) {
      font-size: 20px;
    }
  }

  &--blue {

    .feature__content {
      top: 179px;
      left: 89px;

      @include media-breakpoint-down(xml) {
        top: 130px;
        left: 90px;
      }
    }
  }

  &--yellow {
    margin-top: 61px;
    margin-left: -5px;

    .feature__content {
      top: 184px;
      left: 120px;

      @include media-breakpoint-down(xml) {
        top: 120px;
        left: 110px;
      }
    }
  }

  &--red {
    margin-top: -73px;
    margin-left: -71px;

    .feature__content {
      top: 250px;
      left: 125px;

      @include media-breakpoint-down(xml) {
        top: 150px;
        left: 90px;
      }
    }
  }
}
