.cabinet {
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;

  &__content {
    padding: 64px 0;
  }

  &__header {
    position: relative;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      align-items: flex-start;
    }
  }

  &__header-content {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__logout {
    display: flex;
    align-items: center;
    font-family: $font-family-serif;
    font-size: 20px;
    font-weight: 900;
    color: #333;

    @include media-breakpoint-down(xs) {
      position: absolute;
      top: 0;
      right: 0;
    }

    &:after {
      margin-left: 22px;
      display: block;
      width: 24px;
      height: 24px;
      content: '';
      background: url(../img/cabinet-logout.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__user {
    margin-top: 23px;
    margin-left: auto;
    padding: 30px;
    max-width: 386px;
    background: #f2f2f2;
    border-radius: 20px;

    @include media-breakpoint-down(xl) {
      margin-bottom: 40px;
      margin-left: 0;
    }
  }

  &__user-top {
    display: flex;
    align-items: flex-start;
  }

  &__user-picture {
    margin-right: 44px;
    width: 104px;
    height: 104px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 50%;
  }

  &__user-content {
    margin-top: 8px;
  }

  &__user-edit {
    margin-top: 25px;
    display: flex;
    align-items: center;

    @include transition;

    &:hover {
      opacity: .75;
    }

    &:before {
      margin-right: 20px;
      display: block;
      width: 20px;
      height: 20px;
      content: '';
      background: url(../img/edit.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__user-new {
    position: relative;
    margin-top: 30px;
    padding: 50px 30px 35px;
    display: flex;
    max-width: 386px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #f2f2f2;
    border-radius: 20px;

    @include media-breakpoint-down(xml) {
      margin-bottom: 40px;
    }
  }

  &__user-new-id {
    position: absolute;
    top: -20px;
    left: 50%;
    padding: 10.5px 10px;
    font-family: $font-family-secondary;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 700;
    color: #fff;
    background: #715f7a;
    transform: translateX(-50%);
  }

  &__user-new-top {
  }

  &__user-new-picture {
    margin-bottom: 20px;
    width: 191px;
    height: 227px;
    background-position: top center;
    background-size: cover;
    border-radius: 13px;
  }

  &__user-link {
    margin-bottom: 33px;
    display: block;
    font-family: $font-family-secondary;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: $primary;
  }

  &__quiz-steps-wrapper {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
  }

  &__quiz-step {
    margin-right: 26px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    background: #c4c4c4;
    border-radius: 50%;

    @include media-breakpoint-down(sm) {
      margin-right: 10px;
    }

    &--active {
      background: $primary;
    }
  }

  &__quiz-step-number {
    font-family: $font-family-secondary;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    color: #bdbdbd;

    span {
      color: $primary;
    }
  }

  &__quiz-question {
  }

  &__quiz-question-header {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }

  &__quiz-btn {
    margin-top: 40px;
    min-width: 280px;
    text-transform: uppercase;
  }

  &--new {

    .cabinet__header {
      margin-bottom: 45px;
    }

    .cabinet__user-edit {
      margin-top: 40px;
    }
  }
}
