.field {
  margin-bottom: 55px;
  display: flex;
  align-items: center;

  p {
    font-family: $font-family-secondary;
    font-size: 16px;
    font-weight: 600 !important;
  }

  @include media-breakpoint-down(lg) {
    margin-bottom: 30px;
    flex-direction: column;
    text-align: center;
  }

  &__icon {
    margin-right: 40px;
    display: flex;
    width: 79px;
    height: 77px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    @include media-breakpoint-down(lg) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}
