mixin workshop-stage(data)
  .workshop-stage&attributes(attributes)
    .workshop-stage__circle
      .workshop-stage__number= data.number
      .workshop-stage__circle-header этап
    .workshop-stage__content
      p.font-weight-bold.mb-20.font-secondary= data.date
      p.p--xs.mb-0.font-weight-bold.font-secondary.workshop-stage__dscr!= data.dscr
