.workshop-stage {
  position: relative;
  padding: 28px 38px 33px 80px;
  font-family: $font-family-secondary;
  color: #fff;
  border-radius: 10px;

  @include media-breakpoint-down(xl) {
    padding: 30px 30px 30px 40px;
  }

  @include media-breakpoint-down(sm) {
    padding: 20px 20px 30px;
  }

  &__circle {
    position: absolute;
    top: 30px;
    left: -40px;
    display: flex;
    width: 96px;
    height: 96px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #715f7a;
    border-radius: 50%;

    @include media-breakpoint-down(xl) {
      top: 20px;
      left: -30px;
      width: 60px;
      height: 60px;
    }

    @include media-breakpoint-down(sm) {
      position: static;
      margin-bottom: 20px;
    }
  }

  &__number {
    font-size: 35px;
    line-height: 1;
    font-weight: 900;
    color: #efc825;

    @include media-breakpoint-down(xl) {
      font-size: 25px;
    }
  }

  &__circle-header {
    font-size: 12px;
    line-height: 1.3;
    font-weight: 700;
    color: #fff;
  }

  &__content {
  }

  &--red {
    background: #ce3b65;

    p {
      color: #fff;
    }

    &:after {
      position: absolute;
      z-index: 1;
      bottom: -80px;
      left: 8px;
      display: block;
      width: 581.41px;
      height: 280px;
      content: '';
      background: url(../img/workshop-arrow-1.svg) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(xml) {
        display: none;
      }
    }
  }

  &--yellow {
    background: #efc825;

    &:after {
      position: absolute;
      z-index: 1;
      top: -98px;
      left: 11px;
      display: block;
      width: 586.34px;
      height: 138.5px;
      content: '';
      background: url(../img/workshop-arrow-2.svg) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(xml) {
        display: none;
      }
    }
  }

  &--green {
    background: #67bac3;
  }
}
