.header-inner {

  .container {

    @include media-breakpoint-down(xl) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__logo {

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__menu {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__link {
    font-family: $font-family-serif;
    font-size: 20px;
    line-height: 1;
    font-weight: 900;
    color: #fff;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }

    @include transition;

    &:hover {
      opacity: .75;
      color: #fff;
    }

    & + & {
      margin-left: 60px;

      @include media-breakpoint-down(md) {
        margin-left: 20px;
      }
    }
  }

  &__login {
    margin-right: 17px;
    width: 48px;
    height: 48px;
    background: url(../img/header-login.svg) no-repeat center;
    border: 1px solid #fff;
    border-radius: 50%;
  }

  .btn-outline-secondary {
    padding: 10px 55px;
    display: inline-flex;
    align-items: center;
  }

  &--alone {
    position: absolute;
    top: 0;
    left: 0;
    padding: 65px 65px 20px;
    width: 100%;

    @include media-breakpoint-down(xl) {
      padding: 20px;
    }

    .header-inner__logo {

      @include media-breakpoint-down(lg) {
        max-width: 150px;
      }
    }

    .header-inner__link {

      @include media-breakpoint-down(lg) {
        font-size: 16px;
      }
    }
  }

  &--front {

    .header-inner__wrapper {
      padding-right: 140px;
      justify-content: flex-end;
    }
  }

  &--summary {

    .header-inner__wrapper {
      width: 100%;
      justify-content: flex-start;
    }

    .header-inner__menu {
      margin-right: auto;
      margin-left: 85px;
    }
  }
}
