.header-inner {

  .container {

    @include media-breakpoint-down(xl) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__logo {

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__menu {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(xs) {
      margin-bottom: 20px;
    }
  }

  &__link {
    font-size: 20px;
    line-height: 1;
    font-weight: 900;
    color: #fff;

    @include media-breakpoint-down(xs) {
      font-size: 16px;
    }

    @include transition;

    &:hover {
      opacity: .75;
      color: #fff;
    }

    & + & {
      margin-left: 60px;

      @include media-breakpoint-down(md) {
        margin-left: 20px;
      }
    }
  }
}
