mixin header-inner(data)
  .header-inner&attributes(attributes)
    .container
      .header-inner__wrapper
        +logo
        .header-inner__menu
          a.header-inner__link(href="#") Как добраться
          a.header-inner__link(href="#") Где жить?
          a.header-inner__link(href="#") Лайн-ап
        a.btn.btn-outline-secondary(href="#") Регистрация
