.partners-list {
  margin-top: 70px;

  &__item {
    margin-bottom: 45px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item-img-wrapper {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  &__item-img {
    max-width: 100%;
  }

  &__item-title {
    display: flex;
    min-height: 43px;
    justify-content: center;
    align-items: center;
    font-family: $font-family-secondary;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    text-align: center;
    color: #000;
  }
}
