.map {
  position: relative;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-down(xl) {
    margin-bottom: 30px;
  }

  &__wrapper {
    position: relative;
  }

  &__img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 3.65438px 50px rgba(0, 0, 0, .35);
  }

  &__btn {
    position: absolute;
    bottom: 48px;
    left: 66px;
    padding: 14px 21.3px;
    font-family: $font-family-serif;
    font-size: 20px;
    line-height: 1;
    font-weight: 900;
    color: #4dc5c6;
    background: #fff;
    border-radius: 250px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);

    @include media-breakpoint-down(lg) {
      bottom: 20px;
      left: 20px;
    }

    @include transition;
  }
}
