.link-back {
  margin-right: 37px;
  display: block;
  width: 36px;
  height: 30px;
  background: url(../img/link-back.png) no-repeat;
  background-size: contain;

  @include media-breakpoint-down(sm) {
    margin-bottom: 10px;
  }

  &--dark {
    background: url(../img/link-back--dark.svg) no-repeat;
    background-size: contain;
  }
}
