.festival-parade {
  margin-top: 250px;

  &__wrapper {
    background: $primary;
    padding: 65px 0;
    position: relative;
    margin-top: 75px;

    @include media-breakpoint-down(md) {
      margin-top: 30px;
    }

    //    &:before {
    //      content: '';
    //      display: block;
    //      width: 930px;
    //      height: 543px;
    //      background: url(../img/festival-ship.svg) no-repeat bottom right;
    //      background-size: contain;
    //      position: absolute;
    //      right: 0;
    //      bottom: calc(100% - 7px);
    //
    //      @include media-breakpoint-down(xml) {
    //        width: 680px;
    //        height: 380px;
    //      }
    //
    //      @include media-breakpoint-down(lg) {
    //        display: none;
    //      }
    //    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__dscr {
    margin-right: 90px;

    @include media-breakpoint-down(md) {
      margin-right: 0;
      margin-bottom: 30px !important;
    }
  }

  &__btn {
    flex-shrink: 0;
  }

  &__picture {
    max-width: 100%;
    border-radius: 20px;
    margin-bottom: -135px;
    position: relative;
    z-index: 1;

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }
  }
}
