mixin festival-parade(data)
  .festival-parade&attributes(attributes)
    .container.container--default
      .row
        .col-lg-7
          h2.h2--default.font-secondary.text-dark.mb-30.mb-xl-60 Парад маломерных судов с участием трехмачтового фрегата «Херсонес»
          .row
            .col-lg-8
              p.font-weight-semi.font-secondary Парад маломерных судов состоялся 5 сентября на фестивале фестивалей «Таврида ‒ АРТ».
        .col-lg-5
          img.festival-parade__picture(src="./img/fest-parade-1.jpg", alt)
    .festival-parade__wrapper
      .container.container--default
        .row
          .col-lg-7
            p.text-white.font-secondary.font-weight-normal.mb-25 В бухте Капсель собрались яхты, галеры, фрегаты и старинные катера со всего Крыма: Ялты, Севастополя, Балаклавы, Нового Света, Алушты, Феодосии и Новороссийска.
        .row
          .col-lg-10
            p.text-white.font-secondary.font-weight-normal.mb-0 Парад на воде проходил в дневное и вечернее время. Победителем дневного парада стала команда галеры «Таврида» из Судака, оформленной в античном стиле. На вечернем параде победу одержала учебная парусная шхуна «Святая Татьяна», представляющая Международный детский центр «Артек». Экипажи получили по 500 000 рублей.
