mixin festival-parade(data)
  .festival-parade&attributes(attributes)
    .container.container--default
      .row
        .col-lg-7
          h2.h2--default.font-secondary.text-dark.mb-25 Парад маломерных судов с участием трехмачтового фрегата «Херсонес»
          .row
            .col-lg-8
              p.font-weight-semi.font-secondary Парад маломерных судов пройдет 5 сентября на фестивале фестивалей «Таврида-АРТ»
    .festival-parade__wrapper
      .container.container--default
        .festival-parade__content
          p.festival-parade__dscr.text-white.font-secondary.font-weight-normal.mb-0 В параде лодок примут участие маломерные суда (яхты, галеры, фрегаты, старинные и современные катера). Парад завершится конкурсом на самое ярко оформленное маломерное судно. Будет оцениваться оригинальность оформления экипажами судов и образы самих членов команд. Победители получат вознаграждение в виде сертификата, которым можно будет оплатить ремонт и техническое обслуживание своего судна.
          a.btn.btn-green.btn-green--new.btn-md.festival-parade__btn(href="#") Подать заявку
