mixin sParticipation(data)
  .sParticipation&attributes(attributes)
    .row
      mixin item(i,t)
        .col-lg-4
          a.sParticipation__item(href="#")
            .row.align-items-center
              .col-5
                .sParticipation__imgWrap
                  img(src=`img/participation-${i}.svg`, alt="")
              .col
                .sParticipation__title= t
      +item('1','стать участником')
      +item('2','стать зрителем')
      +item('3','стать волонтером')
