mixin casting-stream(data)
  .casting-stream&attributes(attributes)
    .container
      h2.h2--default.font-secondary.text-dark.mb-40.mb-lg-85 Онлайн-трансляция кастинга
      .casting-stream__content
        a.casting-stream__media(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk", data-fancybox, style="background-image: url(./img/casting-stream.jpg);")
