.menu {

  &__btn {
    display: flex;
    width: 100%;
    height: 9.72vh;
    background: url(../img/menu.svg) no-repeat center;
    border-bottom: 1px solid $primary;
  }

  &__content {
    display: none;
  }
}
