mixin registration(data)
  .registration&attributes(attributes)
    .container
      if data && data.title
        h2.h2--default.text-white.mb-15= data.title
      else if data && data.modifier == 'streams'
      else
        h2.h2--default.text-white.mb-15 Регистрация на фестиваль
      form.form(action="#", method="POST")
        if data && data.modifier == 'streams'
        else
          .row
            .col-md-4.col-xml-3
              .form__item.form-group
                label.form__label Фамилия
                input.input.form-control(type="text", placeholder="Введите вашу фамилию")
            .col-md-4.col-xml-3
              .form__item.form-group
                label.form__label Имя
                input.input.form-control(type="text", placeholder="Введите ваше имя")
            .col-md-4.col-xml-3
              .form__item.form-group
                label.form__label Отчество
                input.input.form-control(type="text", placeholder="Введите ваше отчество")
          .row
            .col-md-4.col-xml-3
              .form__item.form-group
                label.form__label Телефон
                input.input.form-control(type="text", placeholder="+7 ( ___ ) ___ - __ - __")
            .col-md-4.col-xml-3
              .form__item.form-group
                label.form__label E-mail
                input.input.form-control(type="text", placeholder="sample@sample.com")
        if data && data.modifier == 'festival'
          .registration__type
            .registration__type-top
              .registration__type-header Выберите тип участия
              .registration__type-content
                .custom-control.custom-radio
                  input#type1.custom-control-input(type='radio', name='type')
                  label.custom-control-label(for='type1') Зритель
                .custom-control.custom-radio
                  input#type2.custom-control-input(type='radio', name='type')
                  label.custom-control-label(for='type2') Участник
                .custom-control.custom-radio
                  input#type3.custom-control-input(type='radio', name='type')
                  label.custom-control-label(for='type3') Партнер
          .row
            .col-xml-8
              .registration__type-dscr
                p.registration__type-dscr-item.registration__type-dscr-item--active Участник это - считает, что после принятия этого закона, когда люди раньше начнут выходить на пенсию, возникнет более 1,5 млн. безработных. Их не удастся быстро трудоустроить. Так быстро новые трудовые места не появятся
          .row
            .col-md-4.col-xml-3
              .form__item.form-group
                label.form__label О себе
                textarea.input.input--textarea.form-control(placeholder="Расскажите нам о себе")
            .col-md-4.col-xml-3
              .form__item.form-group
                label.form__label Достижения в сфере культуры и искусства
                textarea.input.input--textarea.form-control(placeholder="Немного о ваших достижениях")
            .col-md-4.col-xml-3
              .form__item.form-group
                label.form__label Сфера деятельности
                select.select
                  option(disabled, selected) Творческая антишкола классической музыки
                  option Деятельность 1
                  option Деятельность 2
        if data && data.modifier == 'forum'
          .registration__type
            .registration__type-top
              .registration__type-header Выберите тип участия
              .registration__type-content
                .custom-control.custom-radio
                  input#type4.custom-control-input(type='radio', name='type')
                  label.custom-control-label(for='type4') Индивидуально
                .custom-control.custom-radio
                  input#type5.custom-control-input(type='radio', name='type')
                  label.custom-control-label(for='type5') Команда
                .custom-control.custom-radio
                  input#type6.custom-control-input(type='radio', name='type')
                  label.custom-control-label(for='type6') Координатор
          .row
            .col-xml-8
              .registration__type-dscr
                p.registration__type-dscr-item.registration__type-dscr-item--active Команда это - считает, что после принятия этого закона, когда люди раньше начнут выходить на пенсию, возникнет более 1,5 млн. безработных. Их не удастся быстро трудоустроить. Так быстро новые трудовые места не появятся
          .row
            .col-xml-6
              .form__item.form-group
                label.form__label Название коллектива
                input.input.form-control(type="text", placeholder="Введите название коллектива", value="Горбатов и компания")
          .row
            .col-md-4.col-xml-3
              .form__item.form-group
                label.form__label О себе
                textarea.input.input--textarea.form-control(placeholder="Расскажите нам о себе")
            .col-md-4.col-xml-3
              .form__item.form-group
                label.form__label Достижения в сфере культуры и искусства
                textarea.input.input--textarea.form-control(placeholder="Немного о ваших достижениях")
          .row
            .col-md-4.col-xml-3
              .form__item.form-group
                label.form__label Участники коллектива (только существующие ID участников)
                .form__team-input
                  input.input.form__team-input-content.form-control(type="text", placeholder="ID участника")
                  a.form__team-input-btn(href="#")
            .col-md-4.col-xml-3.d-flex.align-items-center
              .form__item-warning Такого ID не существует
          .form__team-list
            .form__team-item
              .form__team-item-id ID 1235598
              .form__team-item-name Гановерский А.В.
              a.form__team-item-remove(href="#")
            .form__team-item
              .form__team-item-id ID 1235598
              .form__team-item-name Гановерский А.В.
              a.form__team-item-remove(href="#")
              
        if data && data.modifier == 'streams'
          h2.h2--default.text-dark.font-secondary.mb-10 ПОДАТЬ ЗАЯВКУ
          p.p--sm.font-secondary.mb-30.mb-lg-45 заявки принимаются до 31 августа 2020 года
          .row.mb-20
            .col-md-3.col-xl-2
              .registration__radio-header Выбери формат участия:
            .col-md-4.col-xl-3
              .registration__radio-content
                .custom-control.custom-radio.registration__radio-btn
                  input#format1.custom-control-input(type='radio', name='format', checked)
                  label.custom-control-label(for='format1') Online
                .custom-control.custom-radio.registration__radio-btn
                  input#format2.custom-control-input(type='radio', name='format')
                  label.custom-control-label(for='format2') Offline
          .row.mb-20
            .col-md-3.col-xl-2
              .registration__radio-header Выбери форму заявки:
            .col-md-4.col-xl-3
              .registration__radio-content
                .custom-control.custom-radio.registration__radio-btn
                  input#form1.custom-control-input(type='radio', name='form', checked)
                  label.custom-control-label(for='form1') Индивидуальная
                .custom-control.custom-radio.registration__radio-btn
                  input#form2.custom-control-input(type='radio', name='form')
                  label.custom-control-label(for='form2') Коллективная
          .row.mb-40
            .col-md-3.col-xl-2
              .registration__radio-header Участвовал ли ты в проектах арт-кластера «Таврида»?
            .col-md-4.col-xl-3
              .registration__radio-content
                .custom-control.custom-radio.registration__radio-btn
                  input#participation1.custom-control-input(type='radio', name='participation', checked)
                  label.custom-control-label(for='participation1') Да
                .custom-control.custom-radio.registration__radio-btn
                  input#participation2.custom-control-input(type='radio', name='participation')
                  label.custom-control-label(for='participation2') Нет
          .row
            .col-md-6.col-xl-4.col-xml-3
              .form__item.form-group
                label.form__label Тематика мастер-класса/эфира
                select.select.select--new
                  option(disabled, selected) Выберите из списка
                  option Опция 1
                  option Опция 2
            .col-md-6.col-xl-4.col-xml-3
              .form__item.form-group
                label.form__label Направление
                select.select.select--new
                  option(disabled, selected) Выберите из списка
                  option Направление 1
                  option Направление 2
          .row
            .col-xml-9
              .form__item.form-group
                label.form__label Краткая концепция и цель твоего эфира
                textarea.input.input--textarea.input--textarea-sm.form-control
          .row
            .col-lg-6
              .form__item.form-group
                label.form__label Ссылка на социальную сеть (аккаунт), где будет проходить трансляция / будет выложено видео
                input.input.input--new.form-control(type="text", placeholder="http:\\")
          .row
            .col-md-6.col-xl-4.col-xml-3
              .form__item.form-group
                label.form__label Дата проведения онлайн-трансляции
                select.select.select--new
                  option(disabled, selected) Выберите из списка
                  option Опция 1
                  option Опция 2
            .col-md-6.col-xl-4.col-xml-3
              .form__item.form-group
                label.form__label Выберите время
                select.select.select--new
                  option 14:45
                  option Опция 1
                  option Опция 2
          .row
            .col-md-6.col-xl-4.col-xml-3
              .form__item.form-group
                label.form__label Контактный телефон
                input.input.input--new.form-control(type="text", placeholder="+7 (____) ____ - ___ - ___")
          .row
            .col-md-6.col-xl-4.col-xml-3
              .form__item.form-group
                label.form__label Выберите день
                input.input.input--new.input--date.form-control(type="text")
            .col-md-6.col-xl-4.col-xml-3
              .form__item.form-group
                label.form__label Выберите время
                input.input.input--new.input--time.form-control(type="text")
        .form__footer
          button.btn.btn-green.btn-green--new.btn-sm(type="submit") Отправить
          p.form__footer-agreement Нажимая кнопку, я соглашаюсь с правилами пользования сайтом Арт-кластера «Таврида» и с политикой обработки и защиты персональных данных.
                  
        if data && data.modifier == 'team'
          .registration__type
            .registration__type-top
              .registration__type-header Выберите тип участия
              .registration__type-content
                .custom-control.custom-radio
                  input#type1.custom-control-input(type='radio', name='type')
                  label.custom-control-label(for='type1') Волонтер
                .custom-control.custom-radio
                  input#type2.custom-control-input(type='radio', name='type')
                  label.custom-control-label(for='type2') Координатор
          .row
            .col-xml-8
              .registration__type-dscr
                p.registration__type-dscr-item.registration__type-dscr-item--active Волонтер это - считает, что после принятия этого закона, когда люди раньше начнут выходить на пенсию, возникнет более 1,5 млн. безработных. Их не удастся быстро трудоустроить. Так быстро новые трудовые места не появятся
          .row
            .col-md-4.col-xml-3
              .form__item.form-group
                label.form__label Ваш профессиональный опыт и компетенции
                textarea.input.input--textarea.form-control(placeholder="Текст")
            .col-md-4.col-xml-3
              .form__item.form-group
                label.form__label Расскажите о Вашем опыте волонтерской деятельности
                textarea.input.input--textarea.form-control(placeholder="Текст")
            .col-md-4.col-xml-3
              .form__item.form-group
                label.form__label Расскажите о Ваших достижениях
                textarea.input.input--textarea.form-control(placeholder="Текст")
          .row
            .col-md-4.col-xml-3
              .form__item.form-group
                label.form__label Чем Вы предпочитаете заниматься в свободное время?
                textarea.input.input--textarea.form-control(placeholder="Текст")
            .col-md-4.col-xml-3
              .form__item.form-group
                label.form__label Почему Вы хотите стать волонтером Фестиваля?
                textarea.input.input--textarea.form-control(placeholder="Текст")
            .col-md-4.col-xml-3
              .form__item.form-group
                label.form__label Что вы хотите получить от работы на Фестивале? 
                textarea.input.input--textarea.form-control(placeholder="Текст")
            .col-xml-9
              .form__item.form-group
                label.form__label Какие Ваши уникальные навыки будут полезны в работе волонтера на Фестивале и почему? 
                textarea.input.input--textarea.input--textarea-wide.form-control(placeholder="Текст")
          .row
            .col-md-4.col-xml-3.d-flex
              .form__item.form-group
                label.form__label Ваш размер одежды
                .registration__size
                  .custom-control.custom-radio
                    input#size1.custom-control-input(type='radio', name='type')
                    label.custom-control-label(for='size1') XS
                  .custom-control.custom-radio
                    input#size2.custom-control-input(type='radio', name='type')
                    label.custom-control-label(for='size2') S
                  .custom-control.custom-radio
                    input#size3.custom-control-input(type='radio', name='type')
                    label.custom-control-label(for='size3') M
                  .custom-control.custom-radio
                    input#size4.custom-control-input(type='radio', name='type')
                    label.custom-control-label(for='size4') L
                  .custom-control.custom-radio
                    input#size5.custom-control-input(type='radio', name='type')
                    label.custom-control-label(for='size5') XL
                  .custom-control.custom-radio
                    input#size6.custom-control-input(type='radio', name='type')
                    label.custom-control-label(for='size6') XXL
                  .custom-control.custom-radio
                    input#size7.custom-control-input(type='radio', name='type')
                    label.custom-control-label(for='size7') XXXL
            .col-md-4.col-xml-3.d-flex
              .form__item.form-group
                label.form__label Выберите предпочитаемую функцию
                select.select
                  option(disabled, selected) Выберите из списка
                  option Функция 1
                  option Функция 2
            .col-md-4.col-xml-3.d-flex.align-items-end
              .form__item.form-group
                label.form__label.form__label--sm.mb-0 выбор функции осуществляется исходя из Вашего опыта, компетенций и желания. Выбор функции не означает назначение на данную позицию, но мы постараемся учесть Ваш интерес
          .form__footer
            button.btn.btn-primary.btn-green(type="submit") Отправить
            p.form__footer-agreement Нажимая кнопку я соглашаюсь с 
              a(href="#") пользовательским соглашением
        else if data && data.modifier == 'streams'
        else
          .row
            .col-md-6.col-xl-4.col-xml-3
              .form__item.form-group
                label.form__label Фото-портфолио в сфере искусства
                .form__portfolio
                  .custom-file.custom-file--blue.custom-file--photo
                    input#customFile1.custom-file-input(type='file')
                    label.custom-file-label(for='customFile') Добавить фото
                  .form__portfolio-list
                    .form__portfolio-item(style="background-image: url(./img/portfolio-1.jpg);")
                      a.form__portfolio-item-remove(href="#")
                    .form__portfolio-item(style="background-image: url(./img/portfolio-2.jpg);")
                      a.form__portfolio-item-remove(href="#")
                    .form__portfolio-item(style="background-image: url(./img/portfolio-1.jpg);")
                      a.form__portfolio-item-remove(href="#")
                    .form__portfolio-item(style="background-image: url(./img/portfolio-2.jpg);")
                      a.form__portfolio-item-remove(href="#")
                    .form__portfolio-item(style="background-image: url(./img/portfolio-1.jpg);")
                      a.form__portfolio-item-remove(href="#")
                    .form__portfolio-item(style="background-image: url(./img/portfolio-2.jpg);")
                      a.form__portfolio-item-remove(href="#")
                    .form__portfolio-item(style="background-image: url(./img/portfolio-1.jpg);")
                      a.form__portfolio-item-remove(href="#")
                    .form__portfolio-item(style="background-image: url(./img/portfolio-2.jpg);")
                      a.form__portfolio-item-remove(href="#")
                    .form__portfolio-item.form__portfolio-item--empty
                    .form__portfolio-item.form__portfolio-item--empty
            .col-md-6.col-xl-4.col-xml-3
              .form__item.form-group
                label.form__label Видео портфолио
                input.input.form-control(type="text", placeholder="Ссылка на видео")
                input.input.form-control(type="text", placeholder="Краткое описание")
          .row
            .col-md-4.col-xml-2
              .form__item.form-group
                label.form__label Творческое задание
                .form__file
                  .custom-file.custom-file--blue
                    input#customFile1.custom-file-input(type='file')
                    label.custom-file-label(for='customFile') Добавить файл
            .col-md-4.d-flex.align-items-center
              .form__file-name Filename.pdf 
              .form__file-size 258 mb
              a.form__file-remove(href="#")
          .form__footer
            button.btn.btn-primary.btn-green(type="submit") Зарегистрироваться
            p.form__footer-agreement Нажимая кнопку я соглашаюсь с 
              a(href="#") пользовательским соглашением



mixin registration-02(data)
  .registration&attributes(attributes)
    .container
      h2.head-h2.mb-10 Подать заявку на участие
      p.p--fz.font-secondary.mb-30.mb-lg-45 заявки принимаются до 31 августа 2020 года
      form.form(action="#", method="POST")
        .registration__type
          .registration__type-top.registration__type-top--mb
            .registration__type-header.registration__type-header--choice Выберите роль участия
            .registration__type-content
              .custom-control.custom-radio.custom-control--mr
                input#type1.custom-control-input(type='radio', name='type' checked)
                label.custom-control-label.custom-control-label--ccl(for='type1') Участник
              .custom-control.custom-radio.custom-control--mr
                input#type2.custom-control-input(type='radio', name='type')
                label.custom-control-label.custom-control-label--ccl(for='type2') Зритель
              .custom-control.custom-radio.custom-control--mr
                input#type3.custom-control-input(type='radio', name='type')
                label.custom-control-label.custom-control-label--ccl(for='type3') Волонтер
        .form__footer.form__footer--fmb
          button.btn.btn-green.btn--fest2(type="submit") Отправить
          p.form__footer-agreement Нажимая кнопку, я соглашаюсь с правилами пользования сайтом Арт-кластера «Таврида» и с политикой обработки и защиты персональных данных.
                  