.registration {

  &__type {
    margin-top: 30px;
  }

  &__type-top {
    margin-bottom: 35px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__type-header {
    margin-right: 48px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    color: #fff;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__type-content {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__type-dscr {
    margin-bottom: 25px;
  }

  &__type-dscr-item {
    margin-bottom: 0;
    display: none;
    color: #fff;

    &--active {
      display: block;
    }
  }

  &__size {
    margin-right: -8px;
    display: flex;
    width: calc(100% + 8px);

    @include media-breakpoint-down(lg) {
      flex-wrap: wrap;
    }

    .custom-radio {
      flex-grow: 1;

      @include media-breakpoint-down(lg) {
        margin-bottom: 10px;
      }
    }

    .custom-control-label {
      padding: 0 5px;
      width: 100%;
    }
  }

  &--blue {
    padding: 60px 0;
    background: $primary url(../img/form-blue-bg.svg) no-repeat right bottom;

    @include media-breakpoint-down(lg) {
      background: $primary;
    }

    .form__label {
      color: #fff;
    }

    .form__file-name {
      color: #fff;
    }

    .form__file-size {
      color: rgba(#fff, .54);
    }

    .form__file-remove {
      background: url(../img/form-remove-white.svg) no-repeat;
      background-size: contain;
    }

    .form__footer-agreement {
      color: #fff;

      a {
        color: #c9df55;
      }
    }
  }

  &--no-bg {
    background: $primary;
  }
}
