.anti-feature {
  margin-bottom: 80px;
  padding-right: 40px;

  @include media-breakpoint-down(xl) {
    padding-right: 0;
  }

  @include media-breakpoint-down(lg) {
    margin-bottom: 40px;
    padding-right: 0;
  }
}
