mixin AwardNominees()
  // start AwardNominees
  .AwardNominees.section#AwardNominees&attributes(attributes)
    .container
      .section-title
        h2 Номинанты премии
        
      .row
        mixin item(data)
          .AwardNominees__col.col-xl-4.col-sm-6
            .AwardNominees__img-wrap
              picture
                img(src=`img/AwardNominees-${data.i}.jpg` loading='lazy', alt="")
              a.AwardNominees__btn.btn.h5(href="#") Голосовать
            .AwardNominees__title
              .strong= data.sname
              = data.name
            p= data.p
        +item({
          i:"1",
          name:"Михалков",
          sname:" Никита Сергеевич",
          p: 'Советский и российский киноактер, кинорежиссер, сценарист и продюсер. Художественный руководитель Центра театра и кино под руководством Н.С. Михалкова. Народный артист РСФСР. Трижды лауреат Государственной премии РФ'
        })
        +item({
          i:"2",
          name:"Князев",
          sname:"Евгений Владимирович",
          p:"Советский и российский актер театра, кино и телевидения, театральный педагог, ректор Театрального института им. Б. Щукина. Народный артист Российской Федерации. Лауреат Государственной премии РФ. Народный артист"
        })
        +item({
          i:"3",
          name:"Учитель",
          sname:" Алексей Ефимович",
          p: 'Советский и российский кинорежиссер, сценарист, Заслуженный деятель искусств Российской Федерации, Народный артист  Российской Федерации, Художественный руководитель киностудии «Рок»'
        })
        +item({
          i:"4",
          name:"Шахназаров",
          sname:" Карен Георгиевич",
          p: 'Советский и российский кинорежиссер, сценарист, кинопродюсер и общественный деятель, Генеральный директор киноконцерна «Мосфильм», Народный артист Российской Федерации'
        })
        +item({
          i:"5",
          name:" Крутой",
          sname:" Игорь Яковлевич",
          p:"Советский и российский композитор, пианист, певец, продюсер, Народный артист Российской Федерации"
        })
        +item({
          i:"6",
          name:" Башмет",
          sname:" Юрий Абрамович",
          p:"Советский и российский альтист, дирижер, педагог, общественный деятель, Народный артист СССР, Лауреат Государственной премии СССР и четырех Государственных премий Российской Федерации, обладатель премии «Грэмми»"
        })
        +item({
          i:"7",
          name:" Чайковский",
          sname:"Александр Владимирович",
          p:"Советский и российский композитор, пианист, педагог, профессор Московской консерватории, Народный артист Российской Федерации, Лауреат Премии Правительства Российской Федерации"
        })
        +item({
          i:"8",
          name:" Лиепа",
          sname:"Илзе Марисовна",
          p:"Советская и российская балерина, актриса театра и кино, Народная артистка России, Народная артистка Карелии, Лауреат Государственной премии Российской Федерации"
        })
        +item({
          i:"9",
          name:"Рейн",
          sname:"Евгений Борисович",
          p:"Советский поэт и прозаик, сценарист, Лауреат Государственной премии Российской Федерации"
        })
        +item({
          i:"10",
          name:"Свиблова",
          sname:"Ольга Львовна",
          p:"Советский и российский искусствовед, кинорежиссер-документалист, доктор искусствоведения, профессор, директор «Мультимедиа Арт Музей», академик РАХ, Заслуженный деятель искусств Российской Федерации"
        })
  // end AwardNominees
