.wrapper {
  position: relative;
  padding-left: 7.4vw;

  @include media-breakpoint-down(md) {
    padding-top: 50px;
    padding-left: 0;
    overflow: hidden;
  }

  &--popup {

    @include media-breakpoint-down(sm) {
      z-index: 5;
    }
  }
}
