.wrapper {
  position: relative;
  padding-left: 7.4vw;

  @include media-breakpoint-down(lg) {
    z-index: 3;
  }

  @include media-breakpoint-down(md) {
    padding-top: 50px;
    padding-left: 0;
    overflow: hidden;
  }

  @include media-breakpoint-down(sm) {
    z-index: 4;
  }

  &--popup {

    @include media-breakpoint-down(sm) {
      z-index: 5;
    }

    &:after {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: rgba(#000, .7);
    }
  }
}
