mixin casting(data)
  a.casting(href="#")&attributes(attributes)
    .casting__picture(style="background-image: url(./img/" + data.picture + ");")
    .casting__content
      p.p-xxs.font-secondary Дедлайн подачи заявки: 
        span.font-weight-bold 10 сентября
      p.font-weight-bold.font-secondary
      p.p--xs Открытие стационарного образовательного центра для молодых деятелей культуры и искусств «Арт-резиденция «Таврида» планируется в 2022 году и позволит проекту перейти
      a.btn.btn-green.btn-green--newest(href="#") принять участие
