.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  width: 7.4vw;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;

  &__top {
  }

  &__logo {
    display: none;
  }

  &__bottom {
    padding: 0 15px 37px;
  }

  &__info {
    margin-top: 57px;
    margin-bottom: 22px;
    font-weight: 500;
    text-align: center;
  }

  &__route {
    display: block;
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    color: $primary;
  }
}
