mixin header(data)
  .header&attributes(attributes)
    .header__top
      +menu
      +logo.header__logo.logo--header
    .header__bottom
      +socials
      .header__info 20-26 АВГУСТА 2020
      .header__info г. Судак, Бухта Капсель
      a.header__route(href="#") Как проехать
