mixin header(data)
  .header&attributes(attributes)
    +menu
    .header__content
      +socials
      .header__info 20-26 АВГУСТА 2020 <br> г. Судак, Бухта Капсель
      a.header__route(href="#") Как проехать
