.header {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  width: 7.4vw;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;

  @include media-breakpoint-down(lg) {
    z-index: 4;
  }

  @include media-breakpoint-down(md) {
    z-index: 5;
    width: 100%;
    height: auto;
    flex-direction: row;
    box-shadow: 0 1px 10px rgba(#000, .08);
  }

  &__top {

    @include media-breakpoint-down(md) {
      display: flex;
      align-items: center;
    }

    @include media-breakpoint-down(sm) {
      padding-right: 10px;
      width: 100%;
      justify-content: space-between;
    }
  }

  &__logo {
    display: none;

    @include media-breakpoint-down(md) {
      margin-left: 20px;
      display: block;
    }
  }

  &__bottom {
    padding: 0 15px 37px;

    @include media-breakpoint-down(md) {
      padding: 10px 20px;
      display: flex;
      align-items: center;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__info {
    margin-top: 57px;
    margin-bottom: 22px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;

    @include media-breakpoint-down(md) {
      margin: 0 20px;
    }

    & + & {

      @include media-breakpoint-down(md) {
        margin-left: 0;
      }
    }
  }

  &__route {
    display: block;
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    color: $primary;
  }

  &--bordered {
    border-right: 1px solid $primary;
  }
}
