.content {

  &__section {
    position: relative;
  }

  &__wrapper {
    display: flex;
  }

  &__festival {
    max-width: 48.06%;
    flex-grow: 1;
    background: $tertiary;

    .content__header {
      background: $tertiary;
    }
  }

  &__header {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 25px 70px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__events-wrapper {
    position: relative;
    padding-top: 98px;
    height: 100vh;
  }

  &__forum {
    max-width: 51.94%;
    flex-grow: 1;
    background: $primary;

    .content__header {
      background: $primary;
    }

    .ps__rail-y {
      display: none;
    }
  }

  &__items-wrapper {
    position: relative;
    padding: 130px 140px 70px 70px;
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
