mixin content(data)
  .content&attributes(attributes)
    .container-fluid
      .row.no-gutters
        .col-lg-6
          .content__festival.content__section
            .content__header
              h3.mb-0 ФЕСТИВАЛЬ
              a.btn.btn-outline-secondary(href="#") Подробнее
            .content__wrapper
              +event({
                picture: 'event-1.jpg'
              })
              +event({
                picture: 'event-2.jpg'
              })
              +event({
                picture: 'event-3.jpg'
              })
              +event({
                picture: 'event-1.jpg'
              })
        .col-lg-6
          .content__forum.content__section
            .content__header
              h3.mb-0 Форум
              a.btn.btn-outline-secondary(href="#") Подробное расписание
            .row
              .col-sm-6
                +item({
                  picture: 'item-1.jpg',
                  title: 'Гончарное дело'
                })
              .col-sm-6
                +item({
                  picture: 'item-2.jpg',
                  title: 'Ювелир как профессия'
                })
              .col-sm-6
                +item({
                  picture: 'item-3.jpg',
                  title: 'АНТИШКОЛА ИСКУСТВА'
                })
              .col-sm-6
                +item({
                  picture: 'item-4.jpg',
                  title: 'Мастер-классы мастеров'
                })
              .col-sm-6
                +item({
                  picture: 'item-5.jpg',
                  title: 'АНТИШКОЛА ИСКУСТВА'
                })
              .col-sm-6
                +item({
                  picture: 'item-6.jpg',
                  title: 'Мастер-классы мастеров'
                })
