.content {

  &__section {
    overflow: hidden;
    height: 100vh;
  }

  &__wrapper {
    display: flex;
  }

  &__festival {
    max-width: 48.06%;
    flex-grow: 1;
    background: $tertiary;
  }

  &__forum {
    flex-grow: 1;
    background: $primary;
  }

  &__header {
    padding: 25px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__events-wrapper {
  }

  &__items-wrapper {
    padding: 32px 140px 70px 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
