.content {

  &__section {
    position: relative;
  }

  &__wrapper {
    display: flex;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  &__festival {
    max-width: 48.06%;
    flex-grow: 1;
    background: $tertiary;

    @include media-breakpoint-down(md) {
      max-width: none;
    }

    .content__header {
      background: $tertiary;
    }
  }

  &__header {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 25px 70px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(xml) {
      padding-right: 50px;
      padding-left: 50px;
    }

    @include media-breakpoint-down(lg) {
      padding: 15px 20px;
    }

    &--forum {
      padding-right: 143px;

      @include media-breakpoint-down(xml) {
        padding-right: 100px;
        padding-left: 50px;
      }

      @include media-breakpoint-down(lg) {
        padding-left: 20px;
      }

      @include media-breakpoint-down(md) {
        padding-right: 20px;
      }
    }
  }

  &__events-wrapper {
    position: relative;
    padding-top: 98px;
    height: 100vh;

    @include media-breakpoint-down(lg) {
      padding-top: 68px;
    }

    @include media-breakpoint-down(md) {
      height: auto;
    }
  }

  &__forum {
    max-width: 51.94%;
    flex-grow: 1;
    background: $primary;

    @include media-breakpoint-down(md) {
      max-width: none;
    }

    .content__header {
      background: $primary;
    }

    .ps__rail-y {
      display: none;
    }
  }

  &__items-wrapper {
    position: relative;
    padding: 130px 140px 70px 70px;
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: space-between;

    @include media-breakpoint-down(xml) {
      padding-right: 100px;
      padding-left: 50px;
    }

    @include media-breakpoint-down(lg) {
      padding-top: 100px;
      padding-left: 20px;
    }

    @include media-breakpoint-down(md) {
      padding-top: 80px;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 40px;
      height: auto;
    }
  }
}
