mixin casting-type(data)
  a.casting-type(href="#")&attributes(attributes)
    .casting-type__icon
      img.img-fluid(src="./img/" + data.icon, alt)
    .casting-type__content
      h5.mb-5= data.title
      .casting-type__link Посмотреть кастинги направления
