.casting-type {
  border: 1px solid #5a2e91;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 30px 40px;
  margin-bottom: 36px;
  @include transition;

  @media (max-width: 1600px) {
    padding: 20px;
  }

  &:hover {
    opacity: 0.75;
  }

  &__icon {
    width: 49px;
    height: 49px;
    flex-shrink: 0;
    margin-right: 45px;

    @media (max-width: 1600px) {
      margin-right: 20px;
    }

    img {
      max-width: 100%;
    }
  }

  &__content {
  }

  &__link {
    font-size: 16px;
    font-family: $font-family-secondary;
    font-weight: 500;
    line-height: 1.2;
    color: $primary;

    &:after {
      content: '';
      display: inline-block;
      width: 11px;
      height: 11px;
      background: url(../img/arrow-down-sm.svg) no-repeat center;
      background-size: contain;
      margin-left: 9px;
      flex-shrink: 0;
    }
  }
}
