mixin partner-section(data)
  a.partner-section(href=data.modal, data-fancybox, style="background-color: " + data.bg)&attributes(attributes)
    p.partner-section__title!= data.title
    img.partner-section__img(src="./img/" + data.img, alt)
