.flow {
  margin-bottom: 44px;
  width: 100%;
  border-radius: 20px;

  &__top {
    padding: 30px;
    display: flex;
    border-radius: 20px;

    @include media-breakpoint-down(xml) {
      padding: 20px;
    }
  }

  &__number {
    margin-right: 23px;
    font-family: $font-family-serif;
    font-size: 136px;
    line-height: .77;
    font-weight: 900;
    color: #fff;
    background-image: url(../img/flow-mask.svg);
    background-position: center center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include media-breakpoint-down(xml) {
      margin-right: 15px;
      font-size: 100px;
    }
  }

  &__top-content {

    p {

      @include media-breakpoint-down(xml) {
        font-size: 16px;
      }
    }
  }

  &__footer {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(xml) {
      padding: 20px;
    }
  }

  &__footer-right {
  }
}
