mixin flow(data)
  .flow(style="background-color: rgba(" + data.color + ", .8);")&attributes(attributes)
    .flow__top(style="background-color: rgba(" + data.color + ");")
      .flow__number= data.number
      .flow__top-content
        h5.text-dark.mb-10= data.date
        each item in data.content
          p.mb-5= item
    .flow__footer
      p.mb-0 Даты регистрации:
        span.font-weight-bold.d-block.mt-5 14.03-20.04
      .flow__footer-right
        .d-flex
          p.mb-5 На Форум:   
          p.font-weight-bold.ml-20.ml-xml-50.mb-0 11 мая   
        .d-flex
          p.mb-5 С Форума:   
          p.font-weight-bold.ml-20.ml-xml-50.mb-0 11 мая 
