.form {

  .row {
    margin-right: -15px;
    margin-left: -15px;
  }

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12,
  .col,
  .col-auto,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm,
  .col-sm-auto,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md,
  .col-md-auto,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg,
  .col-lg-auto,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl,
  .col-xl-auto,
  .col-xml-1,
  .col-xml-2,
  .col-xml-3,
  .col-xml-4,
  .col-xml-5,
  .col-xml-6,
  .col-xml-7,
  .col-xml-8,
  .col-xml-9,
  .col-xml-10,
  .col-xml-11,
  .col-xml-12,
  .col-xml,
  .col-xml-auto,
  .col-xxl-1,
  .col-xxl-2,
  .col-xxl-3,
  .col-xxl-4,
  .col-xxl-5,
  .col-xxl-6,
  .col-xxl-7,
  .col-xxl-8,
  .col-xxl-9,
  .col-xxl-10,
  .col-xxl-11,
  .col-xxl-12,
  .col-xxl,
  .col-xxl-auto {
    padding-right: 15px;
    padding-left: 15px;
  }

  &__item {
    margin-bottom: 15px;
  }

  &__label {
    margin-bottom: 5px;
    display: block;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color: #828282;
  }

  &__info {
    margin-bottom: 30px;
    display: flex;
    align-items: baseline;
  }

  &__info-item {
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color: #828282;

    & + & {
      margin-left: 15px;
    }
  }

  &__info-item-content {
    color: #333;
  }

  &__disability {
    margin-left: -30px;
    padding: 16px 30px 8px;
    width: calc(100% + 60px);
    background: rgba(#333, .1);
  }

  &__add {
    margin-top: 15px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 19px;

    &:before {
      margin-right: 15px;
      display: block;
      width: 20px;
      height: 20px;
      content: '';
      background: url(../img/form-plus-blue.svg) no-repeat;
      background-size: contain;
    }
  }

  &__footer {
    margin-top: 35px;
    display: flex;
    align-items: center;
  }

  &__footer-agreement {
    margin-bottom: 0;
    margin-left: 35px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    color: #333;
  }

  &__file-name {
    margin-right: 12px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    color: #333;
  }

  &__file-size {
    margin-right: 14px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color: rgba(#333, .54);
  }

  &__file-remove {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/form-remove.svg) no-repeat;
    background-size: contain;
  }

  &__portfolio {
    display: flex;
  }

  &__portfolio-list {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  &__portfolio-item {
    position: relative;
    margin: 3px;
    padding-top: 17%;
    width: calc(20% - 6px);
    background: #467ad1;
    border-radius: 5px;

    &--empty {
      border: 1px dashed rgba(#fff, .5);
    }
  }

  &__portfolio-item-remove {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 12px;
    height: 12px;
    background: url(../img/portfolio-remove.svg) no-repeat;
    background-size: contain;
  }

  &__team-input {
    position: relative;
    margin-bottom: 20px;
    display: flex;
  }

  &__team-input-content {
  }

  &__team-input-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    background: #c9df55 url(../img/form-plus-participants.svg) no-repeat center;
    border-radius: 5px;
  }

  &__item-warning {
    display: flex;
    align-items: center;
    color: #fff;

    &:before {
      margin-right: 8px;
      display: block;
      width: 24px;
      height: 22px;
      content: '';
      background: url(../img/form-danger.svg) no-repeat;
      background-size: contain;
    }
  }

  &__team-list {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
  }

  &__team-item {
    padding: 4px 8.57px;
    display: inline-flex;
    align-items: center;
    background: rgba(#fff, .1);
    border-radius: 250px;

    & + & {
      margin-left: 16px;
    }
  }

  &__team-item-id {
    margin-right: 7px;
    font-family: $font-family-serif;
    font-size: 14px;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    color: #67bac3;
    align-self: baseline;
  }

  &__team-item-name {
    margin-right: 9px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color: #fff;
    align-self: baseline;
  }

  &__team-item-remove {
    width: 20px;
    height: 20px;
    background: url(../img/team-close.svg) no-repeat;
    background-size: contain;
  }
}
