mixin signup(data)

  if data && data.modifier == 'login'
    .signup&attributes(attributes)
      a.signup__close(href="#")
      h2.h2--default.mb-30 Авторизация
      .signup__content
        form.form(action="#", method="POST")
          .row
            .col-lg-4
              .form__item.form-group
                label.form__label Email
                input.input.form-control(type="email", placeholder="Введите логин")
            .col-lg-4
              .form__item.form-group
                label.form__label Пароль
                input.input.form-control(type="password", placeholder="Введите пароль")
          .form__footer
            button.btn.btn-primary.btn-green(type="submit") Вход

  else if data && data.modifier == 'partner-general'
    .signup&attributes(attributes)
      a.signup__close(href="#")
      h2.signup__default-header.h2--default.text-dark.mb-30 Стать партнером или спонсором
      .signup__content
        form.form(action="#", method="POST")
          .signup__partners-section
            span.signup__radio-header Выберите, где вы хотите участвовать
            .signup__partners-section-content
              .custom-control.custom-radio.custom-radio--dark
                input#partner-section1.custom-control-input(type='radio', name='section', checked)
                label.custom-control-label(for='partner-section1') Форум
              .custom-control.custom-radio.custom-radio--dark
                input#partner-section2.custom-control-input(type='radio', name='section')
                label.custom-control-label(for='partner-section2') Фестиваль
              .custom-control.custom-radio.custom-radio--dark.mr-0
                input#partner-section3.custom-control-input(type='radio', name='section')
                label.custom-control-label(for='partner-section3') Форум и Фестиваль
            p.signup__partners-section-comment.p--xs.text-primary.mb-0 Форум проводится с июня по октябрь, <br>Фестиваль с 8 по 12 июля
          .row
            .col-lg-4.d-flex.align-items-end
              .form__item.form-group
                label.form__label ФИО контактного лица
                input.input.form-control(type="text", placeholder="Заполните поле")
            .col-lg-4.d-flex.align-items-end
              .form__item.form-group
                label.form__label Телефон
                input.input.form-control(type="text", placeholder="+7 ( ___ ) ___ - __ - __")
            .col-lg-4.d-flex.align-items-end
              .form__item.form-group
                label.form__label E-mail
                input.input.form-control(type="email", placeholder="sample@sample.com")
            .col-lg-4.d-flex.align-items-end
              .form__item.form-group
                label.form__label Название бренда
                input.input.form-control(type="text", placeholder="Заполните поле")
            .col-lg-4.d-flex.align-items-end
              .form__item.form-group
                label.form__label Ссылка на сайт
                input.input.form-control(type="text", placeholder="http:\\")
            .col-lg-4.d-flex.align-items-end
              .form__item.form-group
                label.form__label Ссылка на соц.сеть
                input.input.form-control(type="text", placeholder="http:\\")
            .col-lg-4.d-flex.align-items-end
              .form__item.form-group
                label.form__label Категория товара
                input.input.form-control(type="text", placeholder="Заполните поле")
            .col-lg-8.d-flex.align-items-end
              .form__item.form-group
                label.form__label Желаемая форма участия 
                input.input.form-control(type="text", placeholder="Опишите ваше предложение")
          .form__footer
            button.btn.btn-primary.btn-green(type="submit") Отправить
            p.form__footer-agreement Нажимая кнопку я соглашаюсь с 
              a(href="#") пользовательским соглашением

  else if data && data.modifier == 'partner-market'
    .signup&attributes(attributes)
      a.signup__close(href="#")
      h2.signup__default-header.h2--default.text-dark.mb-30 Стать участником маркета
      .signup__content
        form.form(action="#", method="POST")
          .signup__partners-section
            span.signup__radio-header Выберите, где вы хотите участвовать
            .signup__partners-section-content
              .custom-control.custom-radio.custom-radio--dark
                input#partner-section1.custom-control-input(type='radio', name='section', checked)
                label.custom-control-label(for='partner-section1') Форум
              .custom-control.custom-radio.custom-radio--dark
                input#partner-section2.custom-control-input(type='radio', name='section')
                label.custom-control-label(for='partner-section2') Фестиваль
              .custom-control.custom-radio.custom-radio--dark.mr-0
                input#partner-section3.custom-control-input(type='radio', name='section')
                label.custom-control-label(for='partner-section3') Форум и Фестиваль
            p.signup__partners-section-comment.p--xs.text-primary.mb-0 Форум проводится с июня по октябрь, <br>Фестиваль с 8 по 12 июля
          .row
            .col-lg-4.d-flex.align-items-end
              .form__item.form-group
                label.form__label ФИО контактного лица
                input.input.form-control(type="text", placeholder="Заполните поле")
            .col-lg-4.d-flex.align-items-end
              .form__item.form-group
                label.form__label Телефон
                input.input.form-control(type="text", placeholder="+7 ( ___ ) ___ - __ - __")
            .col-lg-4.d-flex.align-items-end
              .form__item.form-group
                label.form__label E-mail
                input.input.form-control(type="email", placeholder="sample@sample.com")
            .col-lg-4.d-flex.align-items-end
              .form__item.form-group
                label.form__label Название бренда
                input.input.form-control(type="text", placeholder="Заполните поле")
            .col-lg-4.d-flex.align-items-end
              .form__item.form-group
                label.form__label Ссылка на сайт
                input.input.form-control(type="text", placeholder="http:\\")
            .col-lg-4.d-flex.align-items-end
              .form__item.form-group
                label.form__label Ссылка на соц.сеть
                input.input.form-control(type="text", placeholder="http:\\")
            .col-lg-4.d-flex.align-items-end
              .form__item.form-group
                label.form__label Категория товара
                input.input.form-control(type="text", placeholder="Заполните поле")
            .col-lg-8.d-flex.align-items-end
              .form__item.form-group
                label.form__label Желаемая форма участия 
                input.input.form-control(type="text", placeholder="Опишите ваше предложение")
            .col-lg-12.d-flex.align-items-end
              .form__item.form-group
                label.form__label Опыт участия в культурно массовых мероприятиях
                input.input.form-control(type="text", placeholder="Опишите ваше предложение")
          .form__footer
            button.btn.btn-primary.btn-green(type="submit") Отправить
            p.form__footer-agreement Нажимая кнопку я соглашаюсь с 
              a(href="#") пользовательским соглашением

  else if data && data.modifier == 'partner-food'
    .signup&attributes(attributes)
      a.signup__close(href="#")
      h2.signup__default-header.h2--default.text-dark.mb-30 Стать участником фудкорта
      .signup__content
        form.form(action="#", method="POST")
          .signup__partners-section
            span.signup__radio-header Выберите, где вы хотите участвовать
            .signup__partners-section-content
              .custom-control.custom-radio.custom-radio--dark
                input#partner-section1.custom-control-input(type='radio', name='section', checked)
                label.custom-control-label(for='partner-section1') Форум
              .custom-control.custom-radio.custom-radio--dark
                input#partner-section2.custom-control-input(type='radio', name='section')
                label.custom-control-label(for='partner-section2') Фестиваль
              .custom-control.custom-radio.custom-radio--dark.mr-0
                input#partner-section3.custom-control-input(type='radio', name='section')
                label.custom-control-label(for='partner-section3') Форум и Фестиваль
            p.signup__partners-section-comment.p--xs.text-primary.mb-0 Форум проводится с июня по октябрь, <br>Фестиваль с 8 по 12 июля
          .row
            .col-lg-4.d-flex.align-items-end
              .form__item.form-group
                label.form__label ФИО контактного лица
                input.input.form-control(type="text", placeholder="Заполните поле")
            .col-lg-4.d-flex.align-items-end
              .form__item.form-group
                label.form__label Телефон
                input.input.form-control(type="text", placeholder="+7 ( ___ ) ___ - __ - __")
            .col-lg-4.d-flex.align-items-end
              .form__item.form-group
                label.form__label E-mail
                input.input.form-control(type="email", placeholder="sample@sample.com")
            .col-lg-4.d-flex.align-items-end
              .form__item.form-group
                label.form__label Официальное название проекта (как в документах)
                input.input.form-control(type="text", placeholder="Заполните поле")
            .col-lg-4.d-flex.align-items-end
              .form__item.form-group
                label.form__label Ссылка на сайт
                input.input.form-control(type="text", placeholder="http:\\")
            .col-lg-4.d-flex.align-items-end
              .form__item.form-group
                label.form__label Ссылка на соц.сеть
                input.input.form-control(type="text", placeholder="http:\\")
            .col-lg-4.d-flex.align-items-end
              .form__item.form-group
                label.form__label Категория товара
                input.input.form-control(type="text", placeholder="Заполните поле")
            .col-lg-4.d-flex.align-items-end
              .form__item.form-group
                label.form__label Город
                input.input.form-control(type="text", placeholder="Заполните поле")
            .col-lg-4.d-flex.align-items-end
              .form__item.form-group
                label.form__label Предполагаемый формат участия
                select.select
                  option(selected) Фуд-трак
                  option Формат 2
                  option Формат 3
            .col-lg-12.d-flex.align-items-end
              .form__item.form-group
                label.form__label Опыт участия в культурно массовых мероприятиях
                input.input.form-control(type="text", placeholder="Опишите ваше предложение")
            .col-lg-12.d-flex.align-items-end
              .form__item.form-group
                label.form__label Опишите Ваше предложение
                textarea.input.input--textarea.input--textarea-wide.form-control(placeholder="Опишите Ваше предложение")
          .form__footer
            button.btn.btn-primary.btn-green(type="submit") Отправить
            p.form__footer-agreement Нажимая кнопку я соглашаюсь с 
              a(href="#") пользовательским соглашением

  else if data && data.modifier == 'partner-rooms'
    .signup&attributes(attributes)
      a.signup__close(href="#")
      h2.signup__default-header.h2--default.text-dark.mb-30 Стать Партнером по размещению гостей
      .signup__content
        form.form(action="#", method="POST")
          .signup__partners-section
            span.signup__radio-header Выберите, где вы хотите участвовать
            .signup__partners-section-content
              .custom-control.custom-radio.custom-radio--dark
                input#partner-section1.custom-control-input(type='radio', name='section', checked)
                label.custom-control-label(for='partner-section1') Форум
              .custom-control.custom-radio.custom-radio--dark
                input#partner-section2.custom-control-input(type='radio', name='section')
                label.custom-control-label(for='partner-section2') Фестиваль
              .custom-control.custom-radio.custom-radio--dark.mr-0
                input#partner-section3.custom-control-input(type='radio', name='section')
                label.custom-control-label(for='partner-section3') Форум и Фестиваль
            p.signup__partners-section-comment.p--xs.text-primary.mb-0 Форум проводится с июня по октябрь, <br>Фестиваль с 8 по 12 июля
          .row
            .col-lg-4.d-flex.align-items-end
              .form__item.form-group
                label.form__label ФИО контактного лица
                input.input.form-control(type="text", placeholder="Заполните поле")
            .col-lg-4.d-flex.align-items-end
              .form__item.form-group
                label.form__label Телефон
                input.input.form-control(type="text", placeholder="+7 ( ___ ) ___ - __ - __")
            .col-lg-4.d-flex.align-items-end
              .form__item.form-group
                label.form__label E-mail
                input.input.form-control(type="email", placeholder="sample@sample.com")
            .col-lg-4.d-flex.align-items-end
              .form__item.form-group
                label.form__label Название гостиницы
                input.input.form-control(type="text", placeholder="Заполните поле")
            .col-lg-4.d-flex.align-items-end
              .form__item.form-group
                label.form__label Ссылка на сайт
                input.input.form-control(type="text", placeholder="http:\\")
            .col-lg-4.d-flex.align-items-end
              .form__item.form-group
                label.form__label Ссылка на соц.сеть
                input.input.form-control(type="text", placeholder="http:\\")
            .col-lg-12.d-flex.align-items-end
              .form__item.form-group
                label.form__label Адрес
                input.input.form-control(type="text", placeholder="Заполните поле")
            .col-lg-12.d-flex.align-items-end
              .form__item.form-group
                label.form__label Номерной фонд
                input.input.form-control(type="text", placeholder="Опишите количество и тип номеров")
            .col-lg-12.d-flex.align-items-end
              .form__item.form-group
                label.form__label Опишите Ваше предложение
                textarea.input.input--textarea.input--textarea-wide.form-control(placeholder="Опишите Ваше предложение")
          .form__footer
            button.btn.btn-primary.btn-green(type="submit") Отправить
            p.form__footer-agreement Нажимая кнопку я соглашаюсь с 
              a(href="#") пользовательским соглашением
            
  else 
    .signup&attributes(attributes)
      a.signup__close(href="#")
      h2.h2--default.mb-30 Регистрация
      ul.nav.nav-tabs.mb-30
        li.nav-item
          a.nav-link.active(data-toggle='tab', href='#step1', role='tab', aria-selected='true') Шаг 1
        li.nav-item
          a.nav-link(data-toggle='tab', href='#step2', role='tab', aria-selected='false') Шаг 2
      .tab-content
        #step1.tab-pane.fade.show.active(role='tabpanel')
          .signup__content
            form.form(action="#", method="POST")
              .row
                .col-lg-4
                  .form__item.form-group
                    label.form__label Фамилия
                    input.input.form-control(type="text", placeholder="Введите вашу фамилию")
                .col-lg-4
                  .form__item.form-group
                    label.form__label Имя
                    input.input.form-control(type="text", placeholder="Введите ваше имя")
                .col-lg-4
                  .form__item.form-group
                    label.form__label Отчество
                    input.input.form-control(type="text", placeholder="Введите ваше отчество")
              .row
                .col-lg-4
                  .form__item.form-group
                    label.form__label Телефон
                    input.input.input--phone.form-control(type="text", placeholder="+7 ( ___ ) ___ - __ - __")
                .col-lg-4
                  .form__item.form-group
                    label.form__label E-mail
                    input.input.input--email.form-control(type="email", placeholder="sample@sample.com")
              .row
                .col-lg-4
                  .form__item.form-group
                    label.form__label Пароль
                    input.input.form-control(type="password")
                .col-lg-4
                  .form__item.form-group
                    label.form__label Повторите пароль
                    input.input.form-control(type="password")
              .form__footer
                button.btn.btn-primary.btn-green(type="submit") Продолжить
                p.form__footer-agreement Нажимая кнопку я соглашаюсь с 
                  a(href="#") пользовательским соглашением
        #step2.tab-pane.fade(role='tabpanel')
          .signup__content
            form.form(action="#", method="POST")
              .form__info
                .form__info-item ID: 
                  span.form__info-item-content 4455896
                .form__info-item Зарегистрирован: 
                  span.form__info-item-content 04.06.2020
              .row.mb-15
                .col-md-7.col-lg-4
                  .row
                    .col-4
                      .custom-file.custom-file--gray.custom-file--photo
                        input#customFile1.custom-file-input(type='file')
                        label.custom-file-label(for='customFile1') Добавить личное фото
                    .col-8.d-flex.flex-column.justify-content-between
                      p.font-weight-bold.mb-0 Горбатов Вячеслав Георгиевич
                      .form__item.form-group.mb-lg-0
                        label.form__label Страна
                        select.select
                          option(disabled, selected) Выберите
                          option Страна 1
                          option Страна 2
                .col-md-5.mt-15.mt-md-0
                  .row.row--h-100
                    .col-lg-6.d-flex.flex-column.justify-content-between
                      div
                        p.font-weight-bold.mb-lg-5 +7 ( 975 ) 966 - 55 - 43
                        p.p--xs sample@sample.com
                      .form__item.form-group.mb-lg-0
                        label.form__label Федеральный округ
                        select.select
                          option(disabled, selected) Выберите
                          option Округ 1
                          option Округ 2
                    .col-lg-6.d-flex.flex-column.justify-content-between
                      .form__item.form-group.mb-lg-5
                        label.form__label Дата рождения
                        input.input.form-control(type="text", placeholder="__.__.____")
                      .form__item.form-group.mb-lg-0
                        label.form__label Регион
                        select.select
                          option(disabled, selected) Выберите
                          option Регион 1
                          option Регион 2
                .col-lg-3.d-flex.flex-column.justify-content-between
                  .form__item.form-group
                    label.form__label Пол
                    select.select
                      option(disabled, selected) Выберите
                      option Мужской
                      option Женский
              .row
                .col-lg-4
                  .form__item.form-group
                    label.form__label Ссылка на аккаунт в Facebook
                    input.input.input--fb.form-control(type="text")
                .col-lg-4
                  .form__item.form-group
                    label.form__label Ссылка на аккаунт во Вконтакте
                    input.input.input--vk.form-control(type="text")
                .col-lg-4
                  .form__item.form-group
                    label.form__label Ссылка на аккаунт в Инстаграм
                    input.input.input--ig.form-control(type="text")
            .form__disability
              .row
                .col-sm.d-flex.align-items-end
                  .form__item.form-group
                    label.form__label Ограничения по здоровью
                    select.select
                      option(disabled, selected) Выберите
                      option Ограничение 1
                      option Ограничение 2
                .col-sm.d-flex.align-items-end
                  .form__item.form-group
                    label.form__label Группа инвалидности
                    select.select
                      option(disabled, selected) Выберите
                      option Группа 1
                      option Группа 2
                .col-sm.d-flex.flex-column.justify-content-end
                  .form__item.form-group
                    label.form__label Классификация формы инвалидности
                    select.select
                      option(disabled, selected) Выберите
                      option Классификация 1
                      option Классификация 2
                .col-lg-4.d-flex.align-items-center
                  p.p--xs.text-gray.mb-0 В целях защиты здоровья ФЗ №152, ст. 10, п. 2, пп.3
            legend.p.font-weight-bold.mt-20 Паспортные данные
            .row
              .col-lg-4
                .row
                  .col-4
                    .form__item.form-group
                      label.form__label Серия
                      input.input.input--passport-series.form-control(type="text", placeholder="__ __")
                  .col-8
                    .form__item.form-group
                      label.form__label Номер
                      input.input.form-control(type="text", placeholder="__ __")
              .col-lg-4
                .form__item.form-group
                  label.form__label Кем выдан
                  input.input.form-control(type="text")
              .col-lg-4
                .row
                  .col-4.d-flex.flex-column.justift-content-end
                    .form__item.form-group
                      label.form__label Когда выдан
                      input.input.form-control(type="text", placeholder="__ __")
                  .col-8.d-flex.flex-column.justify-content-end
                    .form__item.form-group
                      label.form__label Код подразделения
                      input.input.input--code.form-control(type="text", placeholder="___-___")
            .row
              .col-lg-4
                .form__item.form-group
                  label.form__label Населенный пункт
                  input.input.form-control(type="text")
              .col-lg-4
                .form__item.form-group
                  label.form__label Улица
                  input.input.form-control(type="text")
              .col-lg-4
                .row
                  .col-4
                    .form__item.form-group
                      label.form__label Дом
                      input.input.form-control(type="text")
                  .col-8
                    .form__item.form-group
                      label.form__label Место рождения
                      input.input.form-control(type="text")
            .row.justify-content-between
              .col-lg-3
                .form__item.form-group
                  label.form__label Скан паспорта
                  .form__file
                    .custom-file.custom-file--gray
                      input#customFile1.custom-file-input(type='file')
                      label.custom-file-label(for='customFile') Добавить файл
              .col-lg-5.d-flex.align-items-center
                .form__file-name Filename.pdf 
                .form__file-size 258 mb
                a.form__file-remove(href="#")
              .col-lg-4
                .form__item.form-group
                  label.form__label Гражданство
                  select.select
                    option(disabled, selected)
                    option Гражданство 1
                    option Гражданство 2
            legend.p.font-weight-bold.mt-20 Проживание
            .row
              .col-lg-2
                .form__item.form-group
                  label.form__label Индекс
                  input.input.form-control(type="text")
              .col-lg-4
                .form__item.form-group
                  label.form__label Регион
                  input.input.form-control(type="text")
              .col-lg-4
                .form__item.form-group
                  label.form__label Населенный пункт
                  input.input.form-control(type="text")
            .row
              .col-lg-4
                .form__item.form-group
                  label.form__label Улица
                  input.input.form-control(type="text")
              .col-lg-2
                .form__item.form-group
                  label.form__label Дом
                  input.input.form-control(type="text")
            legend.p.font-weight-bold.mt-20 Работа
            .row
              .col-lg-4
                .form__item.form-group
                  label.form__label Организация
                  input.input.form-control(type="text")
              .col-lg-4
                .form__item.form-group
                  label.form__label Должность
                  input.input.form-control(type="text")
              .col-lg-2
                .form__item.form-group
                  label.form__label Стаж
                  input.input.form-control(type="text")
            legend.p.font-weight-bold.mt-20 Образование
            .row
              .col-lg-4
                .form__item.form-group
                  label.form__label Уровень образования
                  select.select
                    option(disabled, selected)
                    option Уровень 1
                    option Уровень 2
              .col-lg-8
                .form__item.form-group
                  label.form__label Наименование учебного заведения (без сокращений)
                  input.input.form-control(type="text", placeholder="ФГБОУ ВО «Московский государственный университет имени М.В.Ломоносова»")
            .row
              .col-lg-4
                .form__item.form-group
                  label.form__label Профессия (специальность)
                  input.input.form-control(type="text")
              .col-lg-2
                .form__item.form-group
                  label.form__label Год окончания
                  input.input.form-control(type="text")
            a.form__add(href="#") Добавить
            .form__footer
              button.btn.btn-primary.btn-green(type="submit") Сохранить информацию
              p.form__footer-agreement Нажимая кнопку я соглашаюсь с 
                a(href="#") пользовательским соглашением
