.signup {
  position: fixed;
  z-index: 4;
  top: 36px;
  left: calc(7.4vw + 35px);
  padding: 35px 30px 30px;
  display: none;
  width: 100%;
  max-width: 66.7vw;
  max-height: calc(100vh - 72px);
  background: #fff;
  border-radius: 20px;

  @include media-breakpoint-down(xl) {
    max-width: calc(92.6% - 70px);
  }

  @include media-breakpoint-down(md) {
    top: 85px;
    left: 35px;
    overflow: auto;
    max-width: calc(100% - 70px);
    max-height: calc(100vh - 122px);
  }

  @include media-breakpoint-down(sm) {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    overflow: auto;
    width: 100%;
    max-width: none;
    height: 100%;
    max-height: none;
    border-radius: 0;
  }

  &__content {
  }

  &__close {
    position: absolute;
    top: 25px;
    right: 30px;
    display: block;
    width: 16px;
    height: 16px;
    background: url(../img/form-close.svg) no-repeat center;
    background-size: contain;
  }

  &__radio-header {
    margin-right: 20px;
    font-family: $font-family-secondary;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    color: $dark;

    @include media-breakpoint-down(xl) {
      max-width: 200px;
    }
  }

  &__partners-section {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  &__partners-section-content {
    margin-right: 20px;
    display: flex;
    flex-shrink: 0;

    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }

  &__default-header {
    max-width: 80%;

    @include media-breakpoint-down(md) {
      max-width: 85%;
    }
  }

  .ps__rail-y {
    right: 10px !important;
    display: block !important;
    opacity: 1;
  }

  .ps__thumb-y {
    background: $gray-500 !important;
  }
}
