.signup {
  position: absolute;
  z-index: 3;
  top: 36px;
  left: 35px;
  padding: 35px 30px 30px;
  display: none;
  width: 100%;
  max-width: 66.7vw;
  background: #fff;
  border-radius: 20px;

  @include media-breakpoint-down(xl) {
    max-width: calc(100% - 70px);
  }

  @include media-breakpoint-down(sm) {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    overflow: auto;
    width: 100%;
    max-width: none;
    height: 100%;
    border-radius: 0;
  }

  &__content {
  }

  &__close {
    position: absolute;
    top: 25px;
    right: 30px;
    display: block;
    width: 16px;
    height: 16px;
    background: url(../img/form-close.svg) no-repeat center;
    background-size: contain;
  }
}
